---
layout: story
title: "After legalizing marijuana, Alaska struggles to roll out regulations"
byline: Emi Sasagawa 
credits:
  - Emi-Sasagawa
hero: alaska-hero
hero-credit: Sean Logan
permalink: /after-legalizing-marijuana-alaska-struggles-to-roll-out-regulations/
slug: alaska
socialimage: alaska-hero-768.jpg
blurb: In 1975, the Alaska Supreme Court ruled that people could possess and use a small amount of marijuana in their home, citing the right to privacy section of the Alaska Constitution. Last year, Alaska became the third state to legalize recreational marijuana, the first red state to do so.
soundcite: no
section: recreational
---

{% include e-pull-pin.html %}

<p>ALASKA – Native Alaskan Leif Abel knew how to hunt, fish, trap and grow organically by the time he was 8. In the family greenhouse, marijuana plants grew among the tomatoes, cucumbers and garden flowers.</p>

<p>“On the Yukon when I was a kid, it was as normal as anything else,” he recalled. “I probably was pretty old before I realized that it was a little bit of a societal taboo.”</p>

<p>Last November, Alaska legalized recreational marijuana. The voter initiative passed 53 to 47 percent, but it was hardly unforeseen to people like Abel living in the state’s interior. Long ingrained in their culture, Alaskans have been growing and using marijuana in their homes for decades.</p>

<!--OVERVIEW MAIN VIDEO--><!-- FINISHED -->

{% include e-vimeo.html video="135302546" caption="Alaska legalized recreational marijuana in November, but people have been using and growing it for years." %}

<p>Nearly 40 years ago, the Alaska Supreme Court ruled that an adult’s right to use and possess a small amount of marijuana at home for personal use was protected under the Alaska Constitution’s right to privacy.</p>

<p>But now, the state’s unique history with cannabis also poses unique challenges to legalization. Alaska has struggled to roll out regulations that please its conservative majority while at the same time staying true to the initiative’s intentions.</p>

<p>Just one cannabis-related bill, which created the Marijuana Control Board (MCB), passed in this year’s legislative session.</p>

<p>“We are struggling,” said Cynthia Franklin, director of the board and former prosecutor. “I’ve tried a death penalty capital murder and this is harder than that.”</p>

<p>Senate Bill 30, arguably the most important piece of legislation in Alaska dealing with the legalization of cannabis, never was approved. Without it, the new law contradicts existing statutes, leaving law enforcement officers not knowing what to do.</p>

<p>“The tendency is to not enforce any of the laws,” said Deputy Chief Brad Johnson of the Fairbanks Police Department.</p>

<p>Many questions remain unanswered. Regulations for the new cannabis market, including laws on licensing and zoning, are unresolved. Gov. Bill Walker named five members to the MCB on July 1. The board has until November to draft and adopt statewide regulations pertaining to the cultivation, manufacture and sale of cannabis.</p>

<p>For now, it’s a time of uncertainty for Alaskans.</p>

<!-- *** SECTION BREAK *** -->

<p>A narrow dirt road leads up to Abel’s house. Until recently the road had no name, just a hand painted number on a wooden plaque. Abel waited at the top of his two-story house, in a perfectly pressed, spotless navy button-down. He had been up since 5 a.m. feeding the cows, collecting chicken eggs and milking the goats.</p>

<p>One of Abel’s earliest memories was of his parents discussing the Alaska Supreme Court’s ruling in Ravin v. Alaska. “It changed everything,” he said, as he stared at a small potted cannabis plant sitting on the kitchen counter.</p>

<!--LEIF STANDALONE: leif-abel-1-768--> <!-- FINISHED -->


<p>In 1972, attorney Irwin Ravin was arrested in Anchorage after being pulled over by police for driving with a broken taillight. At the time, Ravin was in possession of cannabis and refused to sign a ticket. He appealed the conviction and within three years took the case all the way to the Alaska Supreme Court.</p>

<p>Ravin was familiar with the state’s libertarian mindset and its “stay out of my business” philosophy. So when he set out to change the law he didn’t just focus on cannabis. Instead he decided to base his defense on something Alaskans valued dearly — their right to privacy.</p>

<!--LEIF VIDEO VIGNETTE (TK)--><!-- Finished -->
{% include e-pull-vimeo.html video="135483112" caption="Since he was a child, Leif Abel has been farming and gardening. He also saw his father growing marijuana — something that he has taken up as an adult and made an important part of his life." %}

<p>It paid off. In 1975, the court ruled in his favor, making Alaska the first state to legalize cannabis for in-home, personal use. The decision paved the way to legalize medical cannabis in 1998 and recreational cannabis last year.</p>

<p>Under the new Alaska law, people 21 and older are allowed to possess up to an ounce of cannabis and grow up to six plants in private. They are also allowed to gift up to one ounce or six immature cannabis plants to others who are 21 and older.</p>

<!--LEIF STANDALONE: Leif-2--> <!-- FINISHED -->
{% include e-parallax.html image="horses-parallax" caption="Alaska’s vast territory and its unique history with cannabis also poses unique challenges to legalization. (Photo by Sean Logan | News21)" %}

<p>Abel lives on a large plot of land with his wife and two children, in the Kenai Peninsula. His brother and father are his only neighbors, his house surrounded by tall, green western hemlock trees. Abel is Alaskan-born, unlike the roughly 60 percent of people living in the state. According to him, the state attracts independently minded people. Coupled with a set of laws that defends privacy, that translates into more people growing and consuming cannabis.</p>

<p>“People come here because they want to be able to do what they want and be left alone,” Abel said. “People want to be allowed to do what they want without being told what to do by the government with cannabis.”</p>

<!-- *** SECTION BREAK *** -->

<p>John Collette moved to Fairbanks when he was 4 years old, in 1952. He considered leaving the state many times, but deep down knew Alaska was the only place for him. “There is always a culture shock when you leave,” he said. “In other states people follow the rules and care about what others think. We don’t have that here.”</p>

<!--JOHN VIDEO VIGNETTE (TK)--> <!-- Finished -->
{% include e-pull-vimeo.html video="135483113" caption="John Collette grew and sold marijuana illegally until his home and facilities were raided in 1992. His opinion about marijuana resembles the views of many Alaskans: It’s just another plant to grow." %}

<p>Shortly after the Supreme Court ruling in 1975, he began to experiment with cannabis. It started with a few plants in a small field on his property, but things escalated quickly. Inside a greenhouse, Collette and his wife grew tomatoes, cucumbers, roses and cannabis. He operated in the black market, selling no less than half a pound per transaction. In the 16 years he grew and sold cannabis, he never met the customers. There was always a middleman. It was a daily exercise of freedom from government intervention.</p>

<!-- JOHN IMAGE GALLERY --> <!-- needs to have photo sizes checked -->
{% include e-slideshow.html uniqueid="john" %}

<p>“We had 35,000 square feet of legal greenhouses and 300 square feet of illegal marijuana,” said Collette, who is 69, but said he doesn’t feel his age. He dresses in washed jeans and sneakers and carries a flip phone. Thin-rim round glasses rest on his wrinkled nose. Inside, his house is darkly lit, sparsely decorated with model airplanes and old photos of his children. </p>

<p>However, for over a decade Collette wasn’t allowed to step into the place he called home. In 1992, his house and business were raided by state and federal authorities, led by the Drug Enforcement Administration. He served eight and a half years of an 11-year sentence for cannabis-related crimes and was released in early 2003. Since then, Collette has stayed out of the cannabis industry, though that may change now that businesses are legal in the state.</p>

<!--JOHN STANDALONE: john-collette-768--> <!-- FINISHED -->
{% include e-pull-image.html image="john-collette-768.jpg" caption="Collette's was released from prison in 2003 after serving more than 8 years of an 11-year sentence for cannabis-related crimes. (Photo by Sean Logan | News21)" %}

<p>Collette is now concerned about how the new market might influence the state’s cannabis community and values. He said he would prefer it to be a casual exchange as opposed to a commercial transaction.</p>

<p>“I am looking for the time where it's of no consequence,” said Collette. “It never has been a big deal and it shouldn't be a big deal in the future.”</p>

<!-- *** SECTION BREAK *** -->

<p>Sitting behind a large, cluttered desk on the second floor of the Fairbanks Police Department, Brad Johnson explained why passing Senate Bill 30, dubbed the “marijuana crime bill,” was important for law enforcement. In front of him, a postcard in a small photo frame reads, “Dare to soar.” Johnson is the president of the Alaska Association of Chiefs of Police.</p>

<p>The ballot initiative has legalized certain aspects of marijuana use and marijuana possession, he says, but existing state statutes haven't changed. “We have statutory conflict. [Cannabis] remains a controlled substance, by statute. The penalties for possession, use, sale, manufacture as written prior to the ballot initiative remain in effect,” he said.</p>

<p>In this year’s legislative session, the state had difficulty balancing the concerns of its conservative majority while honoring the will of its voters. House Bill 123, dealing with the creation of the MCB, was the only marijuana-related bill approved in the entire session.</p>

<p>“It's very difficult for the line officer right now because they have no clear guidance,” explained Johnson.  </p>

<p>He said officers will rely on the Marijuana Control Board for regulatory guidance until the Legislature meets next year. But even then, he’s skeptical of what can be achieved without an outright correction of the statutes. It’s unclear whether the Legislature will arrange an emergency meeting later in 2015.</p>

<p>The deputy chief is especially worried about regulations for driving under the influence of drugs (DUID) offenses. Officers are not prepared to detect impaired drivers under the influence of marijuana, he says. There is nothing in Title 28, the statute dealing with motor vehicles, about cannabis intoxication in particular. Without guidelines each arrest will be dealt with on a case-by-case basis. </p>

<p>“The next year is going to be very, very challenging.”</p>

<!-- *** SECTION BREAK *** -->

<p>Cynthia Franklin walked about the office with intent, moving reports around before sitting behind her desk to answer the flurries of emails, one “ping” after another. Since taking the job as the director of the Alcoholic Beverage Control (ABC) Board last September, it’s been a constant flow of questions, comments and interview requests flooding her inbox. </p>

<p>The initiative made the ABC Board responsible for adopting and implementing regulations relating to the cultivation, manufacture, and sale of cannabis until the MCB was created.</p>

<!--BRANDON IMAGE GALLERY--> <!-- needs to have photo sizes checked -->
{% include e-slideshow.html uniqueid="emmett" %}

<p>When House Bill 123 passed in April, Franklin was appointed director of the MCB. Her new office in downtown Anchorage has a 180-degree view of the city, with the mountains in the backdrop. “There’s a lot of people waiting for me to fail,” she said. “It makes the process more stressful, but also more fun.”</p>

<p>On the wall of her office, a large blackboard is covered in color-coded mappings of the rulemaking process. At the top of her concerns Franklin listed the emergence of a gray market. With no legal dispensaries in the state, in spite of its medical marijuana law, Alaska has a long history of an underground cannabis industry.  </p>

<p>When the Alaska Medical Marijuana Initiative passed in 1998, the measure did not create provisions for medical dispensaries. Patients could either grow their own cannabis or appoint a caregiver. Caregivers, in turn, were only allowed to grow for one person other than relatives. The strict regulations and pre-existing Ravin ruling were the perfect mix for a thriving black market. </p>

<p>For example, Angel McCabe has grown cannabis organically for over a decade. She used to sell it illegally to medical marijuana users who could not grow on their own or find a willing caregiver. As a former black market grower, she had a lot of things to be scared of — getting robbed, raided or having her children taken away. </p>

<!--ANGEL STANDALONE: anchorage--> <!-- FINISHED -->
{% include e-parallax.html image="anchorage" caption="Angel McCabe, who has two children and is a former black market grower, has grown organic marijuana for more than a decade and hopes to start a legal grow operation. (Sean Logan | News21)" %}

<p>“A lot of us lived in fear for a long time that something would happen to us just for growing cannabis,” she adds. With the new law, McCabe is hoping to “make the switch into the light” and transition into the legal market. “We are getting there, slowly but surely.”</p>

<p>But according to Franklin, Alaska’s lack of a medical market, once a problem, could now play to the state’s advantage. Alaska would be the first to regulate the medical and recreational markets at the same time — and that could help defuse the gray market.</p>

<!--ANGEL STANDALONE: anchorage-3-768--> <!-- FINISHED -->
{% include e-pull-image.html image="anchorage-3-768.jpg" caption="McCabe looks at a potential property with a real estate agent for a future marijuana business, Athena's Bliss. (Photo by Sean Logan | News21)" %}

<p>Currently there are no provisions for medical sales, which means all marijuana under the new voter initiative would be treated the same way throughout the state. There would be no separate markets or taxes for recreational and medicinal use, as is the case in Colorado and Washington. </p>

<p>“By virtue of that, we are going to avoid a lot of the problems the other states have seen with having a regulated market and an unregulated market,” Franklin added.  </p>

<p>The MCB has until November to create and adopt regulations. By February 2016, the MCB would begin accepting business license applications.</p>

<!--LEIF STANDALONE: Leif Abel_4--> <!-- FINISHED -->
{% include e-parallax.html image="leif-4" caption="Abel plans to open a marijuana business called Greatland Ganja. While he said it's a risky business to enter, he doesn't see that as a roadblock. (Photo by Emi Sasagawa | News21)" %}

<p>For people looking to get into the market, the evolving process still is confusing. Abel is hopeful nonetheless. Next year he will apply for a marijuana business license. He’s spent the last few months testing marijuana edibles, meeting with lawyers and designing logos for Greatland Ganja, a family-run business he wants to open with his father and brother and one day hopes to pass on to his children. </p>

<p>“I feel a greater buy-in and a greater respect for my own society as a whole because I’ve been given this public signal that what I am doing is no longer illegal,” he said, pausing for a brief second. “That means a lot to me. I think it means a lot to a lot of people in this state.”</p>