---
layout: story
title: "While marijuana advocates look to legalize in Arizona, concerns remain about medical marijuana program"
byline: "Jayson Chesler, Lex Talamo and Sean Logan"
credits:
  - Jayson-Chesler
  - Lex-Talamo
  - Sean-Logan
hero: arizona-hero
hero-credit: Sean Logan
permalink: /while-marijuana-advocates-look-to-legalize-in-arizona-concerns-remain-about-medical-marijuana-program/
slug: arizona
socialimage: arizona-hero-768.jpg
blurb: "Arizona has been targeted as a state that could potentially legalize recreational marijuana in 2016. But problems remain in the state’s medical marijuana system."
soundcite: no
section: politics
---


{% include e-sections.html slug="arizona" %}



<p>PHOENIX – When Arizona voters approved medical marijuana in 2010, the traditionally conservative state did so tentatively: The “yes” campaign garnered 50.1 percent of the vote. </p>

<p>So what’s happened since? </p>

<p>State officials now call Arizona’s system a model for other states, and members of the pro-legalization campaign deem the system a big success. </p>

<p>“If you walk up to a person on the street and say, ‘Did you know there are weed shops here?’ most people that I’ve encountered that aren’t really related to the medical marijuana world don’t even know,” said Carlos Alfaro, Arizona political co-director for the Marijuana Policy Project, the Washington, D.C.-based group that spearheaded Arizona's medical marijuana campaign.</p>

<p>“It has gone so smoothly and so well that there haven’t been any major hiccups,” Alfaro said.</p>

<p>However, opponents of marijuana legalization said the system is “cloaked in secrecy” and questioned whether Arizona is a model state, pointing to factors like its high number of medical marijuana cardholders. They also raise concerns about a lack of transparency and question whether the system has hindered drug cartels as supporters claimed it would. </p>

{% include e-pull-pin.html %}

<p>Now, just five years after voters approved medical marijuana, pro-legalization groups have once again targeted Arizona as a state that could legalize recreational marijuana in 2016. A Marijuana Policy Project-backed campaign is gathering signatures for a ballot initiative to legalize weed for anyone over 21. </p>

<p>Some local marijuana advocates who oppose the project’s initiative have broken away from that effort and are pushing a competing initiative that would call for fewer restrictions for consumers and for potential recreational dispensary owners.<a name="a1"></a> </p>

<p>And opponents to marijuana legalization are pushing back at public events, on billboards and in local media. Two of the state’s biggest anti-drug advocates, Yavapai County Attorney Sheila Polk and Maricopa County Attorney Bill Montgomery, have formed a group to combat any attempts at marijuana legalization in 2016.</p>

<h2>Critics: Medical marijuana cards too easy to obtain </h2>

<p>Prescott resident Sally Schindel said she became involved in opposing marijuana legalization after her son committed suicide, leaving a note that said marijuana killed his soul and ruined his brain. Since the death of her 31-year-old son, Schindel has become treasurer for Arizonans for Responsible Drug Policy, the political action committee working to defeat any recreational legalization efforts. </p>

<p>Schindel, whose son had a medical marijuana card, said she doesn’t oppose medical marijuana itself. But she said it’s too easy to obtain a card. </p>

<p>As of June, more than 76,000 people had active medical marijuana cards in the state, according to a monthly report from the Arizona Medical Marijuana Program. Arizona has 14 qualifying conditions to get a card, ranging from cancer and hepatitis C to severe and chronic pain. Patients must provide a doctor with 12 months worth of medical records before they can get a written certification and obtain a card. </p>

<p>Will Humble served as the director of the Department of Health Services and oversaw implementation of the system. Humble, who now works for the University of Arizona, had at one point estimated only 20,000 people would likely qualify for medical marijuana cards because of the state’s stringent rules. </p>

<p>Humble said the program’s regulations attempted to capture the essence of what voters had approved in 2010.</p>

<p>“I think we did a decent job of putting together a set of regulations that makes it easy for a ‘real’ cardholder, a person who is legitimately seeking marijuana for a medical reason,” Humble said, “while at the same time, making it inconvenient for the recreational user to get a card.”</p>

<p>Critics of the system said that listing severe and chronic pain as a qualifying condition opened the door to legal use by individuals who want to use marijuana for recreational reasons. In Arizona, 90 percent of the state’s cardholders listed chronic pain as at least one factor on their applications. And most of them were male, ages 18 to 30, according to the Arizona Medical Marijuana Act 2014 End of Year Report. </p>

<p>Ed Gogek, author of "Marijuana Debunked: A Handbook for Parents, Pundits, and Politicians who Want to Know the Case Against Legalization," said he doubts the majority of Arizona’s cardholders legitimately need medical marijuana. Gogek told News21 via email that nationwide, most pain patients are female, and older in age, while the average Arizona medical marijuana cardholder claiming pain is young and male.</p>

{% include e-parallax.html image="arizona" caption="Blythe Huestis is the dispensary manager for Natural Selections in Cave Creek, which carries a variety of marijuana products from bud to edibles. (Photo by Sean Logan | News21)" %}

<p>“The best explanation for such skewed numbers is that most medical marijuana recipients are drug abusers who are either faking or exaggerating their problems,” Gogek wrote in a 2012 New York Times op-ed.</p>

<p>Gogek, an addiction psychiatrist who lives in Prescott, Arizona, said during a phone interview that several of his patients told him they received medical marijuana cards after going to a doctor and making up a story.  </p>

<p>“It’s very unlikely that even a majority of these patients are genuine,” Gogek said. “What’s going on is drug dealing under the guise of medical care.”</p>

<p>Humble said the system’s weakest links are a handful of physicians who issue a disproportionate share of certifications, and the limited ability of the Department of Health Services to hold those physicians accountable.</p>

<p>“There’s really very limited disciplinary actions that (the department) can take against any physicians who are signing certifications without fully complying with the requirements,” Humble said. “That enforcement is left up to those licensing boards.”</p>

<p>More than a dozen businesses in the Phoenix area advertise online to potential patients: “No records? No problem!” or “Get a medical marijuana card for only $99.”  </p>

<p>According to department reports, fewer than 500 of the state’s more than 27,000 eligible physician certifiers actually wrote certifications. </p>

<p>Naturopathic doctors, whose medical practices emphasize prevention and holistic treatments,   wrote more than 75 percent of the total certifications. These doctors wrote an average of 275 patient certifications per year compared to an average of 21 certifications per doctor of medicine. </p>

<p>Dr. Craig Runbeck, former executive director of the Arizona Naturopathic Physicians Board of Medical Examiners, said naturopathic doctors are more comfortable writing certifications because of naturopathy’s inclusion of plant-based medicines.</p>

<p>“Marijuana is an herb, something we are trained to deal with,” Runbeck said. “Compared to the side effects of many narcotics, marijuana is a safer alternative.”</p>

{% include e-pull-image.html image="dave.jpg" caption="Dave Wisniewski, chairman of Safer Arizona and an advocate for legalizing recreational marijuana, puts together stacks of petitions. (Photo by Jayson Chesler/News 21)" %}

<p>State medical boards have filed multiple complaints against naturopathic physicians since medical marijuana became legalized. Runbeck said several naturopathic doctors originally reprimanded by the Arizona Naturopathic Physicians Medical Board did not understand how to correctly use the state’s controlled substances database, which allows physicians to see if patients have prescriptions to other controlled substances. Doctors must access the system before writing certifications for medical marijuana.  </p>

<p>In 2012, the board reprimanded Dr. Christine Strong for failing to physically examine eight patients before certifying they qualified for medical marijuana and writing four certifications for chronic pain that the patients’ medical records did not support, according to a disciplinary report from the medical board. Strong said the board absolved her after she made changes to her practice, including learning to use the database correctly and keeping clearer patient charts.</p>

<p>As a naturopathic doctor now working at the Cannabis Patient Evaluation Center in Tempe, Strong continues to write certifications. </p>

<p>“It doesn’t always take away the pain completely, but it changes patients’ response to the pain,” Strong said. “But there’s still a stigma. Patients are still feeling harassed.”</p>

<p>Many patients said medical marijuana has improved their productivity and overall quality of life. </p>

<p>Whether he’s advocating for marijuana or gathering petitions for a ballot initiative, it’s tough to miss Dave Wisniewski, chairman of Safer Arizona, a political action committee. His rigid 6-foot-4-inch stature makes him easy to notice. His giant “Marijuana is safer than alcohol” sign helps, too.</p>

<p>Wisniewski said he uses medical marijuana to treat his back pain and post-traumatic stress disorder. He supported marijuana legalization well before his time in the military, but the conditions he developed while serving overseas in the Army showed him the drug’s medical benefits compared to the four pharmaceutical drugs doctors prescribed him after his combat service.<a name="a2"></a></p>

<p>“When I would take the (anti-anxiety drug) lorazepam, it would feel like I was hit in the head with a shovel,” Wisniewski said. “When I use cannabis, it's like I'm very calm and collected, and I can get back to actually being productive and go to work."</p>


<h2>Statistics show cartels, crime not impacted</h2>

{% include e-vimeo.html video="135780105" caption="Marijuana continues to be trafficked through the U.S.-Mexico border in Nogales, Arizona." %}

<p>Some supporters of the medical marijuana program – and the push for a potential recreational program – argue that a legal, taxed market helps curb drug cartels and illegal trafficking in the state. </p>

<p>Federal and local officials said there’s no evidence Arizona’s medical marijuana program has hurt the black market. </p>

<p>Phoenix Police Department Commander Brent Vermeer said via email that he didn’t have empirical data to show the impact of medical marijuana on law enforcement, but “it unequivocally has not impacted the cartels’ sales practices for marijuana.” </p>

<p>He wrote in an email that the department has investigated homicides related to marijuana, and burglars recently stole $500,000 worth of marijuana from one dispensary. “Within two days, their front office was robbed at gunpoint of several thousands of dollars,” he wrote.</p>

<p>“Violence follows drugs, regardless of whether they are legal or not,” he added. “The drugs have value … and human lives don’t to those who operate in the drug world.”</p>

<p>Border protection officers at the DeConcini Port of Entry in Nogales said thousands of vehicles enter the U.S. from Mexico there daily. While it’s nearly impossible to determine how much of the illicit marijuana that is trafficked through the Mexico border actually remains in the state, Arizona still remains a hub for distribution to other parts of the country, and authorities haven’t seen any decrease in trafficking.</p>

<p>Cartel trafficking has shifted, placing more focus on hard narcotics like cocaine, heroin and methamphetamines than in the past, officers said. Despite the change in demand, marijuana still remains the most smuggled drug in Arizona, officials said.</p>

<p>According to the agency, the amount of marijuana seized across all Arizona ports of entry has increased by 19 percent – from 38,050 kilograms to 45,255 kilograms –  in fiscal year 2015.</p>

<p>Officer Marcia Armendariz said large cargo shipments of marijuana have increased.</p>

<p>“Marijuana is still there,” Armendariz said. “They’re still trying to smuggle in marijuana because it will pay off … the cartels.” </p>

<p>Schindel said drug cartels will always exist, and they can sell their product more cheaply.</p>

<p>“They can always undercut,” she said. “They don’t have the overhead. They don’t have the taxes.”</p>

<p>Phoenix medical marijuana dispensaries Encanto Green Cross and Nature’s AZ Medicines list their cheapest ounces of marijuana at $280, while medium-quality black market marijuana goes for under $210 per ounce in Arizona, according to Price of Weed, a crowdsourced marijuana price index. </p>

<p>Marijuana-related arrests within the state have not seen a dramatic decrease either, according to statewide police data compiled by the Arizona Department of Public Safety. </p>

<p>Yearly possession arrests have dropped since the state legalized medical marijuana, from as high as 20,000 in 2009 to roughly 16,000 per year since 2010. However, arrests for marijuana distribution have remained steady at about 1,600 per year. </p>

<p>Opponents to legalization said the most important marijuana crimes involve children, including kids illegally obtaining legal medical marijuana. </p>

<p>“A big thing parents need to pay attention to is where kids are getting drugs and alcohol from,” said Justin McBride of Drug Free AZ Kids. “And the youth survey tells us it was from (medical marijuana) cardholders.”<a name="a3"></a></p>

<p>In the 2014 Arizona Youth Survey, a survey of kids in eighth, 10th and 12th grades conducted by the state justice commission, 14 percent of kids who reported use of marijuana stated that they got it from someone with a medical marijuana card. The sample size was roughly 8,000 students.</p>

<h2>Revenue and regulations prove challenging to track</h2>

<p>In 2010, then-Attorney General Tom Horne estimated the tax from medical marijuana sales would bring in $40 million a year. Five years later, state officials said they still don’t have exact tax revenue figures from the sale of marijuana.</p>

<p>While the Department of Health Services keeps track of how much medical marijuana consumers buy in any given year, they don’t track how much money changes hands. </p>

<p>The Department of Revenue, the agency in charge of administering tax laws in Arizona, tracks medical marijuana tax collections. But officials said marijuana sales aren’t distinguished from sales of other individual retail, so they don’t have exact numbers or estimates of how much tax revenue marijuana has generated. </p>

<p>Arizona taxes marijuana sales at 6.6 percent, and cities tack on an additional 2 to 3 percent. Health department figures showed consumers bought more than 9,000 kilograms of marijuana in 2014, which the department estimated generated about $112 million in sales.</p>

<p>Tom Salow, branch chief for Arizona’s Medical Marijuana Program, said many states have reached out to use Arizona’s regulations as a model. When Arizona became the 15th state to legalize medical marijuana, the pro-legalization campaign emphasized stricter rules and regulations than those found in other medical states. </p>

<p>Twenty-three states and Washington, D.C., have legalized medical marijuana, but Salow said Arizona’s system remains one of the best.</p>

<p>“I’m still told today that our regulations are still a model in the country,” Salow said.</p>

<p>However, critics of Arizona’s medical marijuana system said it’s difficult to tell just how well it works. Because of the confidentiality clause written into the voter-approved measure, the Department of Health Services can’t release all of the information it collects.</p>

<p>For example, the department can’t share information like the physical addresses of dispensaries or individual dispensary inspection records.</p>

<p>The department can share aggregate data, such as infractions among dispensaries and cultivation sites. According to the department’s 2014 annual report, inspectors found an average of 12.35 problems per inspection. The department conducted 113 inspections at dispensaries and cultivation sites. </p>

<p>Some of the most common issues inspectors found involved dispensaries that did not have a medical director on site, problems with administrative procedures and poor inventory control.</p>

<p>“That industry is cloaked in secrecy,” said Polk, the Yavapai County attorney. “The database is only used to track cardholders.”<a name="a4"></a></p>

<p>The department isn’t able to use and compare records to better understand the public health impact of medical marijuana in the state because of its heavy restrictions, Polk said. </p>

<h2>Groups look ahead to potential recreational legalization</h2>

<p>Attempts to pass recreational marijuana through the state Legislature have failed to pick up momentum since medical legalization. </p>

<p>Voter initiatives in Arizona need 150,000 signatures to make it to a ballot, so the push for recreational marijuana will require major financial backing. The Marijuana Policy Project, the national marijuana politics group that backed legalization in Colorado, provides support for one initiative for the 2016 ballot, the Campaign to Regulate Marijuana Like Alcohol.</p>

<p>The national group’s support should make it the only initiative capable of gathering the number of signatures needed for the ballot, said Barrett Marson, a spokesman for the campaign.</p>

<p>“We’re looking at a multimillion-dollar spending effort that includes getting signatures,” Marson said. “That’s a significant effort. It could be as much as $1 million to get signatures.” </p>

<p>Alfaro, the group’s Arizona political co-director, said they will push three key points: The taxes collected from sales will fund education, marijuana is safer than alcohol, and marijuana users will have a legal means to access pot, which will decrease the black market.</p>

<p>“I don’t think anyone disagrees that Arizona needs education funding,” Alfaro said. “This tax that will generate millions and millions of dollars toward education will be a big boost to that, and that’s one of the reasons why our initiative is so popular.”</p>

<p>Two of Arizona’s most prominent anti-drug forces, Polk and Montgomery, are helping to lead the charge against whatever marijuana initiatives make the 2016 initiative through their Arizonans for Responsible Drug Policy group.</p>

<p>The push for recreational marijuana only shows that medical marijuana companies aren’t actually interested in medicine, Polk said.</p>

<p>“Since when is a medicine something you use recreationally? Treat it like a medicine,” Polk said. “Keep it locked down.”</p>

<p>Seth Leibsohn, chairman for the group, also doesn’t buy the notion legalization will affect illegal drug trafficking. </p>

<p>“It would be basically an organized drug cartel,” Leibsohn said. “The idea that we would solve a problem in another country, that we would solve cartelized, illegal industry in another country by negatively affecting our children is public policy malfeasance.” </p>

<p>On top of opposition from anti-marijuana groups, the Marijuana Policy Project faces challenges from a collection of medical marijuana activists. The Campaign to Legalize and Regulate Marijuana splintered off from involvement with Marijuana Policy Project and is gathering signatures for a ballot initiative of its own.</p>

<p>That initiative includes higher possession and grow limits and lower penalties for breaking those limits, in addition to the potential for more marijuana stores. But it also targets one section of the policy project’s campaign that anti-marijuana groups agree is problematic – potential advantages for current dispensary owners. </p>

<p>The Marijuana Policy Project initiative allows city governments to forbid retail marijuana stores from opening within their borders, but cities could not bar stores opened by prior dispensary owners. It also creates a marijuana board to regulate both medical and recreational licensing, with three of the board’s seven members coming from members of the marijuana industry. </p>

<p>“They’re protecting their industry, the medical marijuana dispensaries, from newcomers entering the business,” Leibsohn said. “(Marijuana lawyer Tom Dean and I) don’t agree on much, but he put it well: If the MPP’s initiative passes, a handful of people will get very, very wealthy.” </p>