---
layout: story
title: "Lacking banks, marijuana businesses amass stacks of cash"
byline: "Clarissa Cooper and Michael Bodley"
credits:
  - Clarissa-Cooper
  - Michael-Bodley
hero: banking-hero
hero-credit: Sean Logan
permalink: /lacking-banks-marijuana-businesses-amass-stacks-of-cash/
slug: banking
socialimage: banking-hero-768.jpg
blurb: "Federal restrictions have made reliable banking nearly impossible for marijuana businesses, leading them to rely on safes and armed guards as they await reform."
soundcite: no
section: money
---

<p>DENVER – Every month, Jamie Perino hires a security detail to come to her three recreational marijuana dispensaries. They stop by, collect thousands of dollars in cash and head out to deliver the money to the state, county and city.</p>

<p>Perino, the CEO of Euflora dispensaries, said she can’t find a bank that will work with her. She pays her employees and her landlord in cash. She can only accept cash from customers. She must even pay her taxes in cash.</p>

<p>"I can’t bank my money," she said. "It’s really frustrating. … When I go to pay my federal taxes, you get a 10 percent penalty for paying in cash, but we can’t have a bank account. So it’s just a big Catch-22."</p>

<p>Thousands of owners of legal marijuana businesses in states throughout the country face the same dilemma. With banks reluctant to take on the risk and responsibilities associated with accepting money earned from a substance that's still illegal under federal law, banking has become a rare luxury in the marijuana industry.</p>

{% include e-pull-image.html image="Banking-01-768.jpg" caption="Jamie Perino, the CEO of Euflora dispensaries in Colorado, said she can only accept cash from customers because banks won't work with her. (Photo by Dom DiFurio | News21)" %}

<p>As marijuana becomes legal in more states for both medical and recreational use, the vast majority of banking institutions in the U.S. sit on the sidelines, bypassing billions in business. Banks say the risks are too many and their resources too few. Regulations force bankers to act as police, they say, responsible for making sure their customers comply with the law.</p>

<p>Guidelines issued by the Treasury Department call for banks involved in the marijuana industry to do "due diligence" in monitoring their customers for suspicious activity. No other industry comes close in terms of what’s required for compliance, said Robert Rowe, vice president and associate chief counsel of the American Banker’s Association.</p>

<p>"If a bank has a restaurant or a tavern that serves alcohol, they don't have to go in there and monitor to make sure the business isn’t serving alcohol to minors," Rowe said. "With a marijuana business, the obligation shifts back to the bank."</p>

<p>Strict regulations, extreme scrutiny and the sheer amount of required paperwork can deter banks from making marijuana banking a line of business. The few banks that will open accounts tied to cannabis often impose steep fees and a litany of other limitations on their clientele.</p>

<p>A Colorado-based financial startup has firsthand experience with the obstacles facing the industry. Fourth Corner Credit Union in Denver has been trying since November, when state regulators approved the venture, to open the first financial institution in the country catering exclusively to cannabis clients.</p>

<p>The credit union recently sued both the Federal Reserve in Kansas City, which refused to allow Fourth Corner to electronically transfer money, and the National Credit Union Administration, which refused deposit insurance, a Fourth Corner representative said.</p>

<p>"They gave us a little hope that we were going to have a chance … and then at the end of the day, they still rejected us," said Delaney Mason, head of government, scientific and industry relations at Fourth Corner.</p>

<p>The would-be credit union continues to sink both time and money into the company while legal problems slow its progress, Mason said.</p>

<p>"(Federal authorities) see it as too much of a risk, and we’ve had to do all these things to prove to them it’s not as risky as you think," Mason said. "I think it’s riskier for people walking around with 50K in their hands."</p>

<p>Banking remains unattainable for most dispensary owners, unless they have previous connections in banking or are willing to pay steep fees. ATMs are the most feasible way to keep customers supplied with cash without dealing directly with banks.</p>

<p>Dispensary owners place a high value on in-store ATMs since customers generally must pay cash, and pot isn’t cheap. A high-quality strain of marijuana can run upwards of $300.</p>

<p>Perino said she keeps her ATM at Euflora’s 16th Street Mall location in the heart of downtown Denver by having it listed under a different business name to avoid close scrutiny.</p>

<p> "That’s the question I’d probably prefer to not say too much about just because of the banking issue," she said. "It is ours, but it is under a separate business. It’s never been affiliated with (Euflora), but if they ever caught on, we’d lose it." </p>

{% include e-pull-image.html image="Brad-Zerman-banking-768.jpg" caption="Brad Zerman stands in front of his medical marijuana dispensary storefront in Oak Park, Illinois. The dispensary is set to open in late 2015. (Photo by Clarissa Cooper | News21)" %}

<p>Brad Zerman owns Sky Processing, an ATM service company based in Chicago. Zerman doesn’t see dispensaries as an area to shy away from. In fact, he embraces them as an exciting challenge and an opportunity to expand his business.</p>

<p>Zerman estimates that he provides ATM services for 75 to 100 dispensaries, mainly in Colorado, and he wants to spread ATMs into his home state of Illinois, which recently launched its medical marijuana program.</p>

<p>He also has found legal banking for himself: Illinois approved Zerman to open one of 56 dispensaries there. He said he believes many other dispensaries there will be able to find banking.</p>

<p>The bank that Zerman uses for his own marijuana dispensary is a "family-founded bank," Zerman said. "They were impressed and felt like we had a good plan and were very open to whatever kind of banking that we needed."</p>

<p>Zerman said his bank agreed to work with him on the condition that he would not disclose its name because its owners don’t want to work with other dispensaries.</p>

<p>"It’s not a legal issue really, it’s just the banks don’t want to deal with us," Zerman said. "Any banks who are going to be in this business whether they’re involved with ATMs or checking accounts, they’re just going to be under more scrutiny. And I think generally banks don’t want to be under scrutiny."</p>

<p>Bigger banks, meanwhile, wait for the industry to evolve and watch to see if marijuana’s Schedule 1 drug designation will drop. The Drug Enforcement Administration includes marijuana on its list of Schedule 1 drugs, which it describes as illicit substances with high potential for abuse and no medical benefits.  If marijuana’s designation dropped it would make the federal business of marijuana a less complex process. Some smaller operations have already tested the marijuana banking market with mixed results.</p>

{% include e-parallax.html image="Banking-02" caption="Many marijuana-related businesses operate on a cash-only basis because banks are reluctant to get involved in the pot industry. (Photo by Sean Logan | News21)" %}

<p>MBank, an Oregon-based financial institution that manages about $177 million in assets, </p>

{% include e-pull-pin.html %}

<p>this spring closed its accounts with marijuana-related businesses in Colorado, Oregon and Washington. That left some 100 marijuana companies – banking a total of $5 million to $6 million with MBank – back to stacking cash once more.</p>

<p>The community bank’s president and CEO Jef Baker said regulations requiring banks to police their cannabis customers for compliance with both state and federal law prompted MBank to withdraw from the business.</p>

<p>"There’s a lot of gray area in terms of where a bank’s responsibility begins or ends," Baker said. "We started getting a sense or feeling that we were being asked to do more than we set out to do in terms of monitoring customers and compliance with state and federal laws. … We felt like it was too much for us to take on."</p>

<p>Treasury’s February 2014 guidelines directed banks to verify business licenses within the state, request information on the business from state authorities, continually monitor for suspicious activities and red flags and gather information about how the business operates, including the products it sells.</p>

<p>MBank charged marijuana-related accounts between $250 and $750 per month, but that number would have had to go "way up" for the bank to better monitor its clients for illegal activity, Baker said.</p>

<p>"We all want to see a solution to this problem, but we’re all extremely cautious … not to misstep and find ourselves banking inappropriately," he said.</p>

<p>The industry’s lack of banking has been a problem since the get-go, said Steve DeAngelo, executive director of California’s Harborside Health Center, one of the nation’s largest medical marijuana dispensaries.</p>

<p>Federal money laundering laws and the drug’s federal Schedule 1 status renders almost all banks too timid to move into marijuana, he said, amounting to what he calls "fear tactics and intimidation." </p>

<p>"It looks like a situation where the perceived risk is greater than the real risk," DeAngelo said. "But bankers are conservative. They should be. They're dealing with other people's money."</p>

<p>The Justice and Treasury departments did not respond to requests for comment about whether the federal government has taken action against banks involved with cannabis-related companies.     </p>

<p>The guidelines are just that – guidelines – banks say, subject to change at the whim of a new administration. Without the protection a law would offer, the threat of federal forfeiture or prosecution for marijuana-related funds is too big a risk for some multibillion-dollar operations to take on, said Rowe, the banking association vice president.</p>

<p>"Regulators who try to come up with solutions can go part way and try to take some steps," he said. "But until Congress changes the law, we’re stuck."</p>
