---
layout: story
title: "Medical marijuana brings bedlam and crime to some California communities"
byline: "Brittan Jenkins, Martin do Nascimento and Tom Blanton"
credits:
  - Brittan-Jenkins
  - Martin-do-Nascimento
  - Tom-Blanton
hero: california-hero
hero-credit: Martin do Nascimento
permalink: /medical-marijuana-brings-bedlam-and-crime-to-some-california-communities/
slug: california
socialimage: california-hero-768.jpg
blurb: "Lacking state regulations, California’s medical marijuana industry is fraught with unlicensed dispensaries and illegal marijuana as voters prepare for possible recreational legalization next year."
soundcite: yes
section: politics
pinfooter: yes
---

<p>LOS ANGELES — Graffiti-tagged buildings, barricaded doors and iron-barred windows mark nearly every block of Avalon Boulevard as it cuts through the predominantly Hispanic neighborhood of Wilmington, 20 miles from downtown Los Angeles.</p>

<p>The streets are lined with small mom-and-pop shops – clothing stores, a piñata shop, garages and small, family owned restaurants – and just as common, illegal medical marijuana dispensaries, all located within blocks or even feet from each other.</p>

<p>Other dispensaries are shuttered with signs announcing ‘closed,’ ‘for lease’ and ‘for rent’ – the result of the city’s most recent and often futile attempts to close the door on Los Angeles’ robust illegal medical marijuana industry. But when one dispensary closes, it usually opens somewhere else, police say.</p>

<p>Passed by California voters nearly two decades ago, but absent statewide regulation, the legalization of medical marijuana has spawned a vast network of illegal dispensaries, easy access to marijuana, crime and wide disparities over how businesses are monitored across the state– if they are at all.</p>

<!-- GALLERY: Wilmington-Dispensaries -->
{% include e-slideshow.html uniqueid="wilmington-dispensaries" %}

<p>In some parts of California, law enforcement officials have aggressively pushed back, raiding growers and dispensaries in a never-ending effort to control the industry.</p>

<p>“It’s a mess,” said Eureka Police Chief Andrew Mills about marijuana enforcement efforts in Northern California. “There is no DEA (Drug Enforcement Administration) presence up here in Humboldt County right now unless it’s a specialized case they come up for, but that’s rare.”</p>

<p>In communities like Los Angeles’ Wilmington, the crushing volume of illegal dispensaries competes with other police priorities.</p>

<p>“Even if I had 10,000 more officers, would I have them tackling marijuana? Because we have to prioritize the needs of us as an agency to match the needs of the community. We also go public safety first,” said Lt. Dennis Ballas of the Los Angeles Police Department.</p>

<p>California voters passed the <a target="_blank" href="https://www.cdph.ca.gov/programs/MMP/Pages/CompassionateUseact.aspx">Compassionate Use Act</a> in 1996, allowing state residents with written doctor’s recommendations to cultivate, possess and ingest marijuana. The state’s law allows patients to possess 8 ounces of marijuana and cultivate 12 immature or six mature plants. It also allows doctors to recommend as much marijuana they want.</p>

<p>But the Compassionate Use Act didn’t determine how the state’s government would regulate the industry. Instead, it tasked state’s local governments with the job.</p>

<!-- VIDEO: California Overview -->
{% include e-vimeo.html video=135613108 caption="California voters approved medical marijuana use in 1996, but it didn't determine  how state government would regulate the industry. Instead, it tasked local  governments with the job." %}

<p>California has <a target="_blank" href="http://publicpay.ca.gov/Reports/Cities/Cities.aspx">482 cities</a> and <a target="_blank" href="http://www.cde.ca.gov/re/sd/co/">58 counties</a>, all with the power to govern their own medical marijuana industries. The methods they choose vary throughout the state. Some local governments have rules limiting the number of dispensaries and where they can open. Others passed ordinances banning all marijuana cultivation.</p>

<p>Recreational marijuana could be made legal next year if any of a dozen groups successfully gathers enough signatures to put it on the ballot.</p>

<p>"It's been the Wild West," said John Lee, who runs one of those groups, Americans for Policy Reform. "Each municipality is having to deal with it, and spend money and resources. The examples are significant."</p>

<p>In anticipation of possible legalization, California Lt. Gov. Gavin Newsom has said the state is looking at how to best regulate the industry.</p>

<p>“California can apply lessons from its own 20-year history of medical marijuana, including the lack of statewide regulation, the lessons learned from divergent approaches to local regulation and the best practices developed by responsible actors in the industry,” he said in a report this year.</p>

<p>The city of Los Angeles did not establish regulations until two years ago, 17 years after medical marijuana was legalized. In 2013, voters fed up with an unfettered industry, passed Proposition D, which banned medical dispensaries, except for those that were operating legally prior to 2007 and had already registered with the city.</p>

<p>The Los Angeles City Attorney’s Office has said just <a target="_blank" href="http://projects.scpr.org/documents/?doc=723493-medical-marijuana-businesses-under-prop-d">134 medical marijuana dispensaries</a> are eligible to operate legally in the city. Still, at least three out of four in the city are not, according to a survey by the University of California, Los Angeles, and News21 interviews with LAPD.</p>

<!-- Figure 4 - PULL: rogelio-perez-768.jpg
NOT IN FOLDER -->


<p>“Overnight, it was just one, and then the next thing you know there’s two, and then the next thing you know there’s three,” says LAPD Officer Rogelio Perez, summing up the outcome of the city’s medical marijuana enforcement.</p>

<p>UCLA researchers looked at the city’s medical marijuana dispensaries and found that the highest concentrations of dispensaries are in black and Hispanic neighborhoods with lower-than-average household incomes compared to Los Angeles at large.</p>

<p>According to UCLA’s research, in 2007 there were about two dispensaries in Wilmington and the neighborhoods of South L.A., Southeast L.A., San Pedro, Harbor Gateway. Now nearly 40 are operating in those communities alone.</p>

<p>By contrast, Pacific Palisades and Beverly Crest, two of the three wealthiest neighborhoods in Los Angeles had not a single dispensary open during the period covered by the UCLA study. As of 2014, six of the 10 highest-earning neighborhoods in Los Angeles had no dispensaries, according to a News21 analysis of the UCLA data.</p>

<!-- Figure 5: LOS_ANGELES_DISPENSARY_DENSITY-MAPS1
NOT AVAILABLE YET -->


<p>“People living in these areas where there have been high densities of outlets, if they’re middle to higher-income, they have a lot more social capital,” said Bridget Freisthler, UCLA’s lead researcher. “So, they work together and they decide that this is a problem and they’re very vocal about it.</p>

<p>“Areas that are lower income and more disadvantaged generally don’t have the same amount of relationships with other people in the neighborhood, or the social capital there,” she said. “They’re much more concerned about daily living things, and so they might not be able to mobilize in the same way to get dispensaries out of their neighborhoods.”</p>

<p>The lack of citywide enforcement also leads to more crime, police say.</p>

<p>“We’ve seen, at a lot of levels, where the medical marijuana dispensaries are causing harm to the community that surrounds them,” LAPD’s Ballas explained.</p>

<!-- Figure 6: LT_BALLAS.JPG with AUDIO (LT_DENNIS_BALLAS.wav) -->
{% include e-pull-image.html image="lt-ballas-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/lt-dennis-ballas.mp3\" data-start=\"0\" data-end=\"64000\" data-plays=\"1\">PLAY</span> Lt. Dennis Ballas of the Los Angeles Police Department said communities have been harmed by surrounding dispensaries. (Photo by Martin do Nascimento | News21)" %}

<p>Among other problems are robberies of dispensaries because they operate in cash. A dispensary security guard in San Bernardino was shot and killed in February. LAPD Detective Vincent Bancroft, has been involved in more than 100 investigations of medical marijuana dispensaries, the majority of which he says are related to organized crime or gang activity.</p>

<p>Even when dispensaries are shut down by the city, they reopen under different names and in new locations. Carlos Amaro, a business owner in Wilmington, said he was offered between $6,000 and $7,000 a month to rent out a piece of land to a grower.</p>

<p>“They’re on this corner, and he (the city attorney) closes them down today, and tomorrow they open on the other corner,” said Yamileth Bolanos, president and founder of the Greater Los Angeles Collective Alliance, an association of legal medical marijuana dispensaries in the city.</p>

<p>She was one of the chief proponents of greater city regulation of the medical marijuana industry leading up to Prop. D in 2013.</p>

<p>“The city attorney says he’s closed down 400 dispensaries since he took office, but he doesn’t talk about the 600 dispensaries that opened up behind the 400 that he closed,” said Bolanos.</p>

<p>In Los Angeles, all that’s needed to obtain medical marijuana is a doctor’s recommendation. And just 25 miles from Wilmington along L.A.’s Venice Beach, all it takes to get one is $40 and about two minutes.</p>

<!-- Figure 7: GREEN-DOCTORS-VIDEO -->
{% include e-vimeo.html video=135614693 caption="On Venice Beach in Los Angeles, Dr. Reuben Castillo writes medical marijuana recommendations for patients at The Green Doctors. The office has multiple patients each day." %}

<p>Scattered between expensive sunglass vendors and beachfront vacation rentals, men and women in green scrubs urge beachgoers to get legal medical marijuana with their reasonably priced recommendation.</p>

<p>For the $40 fee, medical marijuana seekers can get a doctor’s recommendation that allows for possession of up to 8 ounces of marijuana and permission to grow six mature or 12 immature marijuana plants - good for up to a year.</p>

<p>“I always felt that marijuana had some good properties. I’ve always believed in it, I just didn’t have the scientific answers, but I’m even more in favor of it now, that’s why I’m here,” said Dr. Reuben Castillo, one of the doctors employed by The Green Doctors.</p>

<p>The procedure is simple; fill out a form about current or pre-existing medical conditions and an explanation as to why using marijuana would be helpful. A form of identification and a California address is all that’s required.</p>

<p>Once the application is complete, patients wait in the lobby until the doctor calls them into an office slightly bigger than a broom closet. In less than two minutes, a handshake concludes the visit and the recommendation is <a name="californiamap"></a> signed.</p>

<iframe width="100%" height="520" frameborder="0" src="https://news21.cartodb.com/viz/f404d3d8-3a07-11e5-86c2-0e4fddd5de28/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<p>“We are aware that we’ve got doctors writing recommendations and really under short notice, really without the examination that a doctor would ordinarily do for any other type of recommendation or prescription,” said Ballas of the LAPD.</p>

<p>Castillo calls the process an important part of research.</p>

<p>"I think that each doctor who interviews patients for medical marijuana, we’re just part of a huge research project, at least in my mind, it’s informal but in essence that’s what’s happening," he said. "And as time goes by and the benefits outweigh the risks or the detriment … I think the scales will tip in favor of marijuana being legalized by the government."</p>

<!-- Figure 8: PARALLAX-SanDiego.jpg -->
{% include e-parallax.html image="san_diego" caption="(Photo by Martin do Nascimento | News21)" %}

<p>SAN DIEGO — San Diego’s medical marijuana industry also remained largely unregulated until last year when city officials passed an ordinance allowing just four dispensaries to open in each of San Diego’s nine city districts, for a total of 36 citywide. They must be more than 1,000 feet from any public park, church, school, facility oriented toward children, or any other previously permitted dispensary.</p>

<p>For the first time, dispensaries now compete for city approval.</p>

<p>Edith Gutierrez, who oversees the dispensary application process for San Diego’s Development Services Department, said these new zoning and permitting rules resulted in unprecedented competition among applicants.</p>

<p>In one sector near SeaWorld San Diego, at least six applicants with spaces near the ocean all vied for the same permit. When the city granted it to one applicant, it stopped considering the others. With tens of thousands of dollars invested in their bids, most contenders don’t give up without a fight.</p>

<!-- Figure 9: AROUND-SAN-DIEGO - GALLERY -->
{% include e-slideshow.html uniqueid="nascimento_san_diego" %}

<p>According to Gutierrez, every single application granted is appealed by a competitor or concerned citizen — a delay tactic used to slow down competitors.</p>

<p>“Normally, a conditional use permit would take anywhere from about four months to six months,” Gutierrez said. “These applications have taken a little bit longer.”</p>

<p>San Diego officials grant such conditional use permits to properties they deem suitable for a specific use. The city received 32 applications for dispensary permits on the day it began accepting them.</p>

<p>“We were outside on a section of the street with tents,” said Ebon Johnson, who was among those seeking a permit “This event for the city had never happened before.”</p>

<p>Johnson made it through the appeals process and received a dispensary permit in June. As of Aug. 1, nine dispensaries were approved to open and the city was reviewing 15 more.</p>

<p>Johnson’s dispensary will open just across the street from San Diego’s Marine Corps Air Station Miramar. Even though he secured the spot, he will have competition from two other city-approved dispensaries opening within a mile of his property.</p>

<!-- Figure 10: EBON-JOHNSON-VIGNETTE - VIDEO -->
{% include e-pull-vimeo.html video="135619548" caption="After struggling to find a suitable location for his dispensary under San Diego’s zoning laws, Ebon Johnson found a storefront location just across from the Miramar Marine Corps Air Station. " %}

<p>Unlicensed marijuana businesses will also challenge his business, according to the San Diego Police Department.</p>

<p>“A lot of dispensaries have opened up in San Diego,” said Lt. Steven Shaw, who runs the department’s narcotics division. “The majority of them have opened up without getting the proper permits.”</p>

<p>Johnson originally was leasing a different space. But when the San Diego City Council approved its ordinance last year with restrictions on where dispensaries could be located, he had to move.</p>

<p>“I found out the property we were at wasn’t going to be zoned for it,” he said.</p>

<p>Johnson found the Miramar space as a replacement just weeks before the city began accepting applications.</p>

<p>Not everyone in the city is enthusiastic about the dispensaries, even with the new permit regulations.</p>

<p>Scott Chipman co-founded Citizens Against Legalizing Marijuana a year before a failed recreational marijuana initiative made it onto the state’s 2010 ballot.</p>

<!-- Figure 11: SCOTT_CHIPMAN.jpg with AUDIO: SCOTT_CHIMPAN.WAV -->
{% include e-mid-image.html image="scott-chipman-1200.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/scott-chipman.mp3\" data-start=\"0\" data-end=\"46000\" data-plays=\"1\">PLAY</span> Anti-marijuana activist Scott Chipman regularly appeals dispensary applications to prevent them from opening. (Photo by Martin do Nascimento | News21)" %}

<p>California’s medical cannabis industry “is nothing but retail sales of marijuana,” Chipman said.</p>

<p>He has two different doctor recommendations for medical marijuana, which he said he paid for only to show how easily they could be obtained. Chipman appeals many dispensary applications submitted to the city and was one of three parties to challenge Johnson’s bid.</p>

<p>On his appeal of Johnson’s Miramar proposal, Chipman argued that “adequate public safety measures are not planned or within the ordinance.”</p>

<!-- Figure 12: STEVE_SHAW - VIDEO -->
{% include e-pull-vimeo.html video="135620036" caption="Lt. Steve Shaw said officers try to get medical dispensary operators into compliance by serving them with civil complaints and ordering them to cease and desist." %}

<p>Storefronts with no regard for the law “will continue operating whether there are legal dispensaries or not,” said Shaw, of San Diego’s police. Despite City Attorney Jan Goldsmith’s office closing more than 260 storefronts over the last four years, Shaw said he knew of nearly 40 illegal dispensaries operating in San Diego.</p>

<p>There is no complete statewide tally of the number of medical marijuana patients in California. The state Department of Public Health’s Medical Marijuana Program keeps a registry of medical marijuana patients, but the registry is voluntary and self-reported by patients. No law requires their participation and just 81,000 patients have signed up since 2004.</p>

<!-- Figure 13: FRESNO - PARALLAX -->
{% include e-parallax.html image="fresno" caption="(Photo by Matias J. Ocner | News21)" %}

<p>FRESNO - Every few days, as the sun peaks above Fresno’s flat, fertile valley floor, Lt. Mark Padilla and his team of sheriff's deputies pack into county vehicles and disappear into the surrounding hills in search of errant growers. Padilla and his crew almost always return with a haul of seized plants.</p>

<p>In Fresno County, where the Board of Supervisors has passed some of the strictest local medical marijuana regulations in California, growing marijuana is forbidden, as is opening a dispensary.</p>

<p>“You’re not allowed to grow marijuana indoors or outdoors in the County of Fresno,” said Padilla, who runs the Sheriff Department’s Narcotics Enforcement Unit.</p>

<p>Under the ordinance, which went into effect in February 2014, any person caught growing marijuana in Fresno County is fined $1,000 per plant “immediately upon confirmation of the violation.”</p>

<p>Like most agricultural communities in California’s Central Valley, Fresno has been hit hard by the state’s drought in recent years. But its farmers persevere.</p>

<p>“We saw a huge increase in the number of (marijuana) grows throughout Fresno,” Padilla said, explaining what led to the county’s regulations. “In addition to that, we saw a large increase in violence, such as robberies and murder, associated with the marijuana grows.”</p>

<!-- Figure 14: FRESNO - GALLERY -->
{% include e-slideshow.html uniqueid="ocner_fresno_raid" %}

<p>State law says county officials can eradicate a public nuisance if an official “determines that the nuisance constitutes an immediate threat to public health or safety.”</p>

<p>Last year, sheriff’s deputies found grower Brigido Gutierrez and two of his friends cultivating 180 plants at a property just outside the City of Fresno. All three had doctor’s recommendations for medical marijuana and all three were fined $1,000 per plant, for a total of $540,000 in fines.</p>

<p>"The marijuana plants were growing well, but the government came and took it all,” Gutierrez told News21. "They're taking my medicine."</p>

<!-- Figure 15: Brigido Gutierrez gallery -->
{% include e-slideshow.html uniqueid="ocner-fresno-brigido" %}

<p>According to Fresno Sheriff Margaret Mims, many patients believe they can grow up to 99 plants.</p>

<p>The number isn’t in California’s laws and instead comes from a list of federal drug trafficking penalties, which requires the federal government to sentence growers it catches cultivating 100 or more plants.</p>

<p>Mims doesn’t believe one patient could even justify 99 plants for personal use. They “would have to smoke a marijuana cigarette 365 days a year, every 3 minutes, 24 hours a day,” she said.</p>

<!-- Figure 16: Fresno Overview video -->
{% include e-vimeo.html video="135613745" caption="Fresno County's zero tolerance marijuana ordinance has been in place since 2014. It is illegal to cultivate or sell medical marijuana in the county." %}

<p>Although California’s state laws allows for cultivation, Fresno banned all cultivation by declaring marijuana plants a public nuisance, which turned it into a local zoning issue.</p>

<p>Brenda Linder represents or advises many growers who have been fined by the county.  She claims the Fresno sheriff’s department abandons due process in issuing fines without giving growers time to pull the plants themselves.</p>

<p>“This is what happens when you have law enforcement performing code enforcement duties,” she said. “These people could lose their homes or their property because of these fines. They’re so horrendously … large.”  </p>

<p>Fresno County Supervisor Henry Perea represents the district that includes the City of Fresno. He supports the ordinance because the industry was too difficult to control before it passed.</p>

<!-- Figure 17: Henry-Perea.jpg WITH audio -->
{% include e-pull-image.html image="henry-perea-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/Henry_Perea.mp3\" data-start=\"0\" data-end=\"27000\" data-plays=\"1\">PLAY</span> Henry Perea works for the Fresno County Board of Supervisors. Perea said he is in favor of the zero tolerance marijuana program. (Photo by Matias J. Ocner | News21)" %}

<p>“We see this as an all-or-nothing thing, and we already knew what ‘all’ was, because we had been experiencing the mass proliferation of marijuana growing and all the crime that came with it,” Perea said. “Until the feds and the state can figure it out, we’re going to shut it down in Fresno County.”</p>

<p>Perea said that he and other county lawmakers still hope to find ways for Fresno’s qualified residents to access medical marijuana.</p>

<p>“Where’s that sweet spot where we can find the opportunity for people who really need it to access their medicine?” Perea asked. He said he hopes the county can find that spot, while also denying access to those growing “under the guise of medical marijuana, for the black market.”</p>

<!-- Figure 18: Parallax - HumboldtHERO.jpg -->
{% include e-parallax.html image="HumboldtHero" caption="(Photo by Brittan Jenkins | News21)" %}

<p>EUREKA - In Northern California’s Emerald Triangle, where pot is best known for its potency, it's the staggering, 2,000-year-old trees of the Redwood Forest that camouflage large-scale illegal cultivation. Growers operate with impunity, their locations difficult to determine, law enforcement authorities say.</p>

<p>The Emerald Triangle, which includes Humboldt, Mendocino and Trinity counties, also makes for lucrative growing.</p>

<p>In July, Mendocino County Sheriff’s Department eradicated 3,200 plants east of Ukiah from a single garden. They were assisted by County of Mendocino Marijuana Eradication Team (COMMET), the U.S. Bureau of Land Management, the U.S. Forest Service, the U.S. Fish and Wildlife Service and the Lake County Sheriff's Office.</p>

<p>“In order to find most of these grows it would take aircraft and a little county doesn’t really have a great deal of aircraft, and then if you do, how do you get the resources to get up there to collect 10,000 plants that are 12 feet tall?" asked Eureka Police Chief Andrew Mills of Humboldt County. "You need federal resources to do that."</p>

<p>The Mendocino County Sheriff’s Office said it needs more money for such enforcement. “The lack of over flight intelligence significantly hampered COMMET’s ability to identify, locate and eradicate outdoor marijuana gardens in Mendocino County,” it says in a report to the U.S. Drug Enforcement Administration.</p>

<!-- Figure 19: ChiefMills.jpg -->
{% include e-mid-image.html image="chief-mills-1200.jpg" caption="Eureka Police Chief Andrew Mills converted some of his holding cells within his police station to storage areas for confiscated marijuana. (Photo by Dom DiFurio | News21)" %}

<p>“I don’t think there’s enough enforcement to make the rules stick,” said Chuck Lyon, a medical marijuana grower in Mendocino County.</p>

<p>Mills said that even when they find illegal operations, the sound of trucks and aircraft alerts growers and gives them time to escape. Mills’ officers mostly work indoor grows within the city and leave grows in the hills to the sheriffs in Humboldt, Mendocino and Trinity counties.</p>

<p>Mills says that if legalization is passed in California, large marijuana growing corporations would be better suited for regulating the recreational industry than local growers.</p>

<p>“If it’s legalization, that’s fine then maybe there are big companies that will come in with social responsibility because they’re held responsible by their corporations as well as the stockholders of those corporations,” he said.</p>

<p>“I know that’s not gonna sit well with some of the local growers who are small and unregulated but that’s part of the issue. You don’t want regulation because it’s gonna cost you more money,” Mills said.</p>

<!-- Figure 20 Sunshine.jpg -->
{% include e-mid-image.html image="sunshine-1200.jpg" caption="Sunshine Johnston, a local marijuana farmer in Humboldt County, hangs her plant from ceiling hooks while it dries before the trimming process begins. (Photo by Brittan Jenkins | News21)" %}

<p>Sunshine Johnston is a local marijuana grower and a board member of California Cannabis Voice Humboldt. She disagrees. She says small farms are what marijuana users want.</p>

<p>“We are the last family farms in America. We are a community of family farmers here. My concern is through over regulation– is that I don’t want to see the loss of family farms,” she said.</p>

<!-- Figure 21: parallax - SAN_FRANCISCO.jpg -->
{% include e-parallax.html image="san_francisco" caption="(Photo by Matias J. Ocner | News21)" %}

<p>SAN FRANCISCO — Less than a mile south of San Francisco City Hall, seven security cameras hang from the front of a green, Victorian row house. Beyond the gate, inside the first-floor, street-side suite, large monitors occupying two walls stream video from the cameras outside.</p>

<p>Kevin Reed didn’t take any chances when he started operating a medical cannabis delivery service from his apartment.</p>

<p>In 2004, the Alabama native founded The Green Cross storefront dispensary in San Francisco when there were no rules governing the city’s medical marijuana industry.</p>

<!-- Figure 22 Kevin_Reed.jpg -->
{% include e-pull-image.html image="kevin-reed-768.jpg" caption="Kevin Reed is the owner of Green Cross, a medical cannabis dispensary in San Francisco. Green Cross launched in 2004 and is known as one of the most established dispensaries in the city. (Photo by Matias J. Ocner | News21)" %}

<p>“It was as easy as just going down to City Hall and getting a business license for selling herbs, and candles and whatever else,” said Reed.</p>

<p>But the industry didn’t remain unregulated for long. Within a year of Reed opening his storefront, San Francisco’s Board of Supervisors passed guidelines that prohibited dispensaries from operating within 1,000 feet of a school. Reed had to shut down.</p>

<p>“I walked away with my head hung down low,” Reed said. “I thought it was over for The Green Cross.”</p>

<p>Instead, he became one of California’s first legal dispensaries on wheels in 2006. While delivery services operate virtually unregulated in many areas of the state, San Francisco is one of the few cities that officially sanction them.</p>

<p>San Francisco's law tasks the city's Department of Public Health with regulating the medical marijuana industry. Most municipalities that have opted for ordinances give the job to law enforcement or zoning agencies.</p>

<!-- Figure 23:  Baking - GALLERY -->
{% include e-slideshow.html uniqueid="baking" %}

<p>“It’s not about the revenue, it’s not about the building structure,” said Larry Kessler, manager of the San Francisco Medical Cannabis Dispensary Program and a senior inspector with the city’s health department. “It’s about the product and it’s about the people.”</p>

<p>Kessler is the only city official working in the dispensary program, which he said he created almost single-handedly back when the ordinance took effect. His duties include overseeing a permit application process and inspecting licensed storefronts, among other jobs.</p>

<p>There’s no cap on the number of available licenses, though the law requires applicants to pay a nonrefundable application fee of $8,459 to the city.</p>

<p>“I tried to draw bright lines that everybody could follow,” Kessler said. “We work well with the community.”</p>

<!-- Figure 24 Larry_Kessler.jpg -->
{% include e-pull-image.html image="larry-kessler-768.jpg" caption="Larry Kessler is San Francisco's medical cannabis dispensary program manager and oversees applications and inspection processes for the San Francisco Department of Public Health. (Photo by Matias J. Ocner | News21)" %}

<p>San Francisco lawmakers made an effort to consult medical marijuana patients, dispensary operators and neighborhood groups before altering the city’s ordinance, which was amended four times by 2009.</p>

<p>City officials have also passed separate rules to address issues not mentioned in the law, which resulted in one of the most comprehensive sets of regulations for edible marijuana products in California.</p>

<p>The San Francisco Board of Supervisors, looking to keep the ordinance current, formed a task force in 2010 to determine whether any further amendments were necessary.</p>

<p>In a report the following year, the task force proclaimed that San Francisco’s ordinance “remains among the most comprehensive and patient-focused laws throughout the state of California.”</p>

<p>Kessler attributes that success to the city’s early adoption of regulations and willingness to address changes in the industry as they came.</p>

<p>And San Franciscans were ready and supportive:  Nearly 80 percent of the city’s voters supported the state's medical marijuana initiative in 1996.</p>

