---
layout: story
title: "Advocates: Marijuana culture has broken from its original values"
byline: "Emi Sasagawa and Kelcie Johnson"
credits:
  - Emi-Sasagawa
  - Kelcie-Johnson
hero: culture-hero
hero-credit: Sean Logan
permalink: /advocates-marijuana-culture-has-broken-from-its-original-values/
slug: cannabisculture
socialimage: culture-hero-768.jpg
blurb: "American support of cannabis is on the rise, as more money, increased media exposure and smarter advocacy transforms public perception around the drug. But advocates wonder if that’s in the best interest of the cannabis culture."
soundcite: no
section: money
pinfooter: yes
---

{% include e-sections.html slug="cannabisculture" %}

<p>DALY CITY, Calif. — The smell of cannabis impregnated the air. Hundreds of people crowded around a makeshift stage, from which men dressed in head-to-toe marijuana print threw cannabis caviar, joints and dollar bills at the onlookers.</p>

<p>“This is the best weekend ever,” a man dressed in a joint costume screamed.</p>

<p>Organizers said more than 16,000 people attended the Nor-Cal Cannabis Cup in Daly City in June. Inside a fenced-in area in the parking lot of the Cow Palace, people smoked out of 3-foot bongs, tried rainbow-colored vape pens and tasted cannabis-infused gourmet ice cream, all out in the open. Those without a medical marijuana card waited in line for hours for a two-minute consultation with a doctor, who charged $100 for a three-month medical marijuana recommendation.</p>

<p>Ten years ago, it would have been improbable to bring together people to consume cannabis in a large-scale event like this. But the two-day trade show was one of dozens of marijuana-focused events taking place throughout the country this year. And as more states legalize medical and recreational marijuana, the more it becomes a part of American mainstream culture. </p>

<p>Public opinion around marijuana in the U.S. has shifted in the last decade. In 2010, 41 percent of Americans supported legalization, according to a <a href="http://www.pewresearch.org/fact-tank/2015/04/14/6-facts-about-marijuana"/>Pew Research Center</a> report. By 2015, 53 percent favored it. </p>

<p>The culture around cannabis is changing, and that influences the way people think about the drug.</p>

{% include e-vimeo.html video="135692261" caption="In 2010, 41 percent of Americans supported legalization, according to a Pew Research Center report. By 2014, 54 percent favored it. This stop motion looks at the ways in which public opinion around marijuana in the U.S. has shifted in the last decades. " %}

<p>Experts said several factors have shaped this transformation. Media coverage of marijuana has increased exponentially, and the message around cannabis has become more favorable. Today, there are more cannabis-related products and professions than ever. With greater financial backing, advocacy around cannabis has become more sophisticated and organized. </p>

<p>“In late ‘80s and early ‘90s, the marijuana culture was at a point where there was no place left to retreat,” said Chris Conrad, a professor at Oaksterdam University, the first American institution devoted to training for the cannabis industry. “We were on the verge of extinction.” <a name="cc1"></a> </p>

<p>“We fought back by incorporating ourselves further and further into the mainstream, but the further we get into the mainstream, the more the original culture gets lost and it gets replaced by a culture which just sees marijuana as another part of the many different things they do.”</p>

<p><h2>Access to media, changing message help shift culture</h2></p>

<p>Richard Jergenson has collected cannabis-related media for 45 years. Nestled in the hills of Mendocino County in California, Jergenson has everything from Life magazine’s 1969 marijuana edition to the National Organization for the Reform of Marijuana Laws’ first 1986 Common Sense pamphlet that challenged prohibition.   </p>

<p>“(The magazines) are an incredible time capsule of a bygone era,” he said. “Reading these things is like a time machine. Seeing the ads and reading the language, and seeing what the culture was like.”</p>

<p>Growing up in the ‘60s and ‘70s, Jergenson read comics and Popular Science and Popular Mechanics magazines. He inherited the title of “family archivist” from his mother, who saved boxes of Time magazines. </p>

{% include e-pull-image.html image="richard_jergenson-768.jpg" caption="Richard Jergenson holds a notebook that details his plans to open a cannabis culture museum. He is a self-described archivist who has collected cannabis-related media for the past 45 years. (Photo by Sean Logan | News 21)" %}

<p>When he started collecting cannabis-related media, Jergenson said he wanted to capture the feeling of his time so that one day, people could experience the marijuana movement through his collection. He said he plans to show his collection at the Emerald Cup event later this year in Santa Rosa, California, and possibly in a local museum.</p>

<p>Throughout his life, he’s watched the culture transition from hippies stapling flyers to telephone poles to marijuana appearing on the cover of prominent magazines like National Geographic and hundreds of social-media sites dedicated to marijuana. </p>

<p>In the <a href="http://www.pbs.org/wgbh/pages/frontline/shows/drugs/cron/">1930s</a>, the federal government launched a propaganda campaign and funded <a href="https://www.youtube.com/watch?v=sbjHOBJzhb0">films</a> that linked marijuana with sex, suicide and murder. </p>

<p>By the 1960s and 1970s, American counterculture was in full swing. The demonization of marijuana came into question at a national level. Marijuana activists developed niche magazines like High Times and Hi Life to cover marijuana. </p>

<p>But the majority of Americans still thought pot should be illegal. </p>

{% include e-pull-vimeo.html video="135931290" caption="Since the 1930s, the national conversation around marijuana dramatically shifted, including the propaganda used to either promote or argue against the substance. The conversation intensified in recent years as 23 states have legalized some form of marijuana use. " %}

<p>In the 1980s, the federal government launched a full-scale attack on drugs, filling the airwaves and television screens with the “Just Say No” campaign that featured ads like “This is your brain on drugs.” </p>

<p>Thirty years ago, a handful of major television networks and newspapers dominated the message. But in today’s digital world, the public has new ways to access news and information, and that has given advocates a stronger voice.</p>

<p><a href="http://www.coralreefer420.com/about">Coral Reefer</a>, a 26-year-old blogger in Oakland, California, who uses a pseudonym,  has roughly 41,000 followers on <a href="https://twitter.com/coralreefer420">Twitter</a>, 693,000 likes on <a href="https://www.facebook.com/CoralReefer420/timeline">Facebook</a>, and 98,000 subscribers on <a href="https://www.youtube.com/user/coralfish19">YouTube</a>. She supports herself with her blog and by selling handmade glass fish for $75 on her website.  </p>

<p>Each week, she hosts <a href="http://www.stoneysunday.com/">Stoney Sunday</a>, a live video where she lights up a bong and talks about new glass artists, reviews marijuana products and answers questions. At the end of each episode, she signs off with a bubbly smile and, “Stay high, you guys.” </p>

<p>Companies like Harborside Health Center in Oakland, a leading medical marijuana dispensary in the country, and Vape World, an online vaporizer shop based in Florida, recognized the influence Coral and others have in the cannabis community. These companies send her products to give her followers. </p>

<p>In May, <a href="http://www.ozbongs.com.au/home.php">OZBongs</a>, a marijuana pipe and accessories company, sent Coral to Australia for the <a href="http://www.nimbinmardigrass.com/">Mardi Grass</a> celebration.</p>

<p>People in the cannabis community listen to bloggers like Coral. </p>

<p>“This is peer-to-peer advertising,” said Patricia Cavazos-Rehg, an assistant professor of psychiatry at Washington University School of Medicine. In 2014, Cavazos-Rehg conducted <a href="http://ac.els-cdn.com/S1054139X14007034/1-s2.0-S1054139X14007034-main.pdf?_tid=e98cc1e0-3223-11e5-b53e-00000aacb362&acdnat=1437756732_f8584682ec0527ad5215e969ddca73da">research</a> on Twitter conversation around marijuana. </p>

<p>“It is kind of promoting a behavior, marketing a behavior, and when that promotion is coming from peers,” Cavazos-Rehg said, “the potential influence would seemingly be even stronger than if it was an explicit advertisement because the promoters are individuals that young people can identify with.”</p>

<p>The study concluded that the Twitter discussion on cannabis was overwhelmingly favorable. Cavazos-Rehg said she is concerned pro-marijuana content will negatively impact young people. She would like to see balance in the online conversation, and an increased presence of public health <a name="cannabismap"></a>professionals. </p>

{% include e-interactive-js.html path="mj-sm-opinion" %}

<p>Some social platforms have taken a hard line on people who create cannabis profiles because marijuana is still federally illegal. <a href="https://www.facebook.com/policies/ads/">Facebook</a> and Instagram have closed multiple accounts, and sites like Google restrict advertising related to marijuana.</p>

<p>However, independent developers have stepped in to provide platforms for consumers and business with websites and applications like <a href="https://www.leafly.com/">Leafly</a>, <a href="https://weedmaps.com/">Weedmaps</a>, <a href="http://www.highthereapp.com/">High There!</a> and <a href="http://massroots.com/landing-desktop">MassRoots</a>.  </p>

<p>The number of cannabis-focused publications has also soared, with platforms like <a href="http://www.hailmaryjane.com/">Hail Mary Jane</a> and <a href="http://www.theweedblog.com/">The Weed Blog</a> joining long-standing organizations like High Times magazine. </p>

<p>“We have our own celebrities,” said <a href="http://radicalruss.com/about/">Russ Belville</a>, founder of <a href="http://420radio.org/">420RADIO</a>, a 24-hour online cannabis radio station. “We have our own news sources. We have our own forums, where growers will get on and talk to each other about how to grow, or patient forums. </p>

<p>“There's definitely a distinct online cannabis community.” </p>

<p>Mainstream media has jumped in as well, amping up coverage and reporting on marijuana issues in a more favorable light.</p>

<p>“Before, it used to be propaganda,” said <a href="https://www.facebook.com/dan.skye.5">Dan Skye</a>, the editor in chief of High Times magazine. “Now, mainstream media are reflecting the cannabis movement, what everybody is saying about it.”<a name="cc2"></a></p>

<p>In 2013, The Denver Post hired the nation's first marijuana editor. CNN and CNBC have produced series specific to cannabis. And the Discovery Channel hosts Weed Country, a television series exploring the relationship between marijuana growers and law enforcement in California. Other shows like <a href="https://vimeo.com/channels/highmaintenance">High Maintenance</a>, a series on Vimeo, are growing <a name="topicmap"></a> in popularity. </p>

{% include e-interactive-js.html path="mj-sm-topic" %}

<p><h2>Ideals of “love” and “compassion” shift with commercialization</h2></p>

<p>Valerie Corral scurried around the garden greeting volunteers. </p>

<p>The 5-foot tall San Franciscan had been up since 7 a.m. trying to get rid of a poison ivy infestation that had crept into the marijuana garden. </p>

<p>On a recent Saturday, the 10 volunteers each had an important task – tend to the cannabis plants, move dirt, dig new holes for the infant plants, make cannabis flour, roll joints and the most coveted task of all, organize the “work songs” playlist. </p>

<p>They legally provide cannabis to hundreds of medical marijuana users who cannot afford the high-priced products offered by dispensaries. </p>

<p>Corral has been a key player in the cannabis movement. In 1993, she co-founded the Wo/Men's Alliance for Medical Marijuana, the longest running cannabis collective in the country. It serves about 870 medical marijuana users in California. </p>

{% include e-parallax.html image="valerie_corral" caption="Valerie Corral co-founded the  Wo/Men's Alliance for Medical Marijuana in 1993. The group legally provides free medical marijuana to patients who can't afford it. (Photo by Sean Logan | News21)" %}

<p>On a busy day, the alliance office sees about 30 patients. They don’t have to pay for cannabis. </p>

<p>The collective stands in stark contrast to the mainstreamed, high-tech, profit-driven model that’s become so popular in the emerging cannabis market. </p>

<p>According to the ArcView Group, a marijuana-focused venture capital firm, the cannabis market grew 74 percent last year to $2.66 billion, up from $1.53 billion in 2013. Legal marijuana is the fastest-growing industry in the country, according to ArcView.</p>

<p>If legalization spreads to all 50 states, it could become larger than the organic food industry. By 2019, all of the state-legal marijuana markets combined could generate an overall market worth of nearly $11 billion a year, according to ArcView. </p>

<p>From gourmet marijuana-infused chocolate to 24K Gold Rolling Papers to $8,000 bongs, cannabis and cannabis-related products have become more diversified. Cooks, accountants and teachers have joined experienced growers in this new industry. </p>

<p>“You're seeing software developers, and you're seeing biotech companies. You're seeing all sorts of expertise from other industries that are now moving into the marijuana market,” said Alex Thiersch, co-founder of Salveo Capital, a small financial firm that funds cannabis businesses. </p>

<p>At the Nor-Cal Cannabis Cup, vendors included bakers, activists, veterans and doctors. More than 415 stalls displayed everything from joints and edibles to industrial driers.</p>

<p>Although organizers would not disclose how much revenue the event generated, it wasn’t cheap. The smallest booth cost vendors $3,500 for the two days. Participants paid $90 for a regular two-day pass, and a Gold Leaf VIP ticket cost as much as $999. </p>

<p>As people like teachers and cooks get involved with the cannabis industry, the movement takes on a different vibe. </p>

<p>“It gives (the movement) more respectability, it shows legitimacy,” said Conrad, the professor. “As long as it was only hippies talking about it, it was easy to ignore it. Now that we've gone mainstream, it’s meaningful to people.”</p>

<p>Corral said she recognizes that money has gotten the movement to where it is today. But at the same time she, like many other activists, is wary of this shift toward big industry. </p>

<p>She said the new culture is moving away from the ideals of love and compassion on which the ‘60s and ‘70s cannabis movement was built. It’s moving away from personal relationships towards empty, professional, corporatized interactions, she said.<a name="cc3"></a> </p>

<p>“It could be diamonds, it could be oil. It's turned into the greed market,” she said. “If the bottom line is profit, then what is the cost?”</p>

<p><h2>Advocacy groups become larger, more sophisticated</h2></p>

<p>Dennis Peron devoted his life to legalizing medical marijuana after he said he lost hundreds of friends to the AIDS epidemic. He worked to pass three ballot initiatives, landed in jail, had his home and club raided and got shot.</p>

<p>“Most of my life has been war,” Peron said. He returned home from the Vietnam War “to a bigger war: the war on drugs. Where I've been a prisoner many times over. For 27 years I have struggled, here in San Francisco, to change the world and the laws.”</p>

<p>In the early ‘90s, Peron started the Cannabis Buyers’ Club, the largest of its kind in the nation. Activists like Valerie Corral, Chris Conrad and the founder of the National Organization for the Reform of Marijuana Laws drafted California’s Proposition 215, which legalized medical marijuana. </p>

<p>Peron and his network of California supporters hit the streets to gather some <a href="http://www.nytimes.com/1996/02/25/us/marijuana-club-helps-those-in-pain.html?pagewanted=2">600,000</a> signatures to put Proposition 215 on the ballot. They collected roughly <a href="http://www.beyondthc.com/wp-content/uploads/2015/02/Dennis-SFCBC-215.pdf">175,000</a>.</p>

<p>A few months before the deadline, a number of wealthy <a href="http://articles.latimes.com/1996-11-02/news/mn-60512_1_medical-marijuana-measure">investors</a> funded the collection of the remaining signatures.</p>

{% include e-pull-vimeo.html video="135691431" caption="Dennis Peron is a 69-year-old San Franciscan, and “warrior for marijuana rights.” He opened the first marijuana dispensary in California and worked with other activists to put Proposition 215 on the 1996 ballot, which legalized medical marijuana. " %}

<p>Today, advocacy groups like Marijuana Policy Project, National Organization for the Reform of Marijuana Laws and the Drug Policy Alliance work to reform state laws by keeping a constant presence in media, offering tools for people to participate and tailoring messages for each state. </p>

<p>Advocacy groups spend millions to push marijuana policy: They hire teams of consultants, conduct polls and execute marketing strategies. </p>

<p>“We want to make people think about this issue, and we want people to talk about it so we really need to not only get people’s attention, but do it in a way that inspires people to think, and talk about the subject,” said Mason Tvert, the director of communications for the Marijuana Policy Project. </p>

<p>Many advocacy organizations produce blogs and send out news releases. NORML has sent out weekly news releases since 1992. </p>

<p>Marijuana Policy Project recently <a href="https://www.mpp.org/2016-presidential-candidates/">posted grades</a> for presidential candidates based on their support for marijuana policies. Tvert said sometimes it takes something controversial or funny to grab people's attention. </p>

<p>But today’s advocacy groups don’t necessarily have the same vibe as in years past. </p>

<p>At the Nor-Cal Cannabis Cup, organizers had sectioned off a handful of booths for advocacy groups. </p>

<p>People walked past them. As they rushed by, they ignored petition requests and campaign buttons. </p>

<p>Instead, they flocked to the booths offering free bong hits, the booths providing $100 medical recommendations and that main stage – where the crowd grabbed at that cannabis caviar, joints and dollar <a name="cannabis1map"></a> bills.</p>

<iframe width="100%" height="520" frameborder="0" src="https://news21.cartodb.com/viz/41ed38fa-3bb2-11e5-89bd-0e5e07bb5d8a/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>



