---
layout: story
title: Medical marijuana caregivers not inspected, could feed illegal markets
byline: Katie Campbell 
credits:
  - Katie-Campbell
  - Jessie-Wardarski
hero: caregivers-hero
hero-credit: Jessie Wardarski
permalink: /medical-marijuana-caregivers-not-inspected-could-feed-illegal-markets/
slug: caregivers
socialimage: caregivers-hero-768.jpg
blurb: Medical marijuana caregivers in 23 states and Washington D.C. are not inspected or effectively regulated. While many participate in a growing medical marijuana industry to help the patients seeking their products, other caregivers have exploited their privileges to make money through illegal markets.
soundcite: no
section: medical
pinfooter: yes
---

<p>Jake Holmes’ property is hidden in the dense woods on a stretch of rolling hills in Monroe, Maine, where dirt roads seem to go nowhere and GPS devices are useless.</p>

<p>“We’re working behind the house” – that’s the last hint before the cell service goes out. And then, there they are: a bright red pair of heavy-duty gardening gloves sitting on the raised flag of a mailbox, the sign that this is where he lives and works.</p>

<p>Right on cue, Holmes walks out from behind his house with a shovel in his hands, the smell of fresh dirt and marijuana lingering in the air. Holmes is a medical marijuana caregiver – just one among tens of thousands of people across the country who can legally possess, cultivate and supply medical marijuana to qualified patients.</p>

{% include e-vimeo.html video=135755781 caption="Maine native Jake Holmes and his business partner Trevor Huff prepare to transplant medical marijuana plants outside. As a patient, Holmes grows six plants for himself." %} 

<p>Twenty-three states and Washington, D.C., have legalized medical marijuana. Yet in the nearly two decades since California first took the step in 1996, consensus has not been reached on how best to run a medical marijuana program, and regulators have been left to experiment.</p>

<p>In an environment of conflicting medical marijuana laws across the country, caregivers operate almost entirely without government oversight, according to a News21 analysis of laws in the 23 states.</p>

<p>State regulators acknowledge that this lack of oversight could and does encourage the illegal sale of marijuana by caregivers to people who may or may not hold a medical marijuana card.</p>

<p>No one regularly or even periodically inspects caregivers’ grow sites to ensure they are not cultivating more plants than legally is allowed. States also do not check on caregivers who don’t grow themselves, but are authorized to administer marijuana to permitted patients, according to the News21 analysis.</p>

<p>This means no one knows how much marijuana is being grown or given by medical marijuana caregivers across the country.</p>

<p>“I have no idea,” said Tom Salow, branch chief of licensing under the Arizona Department of Health Services. “We don’t regulate how many plants are getting cultivated by caregivers.”</p>

<p>“The state has little authority over caregivers,” said Colorado Medical Marijuana Program Manager Natalie Riggins.</p>

<p>“I don’t think there’s anyone checking up on caregivers,” said Andrew Jessen, a research analyst with the Alaska Bureau of Vital Statistics.  “There is no agency that’s monitoring how many plants caregivers have.”</p>

<p>“The vast majority of caregivers in our state are compliant,” said Kenneth Albert, director of Maine’s Division of Licensing and Regulatory Services, which houses the Maine Medical Marijuana Program. “But there are those who have sought to use the Medical Marijuana Act to a much greater gain.”</p>

{% include e-vimeo.html video="135887232" caption="In the 23 states with some form of legal marijuana, caregivers have the ability to grow or handle the substance for medical patients, who can also designate a caregiver to help them access the medicine." %}

<p>Far from the hills where Holmes’ medical marijuana is maturing, Albert’s health department office looks out onto a view of the Kennebec River as it cuts through the capital city of Augusta. </p>

<p>His main concern is not with how many plants Holmes and other caregivers are cultivating, but with the quality and safety of the product they provide. He wants to know medical marijuana is free of illegal pesticides and other harmful substances. Yet the quantity, not the quality, of Maine’s medical marijuana has the attention of other authorities, such as the U.S. Drug Enforcement Administration, Albert said. </p>

<p>“The majority of New England states are now medical marijuana states,” he said. “I believe it’s perceived by the federal government as a source of black market-diverted marijuana to the eastern seaboard.”</p>

<p>Albert acknowledged caregivers might be selling marijuana illegally to people not registered in the program or other caregivers. Some caregivers concede part of the problem in Maine and elsewhere has been the hurried creation of state regulations.</p>

<p>Devin Noonan came to Maine from San Francisco, where he cultivated plants inside a grow tent in a bedroom. The high rent in California didn’t seem worth it, so he traded his cramped apartment for a spacious home hidden by tightly packed trees and brush. </p>

<p>His marijuana grows up to 6-feet tall in the greenhouse Noonan built. Other plants sit under purple LED lights in his living room until they reach maturity. A total of 72 plants support Noonan’s company, Dirigo Royale; six for each of his five patients, six more for himself and six more each for his girlfriend’s five patients and herself. </p>

{% include e-vimeo.html video=135755780 caption="With a half-finished green house, licensed medical marijuana patient and caregiver Devin Noonan grows a total of 72 cannabis plants in Augusta, Maine." %} 

<p>Caregivers in Maine are not inspected unless a complaint is made, according to Albert. To pursue a complaint, the Department of Health and Human Services contracts with investigators (typically retired police officers) through the Maine Sheriffs’ Association to conduct what Noonan called “knock-and-talks.” The investigators are sent to caregivers' grow sites and homes to determine whether they are compliant with the law. </p>

<p>Investigators do not have the authority to issue citations, confiscate plants or revoke a caregiver’s registration. They can only recommend further law enforcement action.</p>

{% include e-slideshow.html uniqueid="devin" %}

<p>Just about 150 miles away in Massachusetts, another set of New England caregivers cultivate under a very different set of rules.</p>

<p>Massachusetts caregivers and patients are allowed to practice “hardship cultivation,” which permits growing at home in cases of financial hardship or if they cannot reach a dispensary due to limited mobility or unreasonable distance.</p>

<p>Registrations for up to 35 dispensaries were to be issued between Jan. 1, 2013, when the medical marijuana law went into effect, and Jan. 1, 2014. Only one dispensary has been approved and is operational.</p>

<p>This means most Massachusetts patients still cultivate on their own or through caregivers.</p>

<p>The state’s law allows each patient or caregiver to possess a 60-day supply of prepared marijuana, which is set at about 10 ounces. The amount can be increased or decreased based on a physician's recommendation. However, the law’s language is unclear on how many plants are permissible to provide that supply.</p>

<p>“Basically, it’s unregulated,” said Justin Simone, a caregiver in Pepperell, Mass. “It’s chaos. You don’t know what’s going on.”</p>

<p>Simone cultivates for himself and his uncle. One small plant stands at about three inches tall in a blue bucket of soil; it’s bushier than it is tall. Without dispensaries to make up for his lack of supply, he admits that he and others have resorted to illegal means of obtaining marijuana. </p>

{% include e-vimeo.html video=135755782 caption="With a single cannabis plant growing in the bathroom basement of his father’s home, medical marijuana patient and caregiver Justin Simone cultivates for himself and his uncle in Pepperell, Massachusetts." %} 

<p>“People need their medicine now, and they’re still not getting it,” he said. “And if they are, they’re getting it on the black market. That’s the only way.”</p>

<p>But even states with active dispensaries have had regulatory issues. Arizona has been trying to create a balanced system since medical marijuana was legalized in 2010. </p>

<p>Ninety-one dispensaries have been approved for operation in the state since 2012. Home cultivation now is permitted only for patients who live 25 miles away from the nearest dispensary. Caregivers can take on up to five patients and cultivate for those who meet the more-than-25-mile requirement. Twelve plants are permitted per patient with a maximum of 72 allowed at one time, including 12 for caregivers if they qualify as a patient.</p>

<p>Caregivers who cannot cultivate legally are able to obtain marijuana from a dispensary. The number of registered caregivers has decreased from more than 1,000 to about 500 since dispensaries opened, said Tom Salow of the  Arizona Department of Health Services. </p>

<p>“The cultivation that occurs at residential places for patients or caregivers that are authorized to cultivate – we don’t inspect those sites,” Salow said. “If they’re not operating under the protections of the Medical Marijuana Act, they might be subject to criminal consequences.”</p>

<p>Salow said his department’s priority is implementing what Arizona voters wanted. “We think we’re doing that in a responsible manner.”</p>

<p>Even in Colorado, where recreational marijuana is legal and readily available, the lack of effective regulations for caregivers has made it easier to sell illegally.</p>

<p>“The caregivers are the least regulated part of the entire spectrum,” said Jim Gerhardt, the vice president of the Colorado Drug Investigators Association, a private non-profit organization of narcotics officers. “So, they’ve always historically been one of the biggest contributors to the black market here.”</p>

<p>Colorado limits each caregiver to five patients, but caregivers can obtain a waiver from the state Department of Public Health and Environment to take on additional patients. Gerhardt said officers have no way of knowing who has those waivers.</p>

{% include e-slideshow.html uniqueid="matt" %}

<p>“If we encounter someone who’s got a car load of pot that they’re driving around town, and they say, ‘Well, I’ve got 700 patients’ or whatever, there’s not even a way to really determine that,” Gerhardt said.</p>

<p>“People were starting to stick their medical marijuana cards in our face anytime we would encounter them with any amount of pot, and we did start to find people that were kind of taking advantage of the situation. We did believe they were selling, but it was hard to really prove it because they had these caregiver permissions and all that.”</p>

<p>But without consistent regulation of home grows by caregivers, medical marijuana programs are left to guess at the extent of the black-market problem.</p>

<p>“We’re seeing all kinds of collateral problems,” Gerhardt said. “Does that sound like medicine? Does this sound like the way a civilized country dispenses medical products to people? Far from it.”</p>

{% include e-slideshow.html uniqueid="caregivers-jake" %}

<p>The caregiver industry hasn’t been particularly lucrative for Maine’s Jake Holmes, who shares an old white house with his business partner. The backyard is taken up almost entirely by a mound of fresh black soil and rows of planters made from fabric and wire fencing held up by wooden stakes. The planters are empty for now. Holmes’ seedlings are growing slowly in red cups in his spare bedroom, but still too small and delicate to go outside. </p>

<p>“Maine has a lot of veterans and a lot of people who have problems with an addiction,” he said. “So being a caregiver is just a way that I saw I could personally make a difference in the community – by helping people fight that sort of thing.</p>

<p>“To be really successful at managing the business and helping patients and producing a superior quality medicine for them, that is a long road to walk. Not many people make it.”</p>

<p><em>News21 journalist Jessie Wardarski contributed to this article.</em></p>
