---
layout: story
title: "Colorado on pot: America’s imperfect marijuana model"
byline: "Clarissa Cooper"
credits:
  - Clarissa-Cooper 
  - Montinique-Monroe
  - Dom-DiFurio 
  - Jessie-Wardarski 
hero: colorado-hero
hero-credit: Dom DiFurio
permalink: /colorado-on-pot-americas-imperfect-marijuana-model/
slug: colorado
socialimage: colorado-hero-768.jpg
blurb: "As of 2015 Colorado has 883 licensed marijuana dispensaries, all overseen by the Marijuana Enforcement Division. And although the state has seen an influx of tax revenue from the industry, there are many who feel the state was not ready for marijuana commercialization."
soundcite: no
section: recreational
---

{% include e-sections.html slug="colorado" %}

<p>DENVER — Broadway Street near downtown Denver used to be known for its eclectic antique stores. Now known to locals as “The Green Mile,” the street is lined with marijuana dispensaries — Ganja Gourmet, Colorado Wellness and Green Depot — along with tattoo parlors, a boot shop, a skate shop and storage units.</p>

<p>The smell of marijuana wafts through the air. Around the corner are the unmarked cultivation and production warehouses that feed the freedom of legal marijuana.</p>

<p>As of July, the state of Colorado had issued 2,446 licenses for marijuana cultivation, production, testing facilities and retail stores in both the medical and recreational markets. Just 18 months into the legalization era, the state’s estimated annual demand for marijuana is already about 130 metric tons, according to a study by the Marijuana Policy Group.</p>

{% include e-vimeo.html video="135408227" caption="As of 2015, Colorado had 883 licensed dispensaries overseen by the Marijuana Enforcement Division. The state has seen an influx of tax revenue, but many say it was not ready for marijuana commercialization." %}

<p>Known for years even before legalization as a pot smoker’s haven, investors, business owners, tourists and many residents argue that legal recreational marijuana has been nothing but good for Colorado, bringing in more than $79 million for the state in taxes and fees during the fiscal year 2015. And those figures don’t keep track of the economic contributions of thousands of tourists who come to Colorado partly for its marijuana. </p>

{% include e-pull-pin.html %}

<p>According to Colorado’s Marijuana Enforcement Division, up to 90 percent of recreational sales in some areas, namely mountain towns, are made for tourists coming to enjoy the crisp mountain air, freshly powdered ski slopes and bountiful weed.</p>

<p>When Colorado’s Amendment 64 legalized recreational marijuana in 2012, most of its support came from voters in Denver and the surrounding metropolitan area — and not from more rural areas, leaving a state divided over the drug that is still illegal under federal law.</p>

<p>Out of 321 municipalities in Colorado, 228 “opted out” of allowing marijuana. Local officials and law enforcement throughout the state, unconvinced of the benefits of marijuana, have tried to push back against legalization, citing the federal government’s ban on marijuana and going so far as to file lawsuits against their own governor.</p>

<p>Dispensaries have proliferated in the Denver area. But across the state, in the desert of western Colorado, the landscape is almost void of recreational dispensaries. One exception, about 60 miles into the state, is De Beque, a one-exit town of 500 people where a gas station and the Kush Gardens pot shop sit at the side of the interstate.</p>

<p>“In the last 10 years, nothing has changed, people are still obtaining marijuana and using it, they’re just doing it in a legal, regulated market now. Now they’re just paying a tax on it and giving back to the community,” Jim Roberts, operations manager of Kush Gardens, said.</p>

{% include e-mid-image.html image="james-1200.jpg" caption="Jim Roberts is the operations manager for Kush Gardens in De Beque, the only dispensary in Mesa County, an opt-out county on the Western Slope. (Photo by Montinique Monroe | News21)" %}

<p>Amendment 64 passed with 54.8 percent of the population voting in favor of recreational marijuana for those 21 and over, allowing residents to purchase up to an ounce of marijuana and tourists to purchase up to a quarter-ounce.  Most of those votes came from the Denver metropolitan area. Now, smaller municipalities are deciding whether they want to include marijuana in their jurisdictions, with more beginning to allow marijuana dispensaries to capitalize on tax dollars.</p>

<p>In Kush Gardens’ case, De Beque is allowing it to operate, but keeping a close watch on the building with names of marijuana strains plastered on the building and a bright green cross sign out front to lure travelers. </p>

<p>“The sky’s kind of the limit right now in the industry, and that’s what makes it so exciting,” Roberts said. “It’s in its infancy. And it’s just exploding like a supernova, and it’s the new gold rush of the 21st century.”</p>

<p>In one year, the state added about 900 new marijuana licenses for retail purposes, according to the Marijuana Enforcement Division. One of the state’s goals for marijuana legalization is to have the industry’s regulation pay for itself through licensing and tax revenues. For this year, the Marijuana Public Awareness Campaign, which works to inform residents and visitors of how to consume cannabis safely and legally, got $2.15 million. Local law enforcement training got $1.17 million. The governor’s office received $190,097 to form the Governor’s Office of Marijuana Coordination.</p>

<p>Colorado public schools are benefiting as well — Amendment 64’s main selling point to the voters was that it would provide up to $40 million annually for school construction under the Department of Education's Building Excellent Schools program. When Amendment 64 passed, Colorado earmarked certain tax money for school construction and repairs.<a name="co1"></a></p>

<p>In the first year, Colorado put $18 million into the BEST program.</p>

<h2>No typical smoker</h2>

<p>The state isn’t keeping count of tourists with a passion for weed, but marijuana tourism companies have become an industry of their own in the past year. Companies including 420 Tours, Colorado Green Tours and Colorado High Life Tours offer activities from cannabis cooking classes to growhouse tours and cannabis yoga retreats. </p>

<p>Nestled into a historic Denver neighborhood sits Adagio Bud & Breakfast, an old pink house that creaks with every step and is filled with cabinets, couches and an ample supply of bongs.</p>

{% include e-slideshow.html uniqueid="bbfast" %}

<p>Adagio is part of a chain started by Joel and Lisa Schneider in their new ‘cannahospitality’ and ‘cannalodging’ Bud & Breakfasts, soon to be joined by a ‘cannacamp’ on a ranch near Durango, in the state’s southwest. The Schneiders moved to Colorado for the weed and the money that follows it.</p>

<p>Wisconsin native Heidi Keyes is the CEO of her own marijuana painting class, aptly named Puff, Pass and Paint. She hosts classes in a studio space. Before she moved into her own studio, she used the garage at Green Labs, a shared space for cannabis enthusiasts and entrepreneurs. She provides paint, canvases and sponsor samples of bud from dispensaries to supplement her class’s bring-your-own cannabis policy. </p>

{% include e-pull-image.html image="heidi-768.jpg" caption="Heidi Keyes stands on a balcony at Green Labs, a shared space for cannabis events in Denver. (Photo by Dom DiFurio | News21)" %}

<p>Keyes moves around the room to help customers, occasionally pausing to go back to the front and paint the next step on a landscape.  As she walks through the poorly-ventilated garage during the two-hour class, she sips down most of a bottle of white wine and takes hits of the sample pot, smoke lingering in the air.</p>

<p>“What I want people to know about the industry is that there’s no stereotypical stoner anymore,” Keyes said. “We’re passionate about marijuana but we’re business people as well and there’s a whole new demographic that is trying marijuana also.”</p>

<p>Most tourism outlets don’t deal directly with marijuana. They leave marijuana acquisition and use to the tourists. When the Schneiders first opened their Adagio location, they acquired samples of bud to leave out for their customers. In response, the city of Denver claimed the Schneiders were distributing without a license, and temporarily banned Joel Schneider from his own business.</p>

<p>“The original citation turned into a public nuisance where I was not even allowed to come here. I was actually prohibited from being here. But we’ve resolved the city issues to my favor, and it’s over,” Joel Schneider said.</p>

{% include e-slideshow.html uniqueid="ppp" %}

<p>The Schneiders said they have formed partnerships with nearby dispensaries, allowing their customers to get discounts and deals on the strains of their choice, and are still permitted to set out samples at their Silverthorne location. The Schneiders and dispensary owner Roberts echoed the sentiment that in the era of recreational marijuana, there is no longer a “typical stoner.”<a name="co2"></a></p>

<p>“When you look at how diverse the people that come through the door (are), and you know, to think that as little as 10 years ago as little as a plant in someone’s yard could mean years in jail in some municipalities, it’s crazy,” Roberts said.</p>

<h2>Law enforcement displeased with legal weed</h2>

<p>In Colorado’s booming market of marijuana, the state is still figuring out ways to regulate and enforce legal weed. The Marijuana Enforcement Division, a branch of the Department of Revenue, is tasked with keeping track of all the legal marijuana in the state — until it gets sold. Housed within a series of drab, quiet buildings filled with conference rooms and men in suits, the MED is a far cry from stores stocked with shelves of product and customers eager to purchase their next high.</p>

<p>As the state’s marijuana business grows, the MED has had to race to keep up.</p>

<p>“The challenges are trying to roll out a regulatory framework and a program at the same time you’re trying to hire employees,” Ron Kammerzell, the soft-spoken senior director of the Department of Revenue, said. “That’s a daunting task, but we’ve been able to do it.”</p>

{% include e-mid-image.html image="ron-1200.jpg" caption="Ron Kammerzell is the senior director of enforcement for the Colorado Department of Revenue, which includes the Marijuana Enforcement Division. (Photo by Montinique Monroe | News21)" %}

<p>The MED is tasked with keeping track of all marijuana from seed to sale, making sure businesses stay compliant and keeping track of all the inner workings of the industry, similar to divisions made for alcohol and tobacco enforcement.</p>

<p>Taxes from marijuana go into the Marijuana Tax Cash Fund, and then the money is allocated to programs relating to marijuana, including drug abuse programs, regulation and enforcement.</p>

<p>“Clearly, the things that we’re really focused on right now are public safety issues, diversion, making sure we keep it out of the hands of kids, and I think those will continue to be the primary objectives,” Kammerzell said.</p>

<p>By May 2015, the MED had received over $14 million from licensing and application fees, but numbers for the whole year won’t be out until later. The MTCF gave MED an additional $7.6 million for fiscal year 2016.</p>

<p>“Our philosophy is that marijuana should pay its own way, that the cost of legalization should be funded by the revenues that come from legalization and that’s why MED is funded the way it is,” said Skyler McKinley, deputy director of the Governor’s Office of Marijuana Coordination.</p>

<p>Law enforcement across the state has found issues with marijuana, such as caregivers having too many plants and marijuana crossing over state borders. With his commanding voice and presence, Jim Gerhardt, vice president of the Colorado Drug Investigators Association, is critical of the MED and the state’s marijuana system. The Colorado Drug Investigators Association is a nonprofit group of law enforcement professionals who collaborate on drug enforcement issues. </p>

{% include e-mid-image.html image="jim-1200.jpg" caption="Jim Gerhardt, the vice president of the Colorado Drug Investigators Association, stands in front of the Thornton Police Department. (Photo by Dom DiFurio | News21)" %}

<p>“We are not dependent on marijuana being legal or illegal from a financial standpoint. We are vested in it from a public safety standpoint. The MED however, they have to have licensing fees or they don’t exist. There have been frustrations on the part of the industry,” Gerhardt, a sergeant in the Thornton Police Department, said.</p>

<p>Gerhardt said that police don’t have the resources to keep up with the legalization of marijuana, and that the details surrounding marijuana enforcement aren’t always clear to officers.</p>

{% include e-parallax.html image="chocolate" caption="A worker from Incredibles, an edibles company, holds a food product from the organization’s production facility in Colorado. The edibles are infused with CBD and THC. (Photo by Jessie Wardarski | News21)" %}

<p>“Marijuana investigations are now more time-consuming and complex than they’ve ever been … we don’t have the resources to handle all the problems and complaints we have,” he said.</p>

<p>The side effects of marijuana are extreme, according to Gerhardt. More marijuana is being seized in schools. People are coming in to Colorado, buying weed, and driving straight back out. Potency levels in marijuana are strong, and edibles have been associated with suicides and violent crimes in Colorado, according to Gerhardt. Hash oil extraction attempts have ended in explosions, according to Larimer County Sheriff Justin Smith.</p>

<p>“We’ve had some of the dispensaries put in the name of a local Colorado resident with a clean criminal history but it was being funded by Colombian drug interests,” Gerhardt said. “We have other groups that put these businesses in a false name. Or they have held license and diverted marijuana to another state. We’ve seen all that. Whatever scheme you can think of people have found a way to get into the marijuana business here in Colorado and exploit what we’ve started here.”</p>

<p>Gerhardt said that the government didn’t put enough measures in place to ensure that marijuana users were obeying the law. </p>

<p>“There’s also a requirement that anybody with a home-grow is supposed to register those with the state. I don’t think there’s a single person who’s done that,” Gerhardt said.</p>

<p>The conflicting laws of the constitutions have driven Smith, Larimer's Sheriff, to lose sleep, he said, and sue the governor of Colorado.</p>

<p>“It put us in the situation where a state constitutional amendment mandates that sheriffs get involved in certain acts, which are a violation of the federal law,” Smith said. “We have several constitutional conflicts that sit before us and there really is no guidance out there.”</p>

{% include e-mid-image.html image="justin-1200.jpg" caption="Larimer County Sheriff Justin Smith and 11 other sheriffs from Colorado, Nebraska and Oklahoma, sued Gov. John Hickenlooper over Colorado's marijuana laws. (Photo by Dom DiFurio | News 21)" %}

<p>Smith, along with 11 other sheriffs from Colorado, Nebraska and Kansas, sued Colorado Gov. John Hickenlooper in March. They are seeking clarification from courts on how to properly enforce state marijuana law without breaking their vows to the federal government to keep drugs out of the general population.</p>

<p>Six of the 11 sheriffs are from Colorado, all from counties that have voted against recreational legalization, except Smith, who says that legalization of marijuana in his county has led to problems from an increase in the homeless population to health concerns from poorly maintained home-grows.</p>

<p>“There was a big reassurance to the citizens that this would be well regulated by the state and a lot of ways we’ve seen that’s not been true,” Smith said. “Partially, I think it was a faulty scheme that didn’t come together well, it came together quickly.”</p>

<p>Smith said his officers run into conflicts when they arrest someone who is in possession of marijuana — by Colorado’s law, they have to give it back. But giving marijuana back is a violation of federal law. </p>

<p>“You know, I personally don’t believe that having a stoned workforce and more youth using marijuana is good for our state, good for our nation,” Smith said. “But I’m not the one that makes the laws. However, I can’t be in the position of violating laws in the actions and course of my duties.”</p>

<p>Last December, the states of Oklahoma and Nebraska filed a lawsuit against Colorado, stating Amendment 64 was "devoid of safeguards" to keep pot from crossing state borders and into the black market. In February, anti-drug groups filed suit arguing that Colorado is violating federal laws.</p>

<p>From the plains of Wyoming and Kansas, Colorado’s neighbors aren’t as accepting.</p>

<p>“We’re really on an island here right now where all of our bordering states, they don’t have retail marijuana legalized. All but one don’t even have medical, so that’s got to be a high priority for us as a state is to do everything we can to keep it from crossing the state borders,” Kammerzell of the MED said.</p>

<p>Law enforcement from other states has expressed its concerns, but Colorado says it’s nearly impossible to keep marijuana from crossing state lines.  Officers said they can no longer search a person, car or property based on the smell of marijuana. That prevents them from knowing whether an individual possesses a legal ounce or 10 times the legal limit.</p>

<p>“The reality we have is we’ve essentially been declawed,” Smith said. “The best we can typically do is call ahead and tell the neighboring jurisdiction, ‘Hey, we’ve got this and this is where they’re going. If you catch them in your state, the mere possession is against the law.’”</p>

<p>Illegal weed is still pouring in and out of Colorado, but the legal market has put a dent in the black market, according to law enforcement.</p>

{% include e-parallax.html image="colorado-weed" caption="Marijuana is displayed at Euflora Dispensary in Denver, Colorado. (Photo by Dom DiFurio | News21)" %}

<p>“This past year, through our inventory tracking system, we’ve sold about 70 metric tons of marijuana. So, if you do the math, there’s a stock out there of about 60 metric tons,” Kammerzell said, citing the study that measured marijuana demand at 130 metric tons. He said the MED doesn’t expect the black market to disappear, only diminish, especially while recreational marijuana remains illegal in 46 states.</p>

<p>“I can tell you, ultimately, if you really want to run the black market out of town, if you really want to put a dent in the cartels, if you want to stop a lot of this diversion, here’s what has to happen: The federal laws on marijuana have to change and allow for legalization. Every single state has to allow for legalization, basically the way they did for alcohol,” Gerhardt said.</p>

<p>Law enforcement and MED officials agree that marijuana needs to be kept out of the hands of children. “We’ve literally had kids in second, in third grade that have brought pot to school to show and to provide to others. As young as that,” Gerhardt said.</p>

<p>Smith fears that all of the issues law enforcement has come across are tearing Colorado apart from the rest of the nation, and could lead to larger problems down the road if left unaddressed. “If states can essentially violate federal law and have no repercussions, then over time this continues, we’re no longer one nation, we’re 50 separate states,” Smith said.</p>

<p><em>News21 Fellows Montinique Monroe, Dom DiFurio and Jessie Wardaski contributed to this report.</em></p>

