---
layout: story
title: Welcome to Avoyelles Parish
byline: "Quint Forgey"
credits:
  - Quint-Forgey
hero: communities-hero
hero-credit: Shawn Weismiller
permalink: /welcome-to-avoyelles-parish/
slug: communities
socialimage: communities-hero-768.jpg
blurb: Blacks in one small Louisiana community are more likely than whites to be arrested for marijuana possession. They also are the frequent targets of the so-called “Jump-Out Boys.”
soundcite: no
section: law
pinfooter: yes
---

<p>MARKSVILLE, La. - In Avoyelles Parish, Louisiana — where more than 22 percent of residents live in poverty, where the local school system still was legally segregated until three months ago, and where whites make up more than two-thirds of the population — African Americans have been disproportionately arrested on marijuana charges for the past five years.</p>
 
<p>“You see marijuana busts every day. Almost every day,” said Rashaun Larcarte, a 29-year-old, four-time convicted drug felon.</p>

<p>From 2010 to 2014, Avoyelles Parish Sheriff’s Office made 226 black arrests for marijuana possession and sale, and only 188 white arrests. Black residents make up just less than 30 percent of the parish’s population, but were  2.7 times more likely to be arrested than whites, a News21 analysis found.</p>

{% include e-pull-image.html image="rashaun-larcarte-768.jpg" caption="Rashaun Larcarte, a former drug dealer and resident of Marksville, said law enforcement unfairly targets African Americans in his neighborhood. (Photo by Shawn Weismiller | News21)" %}

<p>Larcarte, who is black, lives in the parish seat of Marksville in a neighborhood where few outsiders linger.</p>

<p>“The Quarters, as we call it,” Larcarte said. “Our section.”</p>

<p>Marked by high black poverty and frequent drug arrests, the Quarters consists of about three streets in east Marksville — parallel jets of asphalt cutting through the community and dead-ending at a scrappy patch of farmland on the banks of the Petite Riviere stream.</p>

<p>The roads — Martin Luther King Drive, Brouillette Street and Overton Avenue — are studded with dilapidated, single-story houses. As the sun begins to set, residents pop open their truck tailgates, kick back and watch a swarm of kids storm the blacktop basketball court of the adjacent Marksville Middle School.</p>

<p>A city security camera wired to a nearby post monitors everything it can.</p>

<p>Not much interrupts the sluggish, humid flow of life here more than the “Jump-Out Boys” — a local nickname for a covert police task force that searches the streets for suspicious drug activity.</p>

<p>Their patrols trigger fear in black residents and roil racial resentment. Now routine, homeowners have memorized their unmarked vehicles. But, for many, the Jump-Out Boys have become the boogeymen of the Quarters.</p>

<p>“They’re going to jump out on you, search you down, pat you down, just because you’re walking the streets,” Larcarte said.</p>

<p>Residents claim the officers disproportionately target black neighborhoods and make arrests with little cause or evidence.</p>

<p>“It’s just easier on their jobs. …‘Oh, alright, let’s go to the black neighborhood and let’s get us some easy arrests,’” Larcarte said. “They act like this is the only neighborhood that's in Marksville, Louisiana.”</p>

<p>The police have done little to soothe the parish’s already-tense race relations, perhaps best exemplified by the 48-year-old desegregation lawsuit against the Avoyelles Parish School Board, filed near the close of the civil rights movement.</p>

{% include e-mid-image.html image="charlie-riddle-1200.jpg" caption="Charles A. Riddle, III, the district attorney for Avoyelles Parish in Louisiana, is developing a new program to educate business and community leaders about substance abuse. (Photo by Shawn Weismiller | News21)" %}

<p>The case was finally settled and Avoyelles’ high schools were deemed unitary in May, due in part to the efforts of District Attorney Charles Riddle III, a former state representative whose father dealt with the case as Avoyelles’ DA back in 1967. Riddle is aware of the concerns of black community leaders, who often visit his office to question racial disparities in arrest reports.</p>


<p>Riddle said more blacks are arrested on marijuana charges in Avoyelles because their dealing takes place out in the open — on the streets where cops have come to expect it. But whites, Riddle said, go about their transactions “a little more secretly.”</p>
 
<p>“If you can see it, it’s easy to arrest,” Riddle explained. "Do you not arrest them because it happens to be in a minority area?. No, you’re going to make the arrest.” </p>


{% include e-pull-image.html image="allen-holmes-768.jpg" caption="Allen Holmes, a community leader in Avoyelles Parish, said law enforcement in the area disproportionately targets African Americans for drug violations. (Photo by Shawn Weismiller | News21)" %}


<p>The Rev. Allen Holmes says he’s known Charles Riddle for more than 35 years. Though they both live in Marksville, they are leaders of two seemingly distinct communities.</p>

<p>Holmes reinvigorated the parish’s dormant desegregation suit in 1987 as its new plaintiff and began working with the DA’s office. He knows firsthand the muscle Riddle wields in the parish.</p>

<p>“He’s in a very powerful position. He gets to decide what they’re going to be charged with, and he’s got a grand jury that’s going to finger-snap anything,” Holmes said. “They’ll send a ham sandwich to prison for 80 years just on his will.”</p>

<p>Larcarte is familiar with Riddle from interactions after multiple drug arrests. The normally brash ex-con hesitates only when discussing Avoyelles’ district attorney.</p>

<p>“He’s not a guy that you want to get on the bad side. He runs the courtroom,” Larcarte said. “I thought the judge was supposed to have the last say-so, but when you dealing with this district, you dealing with Charles Riddle.”</p>

<p>Riddle’s views on substance abuse are based in part on personal experiences with his middle-aged son, who became addicted to crystal meth and spent four months in treatment. Riddle now drug tests him once a week.</p>

{% include e-pull-image.html image="norma-lemoine-768.jpg" caption="Norma Lemoine is a Marksville probation officer and founder of the Avoyelles Parish drug court. (Photo by Shawn Weismiller | News21)" %}

<p>Riddle is in the process of developing a new program — tentatively called “Saving Our Communities” — to educate business and community leaders on substance abuse and ways to address the problem by offering assistance to their employees. For Riddle, the parish’s rural poverty and drug arrests go hand in hand.</p>

<p>“Economics plays a huge role,” Riddle said. “If people aren’t going to be able to work because they have a substance abuse problem, I find that they tend to end up selling.”</p>

<p>Larcarte says when he first got out of prison he was hit with several child support payments so he started dealing again.</p>

<p>“You come home. You got these felonies on your back. You can’t get no job,” he said. “That’s all we know, being in this neighborhood, is selling drugs.”</p>

<p>Riddle considers his system of marijuana prosecution more progressive than those of other parishes.</p>

<p>Unless the lawbreaker has a severe criminal record, Riddle said he does not prosecute cases of first-offense marijuana possession, instead running them through drug court or a district attorney diversion program. Usually, it’s not until the second arrest that Riddle will move forward with prosecution on first-offense charges.</p>

<p>“Unfortunately, and fortunately, if someone is arrested for a crime, it gives me the ability to kind of force it upon them, force it upon their family,” Riddle said. “How about I won’t prosecute you if you choose to go through treatment?”</p>

<p>Norma Lemoine is a Marksville probation officer and founder of the Avoyelles Parish drug court. All of her referrals come from the DA’s office.</p>

{% include e-mid-image.html image="thequarters-2-1200.jpg" caption="Young men play basketball in Marksville, Louisiana. (Photo by Shawn Weismiller | News21)" %}


<p>“They start out with marijuana,” Lemoine said. “The parents probably smoked it in front of the kids. Then the kids, naturally they smoke it. And it just goes from generation to generation.”</p>

<p>Lemoine knows the inhospitable nature of Avoyelles’ economy and laments the few recreational outlets for parish youth, but she disregards the notion that offenders get stuck in a cycle of drug dealing with no possibility for employment.</p>

<p>“I think a lot of that is excuses,” Lemoine said. “Anybody that does a background check for jobs are not checking actually for misdemeanors. They’re more or less checking for felonies — especially in Avoyelles Parish.”</p>

<p>While drug court offers first-time offenders a way out of prosecution and jail time, many in the black community say it’s an easy way for public defenders to force them into a system of payments to sustain parish bureaucracy. Participants can pay up to $100 per month in dues.</p>

<p>Holmes refers to drug court’s mid-week meetings as “Black Tuesdays.”</p>

<p>“You aren’t going to be prosecuted, but you got to pay $500, $600,” Holmes said. “Now where’s he going to get that from if he ain’t got a job?”</p>