---
layout: story
title: "Marijuana pushes the limits in the inexact science of DUID"
byline: "Josh Benson and Clarissa Cooper"
credits:
  - Josh-Benson
  - Clarissa-Cooper
hero: duid-hero
hero-credit: Kathryn Boyd-Batstone
permalink: /marijuana-pushes-the-limits-in-the-inexact-science-of-duid/
slug: duid
socialimage: duid-hero-768.jpg
blurb: "Law enforcement deals with impaired drivers every day. But discrepancies in legal limits and testing procedures vary from state to state."
soundcite: no
section: law
---

{% include e-sections.html slug="duid" %}

<p>SEATTLE – As states across the country have legalized medical and recreational marijuana, each one has varying legal limits to determine whether a driver is impaired by marijuana.</p>

<p>In some states, drivers are not allowed to have any detectable amount of marijuana in their systems. Washington, Colorado, Montana, Pennsylvania, Ohio and Nevada each have set specific numerical standards to establish when a driver is legally impaired by marijuana. Other states have not. </p>

<p>Law enforcement agencies and state toxicology labs normally test blood or urine samples to determine the amount of marijuana in the system of a driver suspected of being impaired. Marijuana advocates, researchers and legal experts warn that the current testing methods have troubling limitations that could result in unfounded arrests or convictions.</p>

<p>“If you don’t want people to drive impaired then charge them for driving impaired,” said Douglas Hiatt, a Seattle-based criminal defense attorney. “Look at the totality of the circumstances and prove your case. Don’t rely on a standard that’s meaningless, unscientific and prejudicial to people. It’s just not right. It’s not fair. It’s not anything like notions of justice that we have in this country.”</p>

<p>In Colorado, the state Department of Transportation is working with law enforcement to train drug recognition experts and determine the impact marijuana has on impaired driving, said Glenn Davis, Colorado’s highway safety manager. </p>

<p>“The biggest challenge that we really have now is data. People have been driving impaired by drugs for a long time,” Davis said. “We really want to know how many people have marijuana in their system when they’re arrested. How big an influence is it?”</p>

<p>Legal limits and testing methods for alcohol are more straightforward. Every state has passed legislation making it illegal to drive with a blood alcohol content at or above .08 percent, according to the National Highway Traffic Safety Administration. For years, law enforcement agencies have used portable, handheld breathalyzers and blood screens to measure the blood alcohol levels of suspected impaired drivers. These have been effective tools largely because of alcohol’s relatively predictable relationship to the functioning of the human body. This is not the case, however, with marijuana. Understanding how the drug interacts within a person’s system is a complex biological issue.</p>

<p>In testing for marijuana, law enforcement looks for two main compounds: delta-9-tetrahydrocannabinol (THC) and 11-nor-9-carboxy-delta-9-tetrahydrocannabinol (THC). Delta-9-THC is one of the main psychoactive compounds in marijuana. It interacts with cannabinoid receptors in the brain and produces the “high” associated with marijuana use. After being consumed, delta-9-THC rapidly breaks down into the inactive metabolite carboxy-THC. Both are lipid-soluble and stored in the body’s fat cells. A blood test can distinguish between delta-9-THC and carboxy-THC, while a urinalysis identifies the latter.</p>

<p>Studies have shown that smoking marijuana regularly can contribute to an excessive buildup of delta-9-THC and carboxy-THC in the body’s fat cells. This has long been a concern for medical marijuana patients, especially in states with fixed “per se” limits or “zero-tolerance” policies.</p>

<p>In Washington and Montana, for example, the per se limit is 5 nanograms of delta-9-THC per milliliter of blood. Any driver found at or above that level is over the legal limit and can be arrested and prosecuted with no other proof of impairment, much like the ubiquitous .08 per se limit for alcohol. States like Delaware and Wisconsin, on the other hand, have zero-tolerance policies, which means any detectable amount of marijuana can result in a traffic safety conviction. </p>

<p>Critics argue that per se limits and zero-tolerance policies do not necessarily prove impairment, so they could be used to punish drivers who are not actually impaired. “I think that a lot of people are in danger,” said Vivian McPeak, the executive director for Seattle Hempfest. “Especially medical patients.”</p>

<p>A study published in 2015 by Forensic Science International found that THC stays in the blood of chronic users longer than previously thought. Researchers monitored 21 participants who admitted to consuming marijuana heavily over the previous three months. Each participant abstained from the drug over the course of the study. After 24 hours, nine of the participants still had active delta-9-THC levels above 5 nanograms per milliliter of blood, meaning they would have been over the legal limit in states with per se limits of 5 nanograms or less, as well as any state with a zero-tolerance policy. Two participants still tested at 5 nanograms more than five days into the study.</p>

<p>Marijuana law reform advocates have also criticized these standards for establishing numerical limits, which they say analogize marijuana use to alcohol use.</p>

<p>“Marijuana is not alcohol,” said Paul Armentano, deputy director of the National Organization for the Reform of Marijuana Laws. “We are talking about different families of drugs that interact on different parts of the brain that manifests in different changes of behavior,” he said. “It’s absurd.”</p>

<p>Andrea Roth, an assistant professor of law at the University of California-Berkeley, said she believes these numerical limits for marijuana are scientifically unfounded.</p>

<p>“There is no demonstrated linear or predictable relationship between THC blood limits and an increased relative crash risk,” she said. “The smoking gun of causation is case-control studies and single-car fatal crashes.”</p>

<p>Those kinds of studies played a crucial role in developing the first per se limits for alcohol, establishing a clear correlation between a blood alcohol level of at least .08 percent and an increased risk of being involved in an accident.</p>

<p>Roth analyzed four studies that provided data on THC and single-car fatal crashes and nine case-control studies that surveyed randomly stopped drivers about THC use. Roth concluded that none of the studies suggested a relationship between THC levels and an increased crash risk.</p>

<p>“We shouldn’t be relying on completely, scientifically illegitimate per se laws to convict people,” she said.<a name="duid1"></a></p>

{% include e-vimeo.html video=135688893 caption="Since recreational marijuana was legalized in Washington in 2012, law enforcement officials have set regulations for driving under the influence." %}

<h2>Flaws in testing and a lack of science</h2>

<p>In 2014, the Arizona Supreme Court ruled that the inactive metabolite carboxy-THC could not be used to convict motorists of driving under the influence of marijuana in the state. But in other states, carboxy-THC is still used as evidence of impairment.</p>

<p>Oregon has legalized both medicinal and recreational marijuana, but the state does not have a per se limit or zero-tolerance policy. Because there are no numerical thresholds to indicate when a driver is over the legal limit, prosecutors rely on testimony from the arresting officer who observed signs of impairment. As evidence, they can also present the results from urine tests that were administered at some point during the arrest process.</p>

<p>“The urine test tells us that the person ingested marijuana at some point in the past. I don't know exactly when,” said Robert Jones, a supervisor at the Oregon State Police forensic laboratory.</p>

<p>Essentially, in Oregon and other states that use carboxy-THC test results as evidence of impairment, a jury could find a driver guilty of being under the influence of marijuana based on carboxy-THC levels, even though the driver may have ingested the drug several hours, days or weeks earlier and was not impaired at the time of his or her arrest.</p>

<p>“That’s pretty crazy,” said Paul Cary, director of the Toxicology and Drug Monitoring Laboratory at the University of Missouri, whose analysis of published studies found that carboxy-THC remains in the urine of marijuana users days and even weeks after they last ingested it. “Levels in urine, for all intensive purposes, do not relate to impairment,” he said. “It makes little sense to try and relate urine drug levels of cannabinoids to potential impairment for the operation of a motor vehicle.”</p>

<p>Underscoring the disparities in legal limits and testing procedures is the question of whether marijuana actually increases the risk of being involved in an accident, and whether per se and zero-tolerance laws are justified scientifically or even needed altogether.</p>

<p>In February 2015, the NHTSA released a study that explored crash risk associated with drugs and alcohol. In the executive summary, the NHTSA touted the study as the “largest and most carefully controlled of its kind.”</p>

<p>The report ultimately concluded that when alcohol consumption and demographics were controlled, there was no “increase in population-based crash risk associated with THC use.”</p>

<p>“No one really disagrees with this as a matter of science,” Berkeley’s Roth said.  “There is no linear, predictable relationship between blood THC levels and an increased relative crash risk.”</p>

<p>Critics argue that per se limits and zero-tolerance policies are invalid without scientific evidence to support them. As an alternative, they recommend that states use effect-based standards that already exist, meaning that law enforcement has to prove that a driver was impaired by marijuana based on the totality of evidence, including their driving behavior, not just levels of THC found in blood or urine samples.<a name="duid2"></a></p>

<p>“In every state already, it is a criminal violation to drive under the influence of a substance that can impair judgment,” NORML’s Armentano said. “There is no need to amend those laws in a manner that is entirely arbitrary and unscientific,” he said. “If we’re concerned about individuals driving impaired, then the last thing we ought to do is amend the traffic safety laws so that a guilty conviction is divorced from any evidence of impairment.”</p>

<h2>The other side of the story: Law enforcement efforts</h2>

{% include e-pull-pin.html %}

<p>Dealing with drivers who are under the influence of marijuana is not a new phenomenon in states like Washington and Colorado, but as marijuana becomes more widely available, law enforcement agencies are faced with new dilemmas.</p>

<p>One of the major issues in Washington state is the amount of time that passes between pulling over suspected impaired drivers, determining if they are under the influence of marijuana, finding a judge, obtaining a search warrant to perform a blood draw and then having that sample tested at the state toxicology laboratory.</p>

<p>Drivers in Washington are over the legal limit if they have 5 nanograms or more of delta-9-THC in their blood sample. But because marijuana breaks down rapidly in the human body, delta-9-THC quickly converts into the inactive metabolite carboxy-THC.</p>

<p>“The sooner the blood can be drawn the better,” said Brianna Peterson, the toxicology laboratory manager for the Washington State Patrol. “THC may no longer be detectable after three to six hours.”</p>

<p>Because police officers have to track down judges during the day while they are working or at night while they are sleeping, one of the most time-consuming obstacles is obtaining a search warrant, which can take several hours. “It is a challenge and that causes delay,” said Washington State Patrol Lt. Rob Sharpe, impaired driving section commander. “Anything that causes a delay in this process causes us to lose evidence.”</p>

<p>Law enforcement agencies in Washington are combating this delay with an electronic warrant system, which allows officers to contact specially designated on-call judges by phone or email. This has decreased the wait time to as little as half an hour in some cases. Spokane County is currently using electronic warrants and Pierce County is staring a pilot program, but the system has not been implemented statewide, according to Sharpe.</p>

<p>Another vital aspect of enforcement is training officers to identify drivers who are under the influence of marijuana. Every police officer in Washington receives 24 hours of DUI Detection and Standardized Field Sobriety Test training in the police academy, according to Sharpe. “Every officer is looking for impaired driving at all times,” he said.</p>

<p>Typically, once a driver is pulled over, officers begin to look for signs of impairment. They check for slow reaction times, odd mannerisms and unusual odors. They look for watery or bloodshot eyes, restricted or dilated pupils and various shades of complexion. Drivers who are suspected of being under the influence of drugs or alcohol are asked to submit to a voluntary field sobriety test, including a breathalyzer. A failed breathalyzer test, .08 or higher, gives the officer probable cause to arrest the driver, according to Sharpe.</p>

<p>If the blood test reveals little or no alcohol, but there are still signs of impairment, the officer can request a warrant from a judge to obtain a blood sample, which is then tested for the presence of drugs, including marijuana.</p>

<a name="drive"></a>

<p>Washington also has 208 police officers across state, city and county agencies that are certified drug recognition experts. Each of them are given three weeks of classroom and field training, during which time they observe participants under the influence of various drugs and learn the typical signs and behaviors associated with each substance, according to Sharpe. For marijuana, officers look for a green tongue, muscle spasms, eyelid flutters, an inability to cross the eyes, and, of course, the distinctive odor.</p>

{% include e-interactive-js-drop.html path="duid_laws" %}
</br>
<p>Colorado, the first state to legalize recreational marijuana, has around 218 drug recognition experts across the state.<a name="duid3"></a></p>

<p>“What we’re looking out for is the safety of everybody else,” said Colorado State Patrol Trooper Colin Daugherty. “I don’t have an opinion on the matter as long as you don’t get into a vehicle and hurt somebody else.”</p>

<h2>Prevention and awareness</h2>

<p>States with legalized marijuana are spending hundreds of thousands of dollars on campaigns to raise awareness and prevent people from driving while high on marijuana.</p>

<p>Colorado created a series of advertisements around the slogan “Drive High, Get a DUI” after the state’s marijuana-impaired driving campaign was given $450,000 for the 2015 fiscal year for awareness and accident prevention.</p>

<p>Washington state for years has conducted extra law enforcement patrols which are focused on impaired driving. The effort is advertised in advance as a warning to motorists.</p>

<p>“We’ve seen our impaired driving numbers dropping as a result,” said Jonna VanDyk, a program manager at the Washington Traffic Safety Commission.</p>

<p>In an effort to spread impaired driving awareness, Washington has borrowed the “Drive High, Get a DUI” campaign advertisements from Colorado.</p>

<p>“It’s legal. We have people coming here. We have marijuana tourism. We’re going to have an increase in marijuana-impaired driving,” VanDyk said. “But does the data support that? I think we’re going to need a few years of data before we can really say that.”</p>

<p>“Impaired driving is the single largest cause of fatal collisions in Washington,” she added. “It is our number one priority.”</p>
