---
layout: story
title: "Edible marijuana - is it worth the risk?"
byline: "Jessie Wardarski"
credits:
  - Jessie-Wardarski
hero: edibles-hero
hero-credit: Jessie Wardarski
permalink: /edible-marijuana-is-it-worth-the-risk/
slug: edibles
socialimage: edibles-hero-768.jpg
blurb: "From cookies and candy to lotion, oil and wax, marijuana is consumed in ways unimaginable a couple decades ago. But could their ability to deliver a higher high do more damage than good?"
soundcite: no
section: science
pinfooter: yes
---


{% include e-sections.html slug="edibles" %}

<p>The pot brownie. It’s a classic.</p> 

<p>And 40 years ago, the common recipe likely consisted of crushing some bud to hand stir into your batter mix.</p> 

<p>But today’s pot brownie is an entirely different story.</p> 

<p>In industrial kitchens, workers now bake marijuana-laced brownies by the dozen. They’re many times more potent. And they’re labeled with the quirky names like Sweet Grass Brownie.</p> 

<p>And it’s not just brownies. Marijuana dispensaries – some resembling trendy coffee shops  – line their counters with products like Lemon Crinkle Cookies, Bubba Kush Root Beer, Cheeba Chews and Mile High Mint Bars.</p> 

<p>The market for marijuana “edibles” has exploded as medical cannabis legalization has spread across the U.S. in 23 states, from Hawaii to Maine. Four of these states and Washington, D.C., have expanded beyond patients with recreational legalization.</p> 

<p>“Edibles are a very tantalizing, tempting way for people to experiment because they come in every form you can think of,” said Jim Gerhardt, a longtime police officer and vice president of the Colorado Drug Investigators Association.</p>

{% include e-pull-vimeo.html video="135934920" caption="Incredibles, an edible manufacturing company in Denver, makes signature chocolate bars infused with 100 milligrams of THC." %}  

<p>Consumers also have a variety of new ways to ingest marijuana. From a tincture, which is an extracted marijuana oil you drop under your tongue, to a dab or wax you simply heat between two metal objects like a knife, nail or needles and inhale the vapor. People have commonly used dabs in bongs as well as vaporizer pens.</p> 

<p>In Colorado, which legalized recreational marijuana in 2012 and has had medical marijuana since 2000, consumers bought 5.8 million infused edibles and concentrate products in 2014, according to the Colorado Department of Revenue Annual Update.</p> 

<p>That’s big money considering one marijuana-infused chocolate bar can cost upwards of $18 and one gram of concentrated wax can cost about $70.</p>

{% include e-pull-image.html image="edibles-3-pull768.jpg" caption="Blythe Huestis, manager of Natural Selections, looks through the display case in her Arizona facility. The dispensary carries a multitude of marijuana products. (Photo by Sean Logan | News21)" %}

<p>Dispensary manager Blythe Huestis at Natural Selections in Cave Creek, Arizona, said flower – which includes buds taken from marijuana plants – are still their biggest seller, but edibles and concentrates have gained ground, making up about 40 percent of their total sales.</p> 

<p>“They’re great because you can take just a small enough amount where you’re getting the pain relief that you’re seeking, but you’re not feeling medicated,” Huestis said. “You’re not getting that psychoactive feeling. … It would be a real shame to ever prevent edibles from being available to people.”</p>

{% include e-slideshow.html uniqueid="natural" %}

<p>However, as with any substance, the products aren’t without risk.<a name="e1"></a></p>

<p>These concentrates are stronger than their marijuana plant counterparts. More people have access to them. And they’re easier to disguise than a bong or pipe. Some experts said their growing popularity has led to an increase in hospitalizations, home explosions and use among adolescents.</p>

<h2>Concentrates drastically increase THC potency</h2> 

<p>Decades ago, a typical bud of marijuana might contain 2 or 3 percent THC, the active chemical in marijuana that causes the high, according to Gerhardt, who has worked in Colorado law enforcement for 27 years. And because people usually made their own edibles with the flower, the THC level didn’t change.</p> 

<p>Today, THC in flower is anywhere between 12 and 25 percent, dispensary manager Huestis said. But there’s no comparison when it comes to edibles. A potent edible uses a concentrate that has anywhere from 50 to 90 percent THC. “So it is a lot more potent,” said Huestis, the dispensary manager who carries more than 50 edible options in various strengths.</p>

<p>Bob Eschino, president and co-founder of Incredibles, a mini marijuana version of Willy Wonka’s chocolate factory in Denver, said many of his products have high concentrations of THC.</p>

<p>It’s a selling point for customers, he said.  “Commercialization probably has played a part in increasing the potency of flower, a lot of it is because you can have such a controlled environment, people really focus on producing a plant that has a higher THC substance.” </p>

{% include e-slideshow.html uniqueid="incredibles" %}

<p>A 2014 University of Albany study found that people prefer consuming concentrates for the higher intoxication, which ultimately reduces the number of times they have to consume.</p> 

<p>But potency is tricky.</p> 

<p>The edibles industry has faced challenges with consistency: THC within a cookie or candy bar isn’t always evenly distributed and labeled correctly. That’s a problem for medical patients who need to take their correct dose, or for recreational users who consume more than the recommended amount for a single serving.</p>

<p>In Colorado, 10 milligrams of THC is the recommended single-serving size for recreational users. But a multi-serving product can contain up to 100 milligrams. For example,  “Golden Nugget,” a small bag of candy coated almonds sold at dispensaries like Grass Station in Denver, contains 100 milligrams. This would mean that the recommended serving size would be just one nut.</p> 

<p>Colorado and states like Washington and Oregon, which recently set up recreational markets, have had to change laws regarding edibles to include stricter packaging and labeling so consumers can more easily follow the 10-milligram recommendation.</p>

<p>“We’ve added almost a million dollars just to our packaging budget this year,” Eschino said.  “This is now the most expensive part of our (candy) bar, the packaging.”</p>  

<p>Eschino said all the extra requirements are unnecessary. “You know when you go out and buy a beer, you don’t see where the hops were grown, you don’t see what kind of pesticides they used when they grew the hops,” Eschino said.<a name="e2"></a></p> 

<p>However, he applauded the increase in safety awareness, and he said companies have improved consistency over the past year.</p>  

<h2>Overconsumption can lead to hospitalizations</h2>

<p>As the product gets stronger, emergency room visits related to marijuana – from intense hallucinations to hyperventilation and violent illness –  have climbed. </p> 

{% include e-pull-image.html image="edibles-2-pull768.jpg" caption="Ben Cort, director of professional relations for the Center for Dependency, Addiction and Rehabilitation, said he's concerned for youth's use of marijuana in the state. (Photo by Jessie Wardarski | News21)" %}

<p>“Edibles are what are driving hospital admissions for youth, for animals, for adults,” said Ben Cort, director of professional relations for the Center for Dependency, Addiction and Rehabilitation at University of Colorado Health. “Edibles are this crazy, insane thing that popped up along with concentrates that so many people didn’t see coming.” </p> 

<p>Colorado has seen an upward trend of marijuana-related emergency room visits and hospitalizations since the state legalized medical marijuana in 2009, according to the 2015 report by the Rocky Mountain High Intensity Drug Trafficking Area, which coordinates among governmental drug-enforcement agencies.</p> 

<p>The report showed that hospitalization visits with possible marijuana exposures grew from <a href="http://www.rmhidta.org/html/2015%20PREVIEW%20Legalization%20of%20MJ%20in%20Colorado%20the%20Impact.pdf" target="_blank">810</a> in 2006 to more than 2,000 from January to June 2014, many of those directly related to edibles.</p>

<p>"Really, almost exclusively now, the patients we’re seeing for marijuana intoxication in the emergency department are due to edible products,” said Dr. Andrew Monte of the Department of Emergency Medicine and Medical Toxicology at the University of Colorado Denver. “The recreational users that get into edible products or children that inadvertently get into them not knowing what they are.” </p>

<p>The 2015 Rocky Mountain High Intensity Drug Trafficking Area report also states the number of specific THC-infused edible exposures rose from 19 in 2013 to 95 in 2014.</p> 

<p>One of the problems with edibles is that because the THC is digested instead of inhaled, it can take up to two hours for the user to start feeling the psychoactive effects. Users can either become impatient or simply not follow the recommended-use guidelines and eat or drink the entire product.</p>

<p>“(It’s) kind of like doing shots of alcohol,” said Christian Thurstone, medical director of Substance Abuse Treatment Education and Prevention Program at Denver Health in Colorado. “You don’t feel it, and then all of a sudden, it hits you and you have an overconsumption of alcohol. So it’s kind of similar.”</p> 

<p>Marc Vasquez, chief of police in Erie, Colorado, said it’s also a public-safety concern when people don’t feel the side effects and eat more. “They get in the car, and they start driving and then bang,” he said. “Edibles are a greater hazard for us than smoking marijuana because smoking marijuana gets in your system really quickly, and you know your level of impairment generally. (The risk) is amplified with edibles.”</p>

{% include e-parallax.html image="edibles-1" caption="Natural Selections, a medical marijuana dispensary in Cave Creek, Arizona, carries a multitude of cannabis-infused products — from cookies and infused tea to suckers and sour candies. (Photo by Jessie Wardarski | News21)" %}

<p>Doctors and law enforcement also said overconsumption can have serious consequences.</p>  

<p>“What we’re seeing is suicides that are being attributed to marijuana intoxication (and) a murder that occurred in Denver that was attributed to marijuana intoxication,” Gerhardt said.</p>  

<p>However, Monte, the ER doctor,  was more hesitant about the connection: “The edible likely caused either hallucinations or simply impaired judgment. Similar to association with car accidents, this is a risk when any drug is ingested. We would not say the marijuana edible is causal, just associated with the death.”</p>

<p>One young man jumped from a balcony after eating multiple marijuana-infused cookies, according to the 2014 Rocky Mountain HIDTA. Another young man shot himself after eating more than the recommended serving of marijuana candies while on a ski trip in Keystone, Colorado, with his family, according to news reports from Food Safety News and CBS television in Denver.</p> 

<p>Authorities said a 47-year-old Denver man who ate more than the recommended amount of marijuana candies allegedly shot his wife while she was on the phone with a police dispatcher, according to the CBS TV affiliate in Denver. His trial is underway.</p> 

<p>While each of these deaths involved the use of marijuana, Monte pointed out that the effects of such substances are different for each person.<a name="e3"></a></p> 

<p>“I would say that it’s not necessarily life-threatening unless there are hallucinations and things along those lines,” he said. “I mean, there’s always the odd case where someone develops bad psychosis and jumps off the balcony.”</p>

<h2>Concentrates offer a discreet way to consume marijuana</h2>

{% include e-parallax.html image="edibles-2" caption="Blythe Huestis shines a light through a marijuana concentrate product sold at Natural Selections, a medical marijuana dispensary in Cave Creek, Arizona. (Photo by Jessie Wardarski | News21)" %}

<p>Although smoking marijuana is still popular and edibles have become big sellers in the marijuana industry, experts said it seems to be the age of the concentrate.</p> 

<p>Natural Selections manager Huestis said edibles and infused products are common with elderly patients. “It’s discreet,” she said. “It’s really easy to take. And the other real positive factor is duration.”<p>

<p>However, while “discreet” and “easy to take” work well for patients, that’s also a concern if they fall into the wrong hands.</p>

<p>Vaporizing, which is the marijuana equivalent of using an e-cigarette, and dabbing using a wax concentrate have become common and trendy for adolescents, Colorado educators said.</p>

<p>"This is a very dangerous world with vaporizing as far as its ability to introduce young people to drug use in a high-tech way,” said Bob Doyle, chairman of Smart Approaches to Marijuana.</p> 

<p>Ron Castagna, who used to work as a high school principal in Lakewood, Colorado, said his former colleagues have told him marijuana is everywhere in the schools. But school officials have trouble busting students because “it’s so hard to detect anymore.”</p>  

<p>Gerhardt agreed.</p>

<p>“If you walked into a school cafeteria, how would you know when you watch a kid eat a brownie? How would you know that it was a pot brownie or anything else?” he asked. “It’s so easy to camouflage.”</p>

<p>Castagna, Vasquez and Gerhardt also said vaporizers have enabled kids to get high while in class.<a name="e4"></a></p>
 
<p>“They got vaporizers made to look like highlighter pens, made to look like Bic pens, made to look like asthma inhalers, lighters, just about anything, cell phones, just about anything you can imagine, they’ve disguised THC vaporizers in,” Cort said of the marijuana industry.</p>

{% include e-parallax.html image="edibles-3" caption="Vaporizing, commonly known as “vaping,” has become a popular method for ingesting marijuana. (Photo by Jessie Wardarski | News21)" %}

<h2>Officials: Products pose a ‘challenge’</h2>

<p>Underage consumption of edibles and concentrates is a top priority for government officials in Colorado, said Ron Kammerzell, deputy senior director of enforcement for the state’s Department of Revenue, which heads the Marijuana Enforcement Division. “We have (begun) to put metrics in place to monitor youth substance abuse, specifically with marijuana,” he said. “But I think with some of these products that are coming out and evolving in the industry, I think it makes it more of a challenge for us.”</p>

<p>Kammerzell said the state needs to require edible manufacturers to identify marijuana products as such – even when they’re outside of their packaging. For example, chocolate bars branded as containing marijuana.</p> 

<p>Manufacturers like Eschino said he understands this concern, but he said parents should be held more accountable for keeping the substance away from their children, as they would for any other medical product.</p>

{% include e-pull-image.html image="edibles-1-pull768.jpg" caption="Bob Eschino, president and co-founder of Incredibles, an edible manufacturing company in Denver, stands with his marijuana plants, which will be used to infuse their products. (Photo by Jessie Wardarski | News21)" %}

<p>“If you have children at home, you have to make sure they stay in the child-resistant packaging,” he said. “You have to make sure they stay out of sight of your kids. It’s pretty simple.”</p> 

<p>But with cartoons and colorful packaging, some Colorado residents said they don’t think parental figures are enough to combat such commercialization. “It is the parent’s responsibility to do a good job raising the kids and teaching them right from wrong,” said Cort of University of Colorado Health. “But at the same time, why do you have to keep making it so much harder for us?”</p>

<p><em>This story was updated on Aug. 31, 2015.</em></p>