---
layout: story
title: "Hawaii’s medical marijuana patients turn to illegal market for medicine"
byline: "Anne M. Shearer, Katie Campbell, Rilwan Balogun and Matias J. Ocner"
credits:
 - Anne-M.-Shearer
 - Katie-Campbell
 - Rilwan-Balogun
 - Matias-J.-Ocner
hero: hawaii-hero
hero-credit: Matias J. Ocner
permalink: /hawaiis-medical-marijuana-patients-turn-to-illegal-market-for-medicine/
slug: hawaii
socialimage: hawaii-hero-768.jpg
blurb: "This is the text used for the description, Twitter and FB. SEO the heck out of this guy"
soundcite: no
section: medical
---

{% include e-pull-pin.html %}

<p>HONOLULU — Twenty minutes from the turquoise waves of White Plains Beach, Teri Heede’s garden stretches out from her Kapolei home where three marijuana plants are firmly potted in the backyard and a steep drop gives way to a view of deep blue water and mountains touching clouds. One of Hawaii’s many medical marijuana patients, Heede’s plants didn’t always produce enough for her medicinal needs, so she bought pot illegally from a dealer behind the local McDonald’s.</p>

<p>In Mililani, near the center of Oahu, Jari Sugano’s backyard is one of toys, the broken remains of bright red water balloons and a platform of wooden boards that keep two potted marijuana plants above the uneven and rocky ground. Sugano’s first cannabis plant came illegally from another Hawaiian caregiver. It was the only way she could grow medical marijuana for her now 6-year-old daughter.</p>

<p>Under Hawaii’s medical marijuana laws, both of these women and most of Hawaii’s estimated 13,000 patients first had to commit a crime to obtain and grow medical marijuana. Though Hawaii legalized medical marijuana in 2000, it did not make provisions for legal dispensaries. It required patients to grow their own supply, but did not say where to go to get the seeds or plants to grow.</p>

<p>“When the state passed the law, they allowed you to have a card, but they didn’t provide you any way to go to get the product, grow the product or how to make the product into any form of medicine,” Sugano said.</p>

<p>The sale or transfer of seeds and plants still is illegal, even between patients. For 15 years, the absence of a legislative solution has driven a thriving illegal marijuana market and made it difficult to know who’s using pot legally and who is not. Only this year did the Legislature pass a law allowing for dispensaries.</p>

<p>“Marijuana is a problem on our island,” Hawaii Police Department Captain Robert Wagner said. “It’s a problem. It’s illegal.” </p>

{% include e-vimeo.html video=134972328 caption="For 15 years, the lack of clear medical marijuana regulations in Hawaii has driven a thriving illegal market and made it difficult to know who is using pot legally and who is not. " %} 

<p>Wagner said the majority of patients and caregivers comply with the law and stick to the state’s seven-plant-per-patient limit. Others cultivate more, he said, estimating that his department enforces search warrants based on complaints, which could come from neighbors, other growers or anonymous tips. Upon enforcing these warrants, authorities recover excess plants three or four times each month in Hawaii County, which encompasses the state’s Big Island.</p>

<p>“If somebody’s growing a lot of marijuana plants, they more than likely are selling them for profit,” he said.</p>

<p>Most marijuana plants in Hawaii are grown in greenhouses or pots, above the volcanic rock indigenous to the islands. Among the acres of lush foliage and the canopies of tropical trees, marijuana blends into the natural jungle growth. </p>

<p>State regulators and law enforcement officials say they have no way of knowing how many plants are cultivated by medical marijuana users because no agency regularly inspects the ever-expanding marijuana grows or knows for sure how many exist.</p>

<p>“There's too much volume and not enough staff,” said Scottina Ruis, director of Hawaii’s medical marijuana program.</p>

<p>Ruis runs the four-person staff at the Hawaii Department of Health, which is responsible for every medical marijuana patient and caregiver, as well as a backlog of about 2,000 pending medical applications, a number that is expected to grow. </p>

<p>{% include e-parallax.html image="hawaii-ocean" caption="Just along the highway outside Honolulu, Hawaii, Makapu'u Point State Wayside overlooks the water from the southeast tip of the island of Oahu. (Photo by Anne M. Shearer | News 21)" %}</p>

<p>On Jan. 1, the program, previously run by the State Department of Public Safety, was turned over to the health department after a 2010 legislative group tasked with assessing medical marijuana recommended the move. The group’s report said the health department was better suited to run the program because DPS had “little or no expertise in horticultural, health and medical affairs.”</p>

<p>“Now, the focus is not on law enforcement but more on the health aspect of medical marijuana, where it should have always been,” said State Sen. Will Espero, a Democrat, who led the group.</p>

<p>The Hawaii Legislature earlier this year passed the law that for the first time will allow for 16 medical marijuana dispensaries on Hawaii’s islands.</p>

<p>“It’s taken 15 years to even get one change, one significant change, in the medical marijuana program,” Teri Heede said. “The gross mismanagement of the medical marijuana program in Hawaii is the best argument for legalization that was ever made.”</p>

<p>The law is intended to eradicate illegal sales across the islands. </p>

<p>Ruis said the department of health is establishing rules for dispensaries, but it could be at least a year or longer before one is opened.</p>

<p>“At the end of the day, we're going to be able to provide quality, safe medical cannabis for our patients,” Espero said. “This new system will eliminate or minimize patients seeking their medicine via the black market."</p>

<p>{% include e-slideshow.html uniqueid="ruggles" %}</p>

<p>Just under 45 minutes outside of Hilo on the Big Island, rainforests give way to the sprawling properties of the Fern Acres community, home to the Alternative Pain Management Club Hawaii and more than 50 marijuana plants. Tucked among the jungle foliage are plastic canopies covering dozens of plants. </p>

<p>The property belongs to Mike Ruggles, a medical marijuana patient who runs the club and the grow. Ruggles and seven other patients grow collectively on his land. Since all eight of them have both patient and caregiver cards — meaning they can use marijuana themselves as well as help the patients assigned to them grow and use it — they are allowed to cultivate up to 14 plants each at their home or a property they control. </p>

<p>According to Ruggles’ interpretation of the law, this means his collective, which houses about 56 plants, is legal. </p>

<p>In addition to the grow, he runs a dispensary-like shop out of his home. Patients with medical marijuana cards can purchase prepared medicine as well as paraphernalia, which Ruggles believes is legal.</p>

<p>The health department’s Ruis isn’t so sure.</p>

<p>“There’s nothing that’s in the law that explicitly allows patients to transfer their medical marijuana between each other,” she said. </p>

<p>But Ruggles maintains the legality of his business model. He said he even has a process for newcomers before they can purchase medicine; all patients must sign confidentiality agreements protecting the collective. </p>

<p>Even though Ruggles has sought legal guidance on the laws he often questions, it hasn’t kept him out of trouble. </p>

<p>Ruggles has been charged twice with felony promotion of a detrimental drug, once with  commercial promotion of marijuana and once with possession of paraphernalia. All were reduced to misdemeanors. His most recent charges were in 2007.</p>

<p>In 2012, his farm also was raided and his plants carted off during a compliance check by Hawaii County police and operatives from the Narcotics Enforcement Division. Claiming it was an illegal grow, they left him with just one plant.</p>

<p>“When they come and take all your plants, even if you were to get a seed the next day, you’re six months from actually having something that you can use,” he said. “At that point, you’ve just got to buy it.”</p>

<p>So he did. Illegally.</p>

<p>{% include e-parallax.html image="hawaii-weed" caption="Jason Mac Adam grows medical marijuana in his backyard outside Hilo, Hawaii. (Photo by Matias J. Ocner | News21)" %}</p>

<p>Just down the road opposite Ruggles’ dirt driveway, Brad Snow’s grow of 42 plants stand under the awnings of handmade wooden bungalows. </p>

<p>His backyard runs deep into the surrounding jungle, where in some places sharp, black mounds of volcanic rock jut up from the ground. The soil, though fertile, is uneven and only a few inches deep in most spots on his property. </p>

<p>Snow also is a patient and caregiver; he said his large grow also is for the five other medical marijuana card holders who live with him. Though he doesn’t count himself among them, Snow said illegal growers persist in Hawaii because they fulfill a need.</p>

<p>“The only reason there’s a black market is because (marijuana) is illegal and people want it,” Snow said. “The black market is the last example of the free market in America.”</p>

<p>Medical marijuana program director Ruis concedes that oversight has not increased in the 15 years since the program began. She also told News21 she is not sure how many participants actually are registered with the program.</p>

<p>The most recent estimate — 13,000 — is last year's number from DPS’ records. They have no numbers so far for 2015. Her department also does not regulate the strength of patients’ medicine or their dosages.</p>

<p>Compliance checks of medical growers also are inconsistent. Neither the Narcotics Enforcement Division in the state Department of Public Safety nor Hawai police could say who is fully responsible right now for checking on potentially illegal grows, especially since the new law delegated most authority to the health department.</p>

<p>In Hawaii, compliance checks most often were conducted by law enforcement helicopter crews searching for unusually large grows. </p>

<p>About 200 miles from where Ruggles and Snow have made their homes on the Big Island, on the island of Oahu, in a carved out section of the Oahu Forest National Wildlife Refuge, is the small suburban town of Mililani, home to the Sugano-Kaneshiro family. </p>

<p>Jari Sugano holds her daughter Maile Jen in her arms as Sugano’s husband – Reid Kaneshiro – administers oil made from cannabis through a surgically placed feeding tube in his daughter’s stomach. </p>

<p>Sugano’s 6-year-old daughter Maile Jen Kaneshiro has Dravet syndrome, a rare form of epilepsy, which over the years has diminished her ability to be independent and communicate.</p>

<p>Before turning to medical marijuana, Sugano said she exhausted all options to treat her daughter. Sugano found a strain of marijuana through her own experimentation that she believes reduces her daughter’s seizures. As a licensed caregiver with two degrees in agriculture, she cultivates and concentrates the cannabidiol (CBD) oil.</p>

<p>{% include e-pull-image.html image="MAILE-JEN-STANDALONE.jpg" caption="Reid Kaneshiro administers cannabis oil to his daughter, Maile Jen. (Photo by Anne M. Shearer | News21)" %}</p>

<p>But experimenting with different varieties is a challenge under Hawaii’s seven-plant rule. Sugano cannot try a new strain without worrying that it will diminish her supply. </p>

<p>“It’s been a long road,” Sugano said. “We started from, basically, a period of chaos, and we’re finally getting to a point where we’re starting to enjoy life again and get back to a daily routine that’s bearable.”</p>

<p>The oil she gives Maile Jen is a 1-to-1 ratio of CBD to Tetrahydrocannabinol (THC). This ratio is much higher than in most oils used to treat epilepsy in other states, which can be as low in THC-content as 30-to-1. </p>

<p>“The low-THC products don’t always work for her,” she said.</p>

<p>Sugano said she does worry about potential legal consequences.</p>

<p>“I’m worried about Child Protective Services one day coming to my door and just questioning what I do,” she said. “There’s benefits to it, but there’s also risks.”</p>

<p>Right now, neither Hawaii’s medical marijuana law nor administrative rules require the health department to monitor the types of medicine patients make with the marijuana they grow. </p>

{% include e-vimeo.html video=136129437 caption="Maile Jen Kaneshiro, 6, has a rare form of epilepsy, Dravet syndrome, which has diminished her ability to communicate. Her parents tried several options for treatment before turning to medical marijuana." %}

<p>Back on the Big Island near Hilo, former methamphetamine addict Jason Mac Adam has cleared a small path behind a mango tree where his plants sit in canvas pots. Unlike others, he does not use a greenhouse or artificial light because he’s used to growing surreptitiously. Before he was a legal caregiver and patient, the jungle foliage surrounding his property hid his illegal grow.</p>

<p>{% include e-pull-image.html image="Jason_Mac_Adam-768.jpg" caption="Jason Mac Adam grows medical marijuana in his backyard outside Hilo, Hawaii. (Photo by Anne M. Shearer | News21)." %}</p>

<p>Mac Adam said he moved to Hawaii from California and started smoking and growing medical marijuana illegally. He didn’t want to draw the attention of law enforcement, he said, so he didn’t register to be a medical patient and caregiver until the health department took over. </p>

<p>“The Department of Health took over, and I felt that that was a lot better fit for the program,” he said. “I felt like the police wouldn't be coming here to harass me over my medical use of marijuana.</p>

<p>“I chose, up until just recently here, to fly under the radar and more of less break the law – civil disobedience,” he said. “I feel it's an unjust law, and the way I'm showing I feel it's unjust is through civil disobedience.”</p>

<p>Teri Heede did the same for years. She began using marijuana while she was still a federal employee under the Department of Defense during the Vietnam War. She was told by a supervisor if she used she’d be fired, but she said the symptoms of her condition made it worth the risk.</p>

<p>“I’ve had multiple sclerosis for over 20 years, and when I was first diagnosed, I had tried every treatment available and I was still down,” Heede said. “I could not get to work. I could not get up. I was going blind.”</p>

<p>{% include e-slideshow.html uniqueid="teri" %}</p>

<p>After research into treatments for her condition led her to medical marijuana, a form of medicine her neurologist supported, Heede began smoking to combat her illness.</p>

<p>“I started smoking like a burning haystack,” she said, “and when I limped into work on my cane, I could see my computer screen, I could type on my keyboard, and I could walk. I wasn’t real graceful, but I was walking.”</p>

<p>Heede was a widow with two kids at the time.</p>

<p>“I wasn’t doing anything that would say, ‘Okay, this person is a crazed drug abuser,’” she said. “But I was staying on my feet, and I was walking and doing my job. There was no problem.”</p>

<p>Now, at 60, her long silver hair hangs over her colorfully printed kaftan as she rolls a joint with freshly dried marijuana from her garden. Her husband, who works for the federal government, does most of her growing. But she turns to illegal suppliers when her seven legal plants don’t support her needs.</p>

<p>“Sick people are like me,” Heede said. “Sick people can’t grow.”</p>

<p><i>News21 journalist Lauren Del Valle contributed to this article.</i></p>