---
layout: story
title: States struggle to develop comprehensive weed safety regulations
byline: Jessie Wardarski and Dom DiFurio
credits:
  - Jessie-Wardarski
  - Dom-DiFurio
hero: healthandsafety-hero
hero-credit: Dom DiFurio
permalink: /states-struggle-to-develop-comprehensive-weed-safety-regulations/
slug: healthandsafety
socialimage: healthandsafety-hero-768.jpg
blurb: “Recently established marijuana testing labs operate without the typical oversight that exists in the lab industry. Without comprehensive regulation, scientists say medical marijuana patients are at risk of consuming contaminated weed.”
soundcite: no
section: science
---

{% include e-sections.html slug="healthandsafety" %}

<p>Jason Collinsworth travels more than three hours each way to Santa Cruz, California, once, sometimes twice, a month to buy the medical marijuana he smokes to help deal with his gastrointestinal disorder.</p>

<p>Even though there are dispensaries much closer to the Tuolumne County resident, he said they don’t test their marijuana for contaminants and potency. </p>

<p>Collinsworth, 38, said one of those nearby dispensaries once sold him marijuana that was stripped of its “medicinal” THC component with butane, the same chemical found in lighter fluid.  </p>

<p>And the uncertainty isn’t worth it, he said. </p>

<p>So he drives.</p>

<p>Scientists and industry insiders said it’s not unusual for potentially harmful substances to make their way into marijuana and marijuana-infused products, like edibles.</p>

<p>However, every state has a different approach to testing: Some require every batch of medical marijuana to undergo rigorous tests for things like mold and bacteria. Some don’t require testing at all. And the marijuana lab industry is begging for uniform regulations.</p>

<p>A News21 analysis found that seven of the 23 states that have legalized medical marijuana have mandated laboratory testing, and of those, most are still working to improve their programs. Some states, like Colorado, also allow recreational marijuana. But experts said medical marijuana patients have the most to lose from ingesting contaminated marijuana.</p>

<p>“If we’re talking about medical patients who have compromised immune systems … it creates a huge potential for damage to people,” said Bethany Sherman, owner of OG Analytical lab in Oregon.</p>

<p>California, which has a medical marijuana system so massive the state hasn’t been able to fully grasp of the scope of it, doesn’t require dispensaries to test their products. The state’s marijuana law contains fewer than 10 sentences, none of which include language about the safety of the product.</p>

<p>Officials in the 16 states that don’t mandate testing cite a variety of reasons. Arizona officials said they decided against testing because it would create delays getting marijuana to patients.</p>

<p>Yet some dispensaries in those states voluntarily send samples to labs anyway. They often post the results on their display cases and label their products. </p>

{% include e-parallax.html image="healthandsafety-1" caption="Alex Edwards weighs a sample of marijuana while preparing it for testing at LB Analytical in Phoenix. (Photo by Jessie Wardarski | News21)" %}

<p>For patients like Collinsworth, it provides some peace of mind.<a name="hs1"></a></p>

<p>“I understand the value of commercialism because it allows people to have greater access,” Collinsworth said. “But to sacrifice somebody’s health or somebody’s safety for a profit, I don’t think that’s acceptable.”</p>

<h2>Testing advocates: ‘There’s obviously a gap’</h2>

<p>Lab owner Sherman developed an interest in marijuana when doctors diagnosed her mother with multiple sclerosis. She undertook “personal research” and learned that pesticides could have particularly harmful effects on her mother’s condition. Sherman said she opened her lab after finding Oregon has no safety standards in place for medical marijuana.</p>

<p>“There’s obviously a gap that needs to be filled here. … If we’re gonna do it, we have to do it right,” she said, referring to medical marijuana.</p>

<p>Sherman left her job working for a Silicon Valley tech firm to open OG Analytical. She wanted to show her ailing mother that marijuana could be proven contaminant-free as well as a viable form of alternative medicine.</p>

<p>Sherman’s lab tests buds, edibles, concentrate and other infused products like soap and lotion to ensure they don’t contain things like mold, mildew, pesticides, metals or chemicals like butane. </p>

<p>Although labs have found those kinds of contaminants in marijuana, it’s unclear how they affect the human body because of the lack of research done on cannabis. The federal government has classified marijuana as a Schedule I drug, along with heroin and LSD, which means researchers haven’t been able to study it much.</p>

<p>Many scientists don’t view the plant itself as a harmful substance. However, Sherman said she doesn’t buy the “common myth” that marijuana is completely safe to smoke.</p>

<p>“What’s unfortunate about that argument is there’s really not enough research to show how sick we have or haven’t gotten from it,” she said. “Nobody’s been studying us.”</p>

<p>Professionals at the Cannabis Safety Institute in Oregon, as well as many other scientists News21 spoke with, agree that there’s a need to test marijuana for potentially harmful contaminants introduced to the plant during growing and production, regardless of the lack of evidence that it’s harmful.</p>

{% include grid.html caption="By Dom DiFurio and Jessie Wardarski | News21" %}

<p>Institute Chief Safety Officer Mowgli Holmes said he believes marijuana is safe, but he has his reservations about what else might be on modern-day, commercial marijuana when it reaches patients. “The industry has been heating up over the years,” he said. “You have these big commercial growers who have a lot at stake, who don’t want to lose their crops. And they’re starting to use a lot more pesticides.”</p>

<p>Teri Robnett, a Colorado medical marijuana patient, said growers can easily address problems when they only have 30 plants, but those problems become “exponentially more difficult when you’re cultivating on an industrial scale.” </p>

<p>Aside from pesticides, mold can grow under the right conditions. Aspergillus is one of the most concerning molds to scientists because it has potential to cause cancer in humans.</p>

<p>There are scientific studies being done outside of the United States that attempt to link the dangers of things like aspergillus to marijuana. However studies, like one done on two marijuana users in the United Kingdom who also used tobacco, are largely inconclusive.<a name="hs2"></a></p>

<p>Colorado lab owner Jeannine Machon said it’s also important for the public to understand what it consumes, especially when it comes to potency. “Does the public need to understand if they’re buying a beer versus buying a vodka? Yes, they need to know that,” Machon said, adding that it’s the same with marijuana.</p>

<h2>Official: Testing ‘not worth the grief’</h2>

{% include e-pull-pin.html %}

<p>When voters passed Arizona’s medical marijuana measure in 2010, then-director of the Department of Health Services, Will Humble, set up the regulations for the system. </p>

<p>Humble, who now works for the University of Arizona, held a series of public hearings to get input on the system. He said he didn’t think patients wanted laboratories to prolong the time it took to get medical marijuana to them. “They would say it was to sabotage the program,” he said. “I didn’t think adding testing into the rules was (going to) be worth the grief.” </p>

<p>Humble said another big concern is the additional cost that testing could tack on to the marijuana that patients purchase in dispensaries. </p>

<p>Labs charge anywhere from $50 to $100 a batch for potency testing. Other tests are priced similarly.</p>

<p>However, Matt Haskins, owner of Cannasafe Labs, said testing for potency and contaminants adds very little to the price for consumers. “We’re talking about pennies per gram,” said Haskins, a member of the committee establishing the laboratory system in Nevada, which will have some of the most stringent testing requirements in the country. He estimated that Nevada’s standards will add an additional 30 to 50 cents <a name="healthdropdown"></a> per gram.</p>

{% include e-interactive-js-drop.html path="lab_testing" %}

<p>Those familiar with the industry – from lab owners to medical patients – said that if a state doesn’t require testing for contaminants, cultivators and dispensaries likely won’t pay for that service.<a name="hs3"></a> </p>

<p>“Most people are interested, in the voluntary states, in potency and the terpenes,” Sherman said. Terpenes are molecules that give each strain of marijuana an individual scent, in almost the same way varieties of coffee might differ slightly in aroma.</p>

<h2>Ensuring products are ‘clean’</h2>

<p>Jose Zavaleta navigates his way from one lab room to another at Pure Analytics in New Britain, Connecticut. The lab director types a security code into the door handle before entering each room.</p>

{% include e-pull-image.html image="healthandsafety-single-1.jpg" caption="Jose Zavaleta is the lab director of Pure Analytics in New Britain, Connecticut, which runs state-required comprehensive tests on marijuana for patients. (Photo by Jessie Wardarski | News21)" %}

<p>Pure Analytics is one of the few labs in the country that runs the full gamut of tests on marijuana, rather than just potency. Connecticut requires it as part of its medical marijuana program, which mirrors standards in the pharmaceutical industry.  </p>

<p>Zavaleta said the lab has invested more than $2 million in equipment to ensure patients receive a safe product. “We make sure that all the product that hits the shelves is clean,” Zavaleta said.</p>

<p>However, even those states with stringent lab testing requirements still must deal with challenges. Those include concerns about establishing uniform testing standards, requiring labs to meet the same qualifications, ensuring quality oversight and addressing liability issues.</p>

<p>Haskins owns labs in Washington and California, and he will open soon in Nevada. His lab was the first in the country to obtain international accreditation.</p>

<p>Few marijuana laboratories have such accreditation – without which no third party holds a lab’s scientists accountable – as they do in other areas of scientific testing. “We have to give our clients confidence in our results,” Haskins said.</p>

<p>Federal agencies like the Food and Drug Administration, the Department of Agriculture and the Environmental Protection Agency can’t regulate safety in the cannabis industry because it is still a Schedule 1 drug, illegal under federal law. That means states with legal medical marijuana, and the individual labs operating in them, must determine these standards on their own.</p>

<p>Lab standards include the types of tests performed as well as the ways a lab executes that test. </p>

<p>“There is no single gold standard,” said Mike Vandyke, chief of environmental epidemiology for the Colorado Department of Health and Environment.</p>

<p>Some labs have based their methods on how the American Herbal Pharmacopoeia and the U.S. Pharmacopeial Convention outline testing herbs similar to marijuana. The agricultural industry has used those methods for decades.</p>

<p>Machon, business director of CMT Labs in Denver, helped her state amend its testing laws. The state now includes a guide to uniform testing methods.</p>

<p>Without them, Machon said multiple labs could all test the same marijuana sample and come up with differing potencies. “That discrepancy cannot happen,” Machon said. “It’s bad for us as labs. It’s bad for the industry having, now, doubts about labs.”</p>

{% include e-pull-image.html image="healthandsafety-single-2.jpg" caption="Jeannine Machon, business director of CMT Labs in Denver, helped her state amend its testing laws to create uniform testing methods for marijuana. (Photo by Dom DiFurio | News21)." alt="Jeannine Machon, business direct of CMT Labs in Denver, helped her state amend its testing laws to create uniform testing methods for marijuana. (Photo by Dom DiFurio | News21)" %}

<p>Colorado only requires testing for recreational marijuana products. However, with the implementation of the guidelines, industry insiders said they expect to apply the new standards of testing to the state’s medical marijuana program.</p>

<p>Lab professionals also fear sample sizes could skew the percentages of THC, the active ingredient of cannabis, and other results if the size of the sample isn’t representative of the crop. Labs in Washington even submitted a “letter of concern” to the Washington State Liquor Control Board in February that addressed sampling as an issue of public safety. </p>

<p>Connecticut requires labs like Pure Analytics to physically take the sample from a production facility themselves. “We gown up to do it sterilely,” Zavaleta said. “We use techniques to ensure we are getting an unbiased result as opposed to the other places in the country where the production facilities choose the samples.”</p>

<p>Cory Wray, executive director of the Alaska Cannabis Institute and a Washington state resident, said competition among dispensaries may lead to cutting corners. “People often take the best bud from the plant and send it to be tested, again to get the highest THC rating or number,” Wray said.</p>

{% include e-parallax.html image="healthandsafety-2" caption="Alex Edwards holds a batch of marijuana samples in the laboratory. (Photo by Dom DiFurio | News21)" %}

<p>Michelle Sexton, founder of PhytaLabs in Washington, said her lab has lost business because of the sample size it requests. She said Washington has not defined rules for sampling, so many labs ask for a batch as small as 2 grams. But PhytaLabs asks for minimum of 5 grams. </p>

<p>However, even with this larger sample, it’s about a one in 400 chance they’ll catch part of a bad batch, Sexton said. Overall, she claims a larger sample size ensures accuracy, but dispensaries “go for whatever is cheapest.”</p>

<p>Although the chances of catching contaminants is minuscule, labs still frequently find unwelcome substances. </p>

<p>“When we first started testing, we were finding tons and tons of stuff,” Sherman said.<a name="hs4"></a></p>

<p>The amount of marijuana that does not pass a test varies from lab to lab. Machon said CMT has a 2 to 5 percent failure rate. Sexton at PhytaLabs said it ranges between 10 and 20 percent. </p>

<h2>Getting it right</h2>

<p>Nevada legalized medical marijuana more than a decade ago and authorized a dispensary system in 2013. But it has taken officials many months to sort through lab testing regulations before marijuana rolls out to patients. </p>

<p>Advocates like Sherman said that’s the right approach. “It’s really quite critical for states to take their time to make sure that they do get it right,” she said.</p>

<p>Cindy Orser, chief science officer at Nevada lab Digipath, said she hopes for more of a national discussion “instead of each state trying to figure this out on their own.”</p>

<p>“It would be very helpful if there was more of a coordinated effort,” Orser said.</p>

<p><em>This story has been updated to correct the spelling of Jason Collinsworth's first name.</p></em>