---
layout: story
title: "Pro-legalization groups prepare for marijuana measures in 2016"
byline: "Brianna Gurciullo, Karen Mawdsley and Katie Campbell"
credits:
 - Brianna-Gurciullo
 - Karen-Mawdsley
 - Katie-Campbell
hero: legalization-hero
hero-credit: Karen Mawdsley
permalink: /pro-legalization-groups-prepare-for-marijuana-measures-in-2016/
slug: legalization
socialimage: legalization-hero-768.jpg
blurb: "Well-funded, well-organized advocacy groups drive the effort to legalize marijuana nationwide. Proponents have found so much success because they have learned how to secure financial backing, take advantage of changing attitudes and address fears about legalization."
soundcite: yes
section: politics

---
{% include e-pull-pin.html %}

<p>WASHINGTON, D.C. – Advocacy groups have poured millions of dollars into legalizing both recreational and medical marijuana in states across the country.</p>

<p>One of the most powerful and influential groups – Washington, D.C.-based Marijuana Policy Project – was behind successful recreational measures in Alaska and Colorado, two of four states that now allow recreational use. MPP organizers hope to replicate those efforts in five other states during the 2016 elections, an undertaking they say will – if successful – prove significant for the effort to end marijuana prohibition.</p>

<p>One of them, Arizona, is a state that conservative icon Barry Goldwater called home. It frequently makes national headlines for controversial measures on immigration and gay rights. Voters passed the state’s medical marijuana program by the barest of margins in 2010. </p>

<p>“Out of the five campaigns that we’re running nationwide, Arizona’s definitely going to be the most heated, the most active,” said Carlos Alfaro, the Arizona political director for the Marijuana Policy Project. He plans to win voters by inundating the airwaves, unveiling billboards, organizing rallies and hosting debates.</p>

{% include e-mid-image.html image="WashingtonMonument-1200.jpg" caption="Marijuana is legal in the nation’s capital for recreational adult use, though it remains illegal on the federal level. (Photo by Karen Mawdsley | News21)." alt="Washington Monument lit at night." %}

<p>It’s all part of the well-funded, well-organized machine that’s driving the effort toward ending prohibition nationwide. Proponents have found so much success because they have learned how to secure financial backing, take advantage of changing attitudes and address fears about legalization. The Marijuana Policy Project aims to add California, Nevada, Massachusetts and Maine to its portfolio of ballot initiative successes in 2016, along with Arizona.</p>

<p>Legalization efforts – many backed by other groups – could appear on the ballot in about a dozen states next year. Twenty-three states and Washington, D.C., already allow for medical marijuana use. Four states – Washington and Oregon, in addition to Colorado and Alaska – and the District of Columbia allow adults to smoke pot recreationally. </p>

<p>In Congress, lawmakers have started to take positions on pot and more have supported state medical marijuana laws. Both Democratic and Republican presidential candidates are talking about how they would deal with marijuana if elected. Sen. Rand Paul, R-Ky., has even courted the legal marijuana industry for campaign donations. </p>

<p>Leaders in the pro-legalization movement said the question is no longer whether the federal government will treat marijuana like alcohol – but when. They say the question is no longer whether the states will legalize, regulate and tax marijuana sales – but how.</p>

<p>“I think we’re past the tipping point,” said Keith Stroup, the founder of the National Organization for the Reform of Marijuana Laws, another major player in the pro-legalization effort. “There are all kinds of signs that people have figured out that prohibition is coming to an end. They may not be thrilled about it, they may not be a cheerleader for it, but when they recognize that, they begin to say, ‘OK, if we’re going to legalize marijuana, how do we do it in a responsible manner?’”</p>

<p>But legalization opponents don’t plan to concede any time soon.</p>

<p>“I don't think that legalization is inevitable,” said Alan Shinn, the executive director of the Coalition for a Drug-Free Hawaii. “The pro-marijuana people will say that it's just a matter of time before marijuana is legalized. I think there's other alternatives to legalization. We should really be taking a public health approach to this, especially with our youth.”</p>

<p>And that’s still a sticking point. The federal government classifies marijuana as one of the most dangerous drugs, “with no currently accepted medical use and a high potential for abuse,” according to the Drug Enforcement Administration. </p>

<p>The disparity between states that have liberalized their marijuana laws and the decades-old federal prohibition of its sale and use has caused confusion in law enforcement and tension in the business world. Pro-legalization groups said that’s their ultimate goal: Put so much pressure on the federal government by legalizing state by state that they can finally end the discrepancy. <a name="lawopinion1"></a></p>

<p>“I actually consider 2016 to be what I call the game-over year because there’s a good chance that a bunch of states will legalize marijuana,” said Bill Piper, the director of the Drug Policy Alliance’s office of national affairs. “We’re reaching the point where the federal government is going to have no other choice than to change with the times.”</p>

{% include e-interactive-js.html path="legalization-opinion" %}

<h2>Strategic with resources</h2>

<p>Advocacy groups have led ballot initiatives across the country, lobbied state legislatures and tried to convince members of Congress that leaving marijuana regulation to the states makes sense.</p>

<p>In the 1970s, NORML led the fight for marijuana law reform. Now, two other national organizations help run multimillion-dollar campaigns and station staff members across the country to support state measures that allow medical marijuana, decriminalize possession of small amounts of the drug or fully legalize adult use. </p>

{% include e-parallax.html image="CAPITOL" caption="While a majority of the American public supports legalization, elected officials tend to be more hesitant about relaxing marijuana laws. (Photo by Karen Mawdsley | News21)" %}

<p>The Marijuana Policy Project, founded by former NORML staffers in 1995, has emerged as a political powerhouse with its robust fundraising, effective campaign messaging and expertise in drafting ballot initiatives and legislation. The Drug Policy Alliance was founded in 2000 to end the “War on Drugs.” The group claims that marijuana arrests disproportionately impact racial minorities and drain law enforcement resources.  </p>

<p>The groups and their state-level campaigns have benefited from billionaire philanthropists like Peter Lewis, the head of Progressive Insurance who died in 2013, and George Soros, the founder of Soros Fund Management. Both have donated millions of dollars to changing drug laws across the nation over the last 20 years.</p>

<p>During that time, the groups have honed their strategies. </p>

<p>Mason Tvert, director of communications for the MPP, said his organization targets states based on their history with marijuana law reform, the makeup of the state legislature, the governor’s position and the level of support from local advocacy groups.</p>

<p>And they must carefully decide where to put their money and resources.<a name="lawopinion2"></a> </p>

<p>When Rob Kampia, the group’s executive director, spoke at a National Cannabis Industry Association policy symposium in Washington, D.C., in April, he called efforts to legalize marijuana in Michigan, Missouri and Ohio “outlier initiatives” because they’re less likely to pass. He said in particular, the campaign to legalize marijuana in Ohio this fall was “premature.” </p>

{% include e-interactive-js-tab.html path="tab-opinion" %}

<h2>A message that’s worked</h2>

<p>Allen St. Pierre, who succeeded Stroup as executive director of NORML a decade ago, said advocates for marijuana law reform have drawn from the tactics of the social movements for women’s rights, civil rights and gay rights.</p>

<p>“We’re not trying to hardly do anything different than those groups did,” St. Pierre said. “We organized. We petitioned our government peacefully for grievances. We went to the courts and asked for relief. We’ve used science and language to cajole, persuade and effectively win what is called in the military a ‘hearts and minds’ campaign.”</p>

<p>But it hasn’t been easy.</p>

<p>The MPP’s Tvert, who was a co-director of the campaign to legalize marijuana in Colorado, said that while the public had become more accepting of medical marijuana and supportive of removing criminal penalties for using the drug, there was still “this fear surrounding marijuana for fun.” Several ballot measures to legalize recreational use failed between 2002 and 2010. </p>

<p>At that time, Tvert said, activists had tried to sell one main message to voters: Marijuana prohibition is a government failure that forces marijuana into the black market, contributing to drug trafficking and violence. They argued that a legal market would allow for more control and would generate tax revenue.</p>

<p>That didn’t cut it.</p>

<p>“That just wasn’t enough,” Tvert said. “Ultimately, people were still not OK with it because they just thought it was too dangerous of a substance. You can tax anything. You can tax murder for hire. Doesn’t mean that people are going to think it should be legal. They think it’s not good for society.”</p>

<p>Survey results inspired legalization advocates to change tactics: Several MPP polls indicated that people were more likely to support marijuana legalization if they thought pot was less harmful than alcohol. And that became the argument behind the campaign supporting Colorado’s measure to legalize recreational marijuana, Amendment 64, which passed in 2012 with 55 percent of the vote. </p>

<p>Colorado became a model for the MPP's efforts in other states, which have all taken the campaign name “Regulate Marijuana Like Alcohol.” And the lawyer who wrote Colorado’s initiative also helped draft a proposed ballot measure in Maine, said David Boyer, the group’s political director for the state.</p>

<p>But the Maine campaign also made tweaks to its initiative, like lowering the tax rate, to make it more appealing to voters there.</p>

<h2>Battling with local campaigns</h2>

<p>Different groups advocate for legalization throughout the country, and they don’t always agree on the methods or details. In fact, some local groups have started to view the MPP as an unwelcome outsider. </p>

<p>In Maine, the organization’s proposal competes with one backed by a local group, Legalize Maine. Both would legalize marijuana possession for those at least 21 years old and would allow home growing. But the two campaigns have failed to compromise on several differences.</p>

<p>Legalize Maine’s proposal would put the state’s Department of Agriculture, Conservation and Forestry in charge of regulation, while the Marijuana Policy Project’s would make the Bureau of Alcoholic Beverages and Lottery Operations responsible.</p>

<p>Paul McCarrier, the president of Legalize Maine’s board of directors, said the two groups tried to negotiate for three months. But McCarrier said MPP’s initiative did not focus enough on farmers. </p>

<p>“I think that they’re looking at Maine as just another notch in their belt that will help push their national agenda,” McCarrier said. “While the Marijuana Policy Project has done a really good job at starting a conversation about marijuana legalization here in Maine and trying to push the ball around the field nationally, when it comes to marijuana legalization, they are completely out of touch with normal Mainers.”</p>

{% include e-mid-image.html image="Stroup-1200.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/STROUP.mp3\" data-start=\"0\" data-end=\"132000\" data-plays=\"1\">PLAY</span> Keith Stroup has been involved in the   legalization movement since 1970, when he founded the National Organization for the Reform of Marijuana Laws. (Photo by Karen Mawdsley | News21)" alt="Keith Stroup founded the National Organization for the Reform of Marijuana Laws in 1970." %}

<h2>Falling dominoes</h2>

<p>Stroup said liberalization of marijuana laws has followed a general trajectory. The Western states lead the way – reducing penalties for marijuana possession, allowing residents to use medical marijuana, or eliminating all penalties for marijuana use and creating systems for regulating pot sales. Then momentum builds on the East Coast. Progress is slower in the Midwest, and movement in the South has proven most difficult. </p>

<p>The increase in medical marijuana programs across the country has helped to overcome the stigma surrounding marijuana, Stroup said. More than three-quarters of people support medical marijuana use, according to a 2014 National Public Radio-Truven Health Analytics poll. But only 43 percent support legalization for recreational purposes. </p>

<p>MPP prefers to run ballot-initiative campaigns as opposed to pushing bills through state legislatures.</p>

<p>But Stroup identified the legalization movement’s next big turning point: Build enough political support to push the first full legalization measure through a state legislature. It’s an important step because only about half of the states allow citizen-initiated ballot measures.</p>

<p>“We have to just simply work it every year, every chance we get, bringing in good witnesses, provide elected officials with the best information, and over a period of time, as they become more comfortable with the concept, then we’ll be winning it with state legislatures,” Stroup said.</p>

<p>But legislative measures have drawbacks as well.</p>

<p>“The version of legalization we win through legislatures will necessarily be more restrictive than the versions we win by voter initiatives because with an initiative, you don't have to compromise,” Stroup said.</p>

<p>Tvert said that in 2016, Rhode Island and Vermont could become the first states to legalize marijuana through their state legislatures. A majority in both states support legalization, according to internal and independent polls conducted this year. Both state legislatures adjourned this year before acting on bills to legalize and regulate pot. </p>

<h2>Public opinion on the movement’s side</h2>

<p>Time could be the legalization movement’s greatest ally. Sixty-four percent of those between 18 and 34 years old say they support legalization, compared to 41 percent among those 55 and older, according to Gallup.</p>

<p>“Demographically, we knew years ago we were going to win this because young people were on our side,” Stroup said. “We used to laugh, in fact, that if necessary we had a fallback strategy. And that was we would outlive our opponents. Well, I think to some degree that’s exactly what we’ve done.”</p>

<p>But advocates still need to convince a significant number of Americans to support recreational legalization.</p>

<p>“Despite the fact that the polls make it seem like it’s really split down the middle, there is a huge group of people who are kind of fishy on it,” said Sarah Trumble, senior policy counsel at Third Way, a centrist think tank in Washington, D.C.</p>

<p>Third Way refers to this group as the “marijuana middle.” Many in this group support legalizing marijuana for medical use but not for recreational use.</p>

{% include e-interactive-js-tab.html path="tab-partisan-opinion" %}

<p>“On this issue, like all others, values are really what drive them,” said Trumble, who specializes in reaching moderates on social issues. “There’s a compassion value that ties into medical marijuana, and that’s why so many people support medical marijuana.”</p>

<p>She said she expects that as more states legalize, more Americans admit that they have used marijuana and the drug becomes less stigmatized, public opinion will continue to shift toward legalization. <a name="partyopinion"></a></p>

<p>“We’re going to have to see really how those ballot initiatives go because if you run strong campaigns and pass laws and states do a good job of regulating marijuana, that will be the first stepping stone to other states having it,” Trumble said. “But if a state, for example California, passes marijuana legalization for recreational and then does a poor job of regulating it, that could really set everything back.”</p>

{% include e-parallax.html image="WhiteHouse" caption="While President Obama has not said he supports nationwide marijuana legalization, his administration has refrained from interfering with state laws. (Photo by Karen Mawdsley | News21)" %}

<h2>Letting the states experiment</h2>

<p>NORML’s Stroup said he hopes the Obama administration will remove marijuana from the federal government’s list of the most dangerous drugs. Marijuana is listed as a Schedule I substance, which means it is a drug “with no currently accepted medical use and a high potential for abuse.” Other Schedule I drugs include heroin, LSD and Ecstasy.</p>

<p>Stroup said he’d like to soon see marijuana reclassified as a Schedule II or Schedule III drug, which wouldn’t make it legal to possess, sell or grow, but would make it easier for researchers to access. Other advocates have called for removing marijuana from the scheduling system completely.</p>

<p>The president has spoken about using marijuana himself as a young man, and he has said he does not believe marijuana is more dangerous than alcohol. He’s recently focused on criminal justice reform, calling for shorter sentences for nonviolent drug crimes. </p>

<p>“At a certain point, if enough states end up decriminalizing, then Congress may then reschedule marijuana,” Obama said during an interview with Vice in March. “But I always say to folks, legalization or decriminalization is not a panacea.”</p>

<p>A 2013 Justice Department memo stated that the federal government would only interfere under certain circumstances: if state or local law enforcement failed to prevent distribution of marijuana to minors, revenue from marijuana sales went to gangs or marijuana crossed into states where it remains illegal.</p>

<p>While Obama’s administration hasn’t interfered in states that have legalized, a future president could. That’s why Stroup wants federal law to leave marijuana regulation to the states, “so it doesn’t matter who’s president. States are free to experiment.”</p>

<p>Mario Moreno Zepeda, a spokesman for the Office of National Drug Control Policy, said the White House remains “committed to treating drug use as a public health issue, not just a criminal justice problem. The federal government opposes drug legalization because it runs counter to a public health and safety approach to drug policy.”</p>

<p>“This administration’s position on enforcement has been consistent: While the prosecution of drug traffickers remains an important priority, targeting individual marijuana users – especially those with serious illnesses and their caregivers – is not the best allocation of limited federal law enforcement resources,” Zepeda said.</p>

<h2>From ‘unthinkable’ to ‘mainstream’</h2>

<p>Michael Correia, the director of government relations for the trade group National Cannabis Industry Association, said that years ago, members of Congress took no positions at all on marijuana. Now, they are beginning to support research and allowing state medical programs to continue operating.</p>

<p>Still, he said marijuana issues haven’t become a major priority in Congress, especially among the leadership.</p>

<p>“Marijuana is not global warming. It’s not abortion. It’s not guns. So it’s not really high up on their radar screen, but it is an intriguing issue, and people need to get educated on some of the issues before they can form an opinion,” Correia said.</p>

<p>Dan Riffle joined the MPP in 2009, and worked as a state legislative analyst for three and a half years. Now the group’s director of federal policies, he said that in Congress, marijuana “is an issue that’s gone from being an untouchable, unthinkable, third-rail issue to a legitimate, mainstream topic of debate.”</p>

<p>“It’s gone from a place where we struggled to have (Congress members and staffers) take meetings with us, to have our phone calls returned, to now people reach out to us and ask us to come in and brief them and use us as a resource,” Riffle said. </p>

<p>Riffle tailors his message to his audience. If he meets with a member of the Congressional Black Caucus, for example, Riffle talks about the disparity in arrests between blacks and whites. If he sits down with a Republican who has libertarian tendencies, he drives home the argument that smoking pot is an individual decision. </p>

<p>Riffle said Congress is grappling with federal law that prohibits marijuana and state laws that allow its use. He said some lawmakers have tried to “address symptoms of that disease” with bills that would allow marijuana businesses to use banks, or permit Veterans Affairs doctors to recommend medical marijuana for veterans who live in states where it’s legal.</p>

<p>“But then you’re going to have other folks who say, ‘Look, rather than passing seven, eight, 12 different bills depending on what the issue is, let’s just grapple with the underlying problem,’ which is the conflict between state and federal marijuana laws,” Riffle said. </p>

<p>The Respect State Marijuana Laws Act – introduced by Rep. Dana Rohrabacher, R-Calif. – would do that by amending the Controlled Substances Act. It would change the federal law to protect anyone producing, possessing, distributing, dispensing, administering or delivering marijuana in states where those actions are legal. The bill has 14 co-sponsors, including six Republicans. </p>

<p>Rep. Earl Blumenauer, D-Ore., a longtime champion of marijuana law reform, said he anticipates the federal government will treat marijuana like alcohol within a decade.</p>

{% include e-vimeo.html video="135689367" caption="Rep. Earl Blumenauer, D-Ore., talks about marijuana legislation in Congress, where a shift toward marijuana policy reform lags behind public opinion." %}

<p>“My judgment is with a new administration, with several more states legalizing, with public opinion solidifying, and with more and better research, I think in the next administration and the next Congress or two, we’ll be in a position to just basically say, ‘States, do what you want to do,’” Blumenauer said.</p>

<p><i>News21 reporter Anne M. Shearer contributed to this article.</i></p>






