---
layout: story
title: "With a federal ban on marijuana,  states are left to craft their own medical pot rules — whether they work or not"
byline: "Katie Campbell, Anne M. Shearer, Lauren Del Valle and Rilwan Balogun "
credits:
  - Katie-Campbell
  - Anne-M.-Shearer
  - Lauren-del-Valle
  - Rilwan-Balogun
hero: medical-hero
hero-credit: Martin do Nascimento
permalink: with-a-federal-ban-on-marijuana-states-are-left-to-craft-their-own-medical-pot-rules-whether-they-work-or-not/
slug: medical
socialimage: medical-hero-768.jpg
blurb: "Every state regulates medical marijuana differently. The result is wide disparities across the county from lab testing to costs."
soundcite: yes
section: medical
pinfooter: yes
---

<p>After waiting in line for hours at a booth during a medical marijuana convention in San Francisco, Jeff Harrington needed only a two-minute consultation and a written recommendation to become a medical marijuana patient in California. He now can legally purchase and possess marijuana from any one of thousands of marijuana businesses in the state.</p>

<p>Across the country in Connecticut, an established physician-patient relationship is required before patients are deemed qualified for medical marijuana, and only licensed pharmacists can own and operate dispensaries.</p>

<p>Between these two extremes, a News21 investigation has found there are as many ways to deal with medical marijuana as there are states that have legalized it.</p>

<p>As the federal government continues its prohibition of marijuana, the District of Columbia and the 23 states that have legalized marijuana for medical use have been left to write the rules and regulations on their own.</p>

<p>The experimentation has produced wide variances and contradictions in their approaches to everything from possession limits and lab testing to how people qualify as medical marijuana patients.</p>

<p>For example, in Vermont, a medical marijuana patient is allowed only two mature plants and 2 ounces of marijuana. By contrast, in Washington state, a patient can have 15 plants and 24 ounces of prepared marijuana.</p>

{% include e-pull-vimeo.html video="135592675" caption="Eric Mevis has oral mandibular dystonia, a disorder that causes facial muscles to contract and twist uncontrollably. He said that medical marijuana is one of the few medicines that help with his disease. " %}

<p>In some states, like New Mexico, there is no fee for a medical marijuana card, while others, such as Minnesota, charge up to $200. Some states do not tax medicinal marijuana, but others charge a sales tax or a specific tax on marijuana products of as much as 37 percent in Washington state.</p>

<p>Because marijuana remains a federally controlled, Schedule 1 drug, federal agencies do not offer states any guidance or medical protocol for state medical marijuana programs.</p>

<p>“Based on the research to date, the U.S. Food and Drug Administration has not recognized or approved the marijuana plant as medicine,” Mario Moreno Zepeda, spokesperson for the White House Office of National Drug Control Policy, said. “However, research on marijuana extracts, called cannabinoids, has led to FDA-approved medications.”</p>

{% include e-parallax.html image="fda" caption="The FDA, along with the DEA, determine how drugs are classified. Marijuana remains a Schedule I substance, meaning it has a high potential for abuse and no medical value.  (Photo by Karen Mawdsley | News21)" %}

<p>FDA approval of marijuana would require “carefully conducted studies (clinical trials) in hundreds to thousands of human subjects to determine the benefits and risks of a possible medication,” according to the National <a name="medicaldropdown1"></a> Institute on Drug Abuse. </p>

<p>The News21 analysis of medical marijuana programs across the country also showed states diverge on what health conditions qualify a patient for medical marijuana, and little or no research has been done to determine whether marijuana or its derivatives effectively treat those conditions. AIDS, cancer and chronic pain qualify as conditions for medical marijuana treatment in more than 20 states. But traumatic brain injury qualifies only in New Hampshire and Tourette syndrome qualifies only in New Mexico. </p>

{% include e-interactive-js-drop.html path="tab-mm-conditions" %}


<p>To be considered qualified for medical marijuana, patients in all 24 programs must be diagnosed with an approved condition by a physician. Yet the standards for physician evaluations vary. The California doctor that Harrington saw in San Francisco legally certified him for medical marijuana in a consultation that took less than five minutes. He was one of hundreds seen on the same day.</p>

<p>A single physician in New Jersey has approved over 1,000 of that state’s more than 4,000 medical marijuana patients. In Washington state, at least 12 doctors have faced penalties for operating so-called marijuana mills at which they recommended medical marijuana for large numbers of people, according to Donn Moyer, a spokesman from Washington state’s health department. </p>

<p>Dr. Anthony Anzalone, the New Jersey doctor who has paved the way for at least 1,000 of the state’s medical marijuana patients, is a former gynecologist who left his former practice to evaluate patients for medical marijuana. He said that he wants to see patients have access to medical marijuana, even if he has to dig for a reason.</p>

{% include e-parallax.html image="nj-parallax" caption="Dr. Anthony Anzalone is a New Jersey doctor who paved the way for more than 1,000 of the state’s medical marijuana patients. This “My Dr. Greenleaf” cream is one of the many all-CBD marijuana products he sells online. (Photo by Jessie Wardarski | News21)" %}

<p>“Patients say, ‘Oh, I have post-traumatic stress.’ I say, ‘Unfortunately, the state will not allow it at this point in time. However, tell me more. Do you have any kind of GI (gastrointestinal) problem - irritable bowel (syndrome)?’” Anzalone said. “They don’t think about that.”</p>

<p>He said the idea is to make people feel better – not high. </p>

<p>“If you are not getting approved for medical marijuana in New Jersey, you are going to the wrong doctor,” said Anzalone’s patient counselor, Kevin Long.</p>

<p>Connecticut is the only state that treats medical marijuana like any other pharmaceutical drug. </p>

<p>Jonathan Harris,<span class="soundcite" data-url="http://weedrush.news21.com/soundcite/Commissioner_Harris_AUDIO.mp3" data-start="0" data-end="23000" data-plays="1"> commissioner of the Connecticut Department of Consumer Protection</span>, said Connecticut is “the only state in the nation that has a true medical marijuana program.”</p>

<p>Once patients are approved by a doctor and registered through Harris’ department, they must obtain their medical marijuana from one of six licensed dispensaries, which are owned and operated by licensed pharmacists.</p>

{% include e-slideshow.html uniqueid="laurie-zrenda" %}

<p>When Laurie Zrenda, a pharmacist of 27 years, opened her dispensary in Uncasville, Connecticut, patients handed her hundreds of dollars in cash to pay for their medical marijuana.</p>

<p>“And then, I realized they were paying their drug dealers all of this money before,” she said. “They were used to it.”</p>

<p>Her dispensary, Thames Valley Alternative Relief, serves 515 patients. “I didn’t realize how widely used it was for so many other conditions,” she said. “It’s pretty amazing that one plant can do all these things. … I know the evidence is anecdotal, but it’s there. It’s hard to deny it.”</p>

<p>Eight states — Connecticut, Delaware, Illinois, Maryland, Minnesota, New Hampshire, New Jersey, New York — and Washington, D.C. require patients to use dispensaries rather than allowing home cultivation.</p>

<p>Of those, seven states require their dispensaries to submit product for testing. </p>

<p>New Jersey’s Public Health and Environmental Laboratories, however, is the only state-run lab in the United States to test product from the medical marijuana dispensaries, said Megan Latshaw, the director of environmental health programs for the Association of Public Health Laboratories.</p>

<p>According to Dave Hodges, a dispensary inspection monitor in New Jersey, these tests are only conducted when requested by the <a name="medicaldropdown2"></a> dispensary.</p>

{% include e-interactive-js-drop.html path="medical_mj" %}
</br>
<p>Sixteen states and the District of Columbia, though, have no requirements in terms of testing, according to a News21 analysis of state laws. </p>

<p>For example, private testing for pesticides or other harmful chemicals is available in Maine, but neither home cultivators nor dispensaries are required to submit samples to labs. Tests also are not required in Maine to determine cannabidiol (CBD) or tetrahydrocannabinol (THC) levels. </p>

<p>CBD is the non-psychoactive component of the marijuana plant. It has yet to be proven scientifically as a successful treatment, though anecdotal evidence suggests it helps some patients who use it. Tetrahydrocannabinol (THC) is the part of the plant that produces a high and is used to treat pain, nausea and insomnia, among other symptoms.</p>

<p>Without testing, the potency of a strain is difficult to measure. In states with limits on THC levels, determining potency is key to creating a product within the law. </p>

{% include e-vimeo.html video="135592676" caption="Thirteen-year-old Austin Hilterbran of Choctaw, Oklahoma, moved to Colorado with his family. They made the move to access cannabis oil to treat Austin’s Dravet syndrome, a rare form of epilepsy." %}

<p>Seventeen states have passed legislation allowing only for cannabis extracts, such as oils. The states determine a mandatory ratio of CBD to THC, usually limiting the amount of THC, and in this way, the psychoactive effect. But there isn’t a consensus on that ratio.</p>

<p>For example, North Carolina allows no more than 0.3 percent THC in oil, while Georgia permits up to 5 percent THC.</p>

<p>Though these 17 states have limited patients to using extracts, others give medical marijuana patients the option of using their medical marijuana by smoking, vaporizing, or eating edibles, such as cookies and butters. </p>

<p>Hawaii does not have operational dispensaries at all, leaving caregivers like Jari Sugano to make the oil her daughter, Maile Jen Kaneshiro, takes three times a day. Kaneshiro has Dravet syndrome, a rare form of epilepsy that causes her to have severe seizures. </p>

{% include e-parallax.html image="jari" caption="Jari Sugano and her husband Reid Kaneshiro administer a form of medical marijuana to their daughter, Malie-Jen, within their home in Oahu, Hawaii. (Photo by Anne M. Shearer | News21)" %}

<p>Kaneshiro’s pediatric neurologist Dr. Greg Yim said the CBD oil she takes through a feeding tube in her stomach has helped her, but he does not know why it has been so effective while other medications have failed.</p>

<p>“I don’t think anybody's really studied it enough to know what about the cannabidiol portion of medicinal marijuana is really working to control the seizures,” Yim said. “But when you’re talking about intractable epilepsy and you’re talking about alternatives, it’s good to be open minded to help these patients.”</p>

<p>Like other medical marijuana programs in the country, Hawaii is still working to create an effective system that provides safe, reliable medicine to its patients.</p>

<p>Since the 1990s, state legislatures have passed bills providing for legal medical marijuana without anticipating the exponential increase in demand. States have muddled through regulatory procedures without guidance from the federal government.</p>

<p>Moreno Zepeda, spokesman for the White House drug czar, said, “Marijuana is illegal under federal law, and we remain committed to treating drug use as a public health issue, not a criminal justice problem.”</p>

<p>“This administration will continue to support scientific research, which may lead to more safe and effective medications in the futures,” he added.</p>



