---
layout: story
title: "Experts: Minorities struggle for footing in lucrative cannabis industry"
byline: "Karen Mawdsley, Rilwan Balogun and Montinique Monroe"
credits:
  - Karen-Mawdsley
  - Rilwan-Balogun
  - Montinique-Monroe
hero: minorities-hero
hero-credit: Karen Mawdsley
permalink: /experts-minorities-struggle-for-footing-in-lucrative-cannabis-industry/
slug: minorities
socialimage: minorities-hero-768.jpg
blurb: "Aspiring marijuana business owners need a clean record and access to large amounts of both financial and social capital. And experts said that’s proven difficult for many minorities to break into the business."
soundcite: yes
section: money
---

{% include e-sections.html slug="minorities" %}

<p>WASHINGTON, D.C. – It takes more than an entrepreneurial spirit and knowledge of cannabis to open up shop in the United States’ rapidly emerging legal marijuana industry.</p>

<p>Aspiring marijuana business owners need a clean record and access to large amounts of both financial and social capital.</p>

<p>“It appears that there are three different pillars to being successful,” said Corey Barnette, owner of District Growers cultivation center and Metropolitan Wellness dispensary in Washington, D.C. “One is actually being qualified, capable and having a good team, and the other one is just having the politics of the situation on your side. And then thirdly, having the financial resources on your side.”</p>

<p>This prevents the majority of Americans from entering the industry. Experts said such requirements make breaking into the business even more difficult for minorities. </p>

<p>“When you look at who owns dispensaries, if you look at who owns cultivation centers, who wins licenses and things of that nature, it’s an industry that is dominated by white men,” said Barnette, who is black.</p>

<p>Industry insiders said the evidence is overwhelming: All you have to do is look around – from cultivation sites to medical dispensaries to recreational marijuana vendors – to see few minorities have overcome the barriers to entry.</p>

<p>“This is an economic boom that’s happening that we’re getting left behind on,” said Wanda James, the first black dispensary owner in Colorado. “Fifteen years from now, we’re going to be standing around scratching our heads going, ‘What happened and why are we not a part of this?’”</p>

{% include e-mid-image.html image="wandajames-1200.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/WandaJames.mp3\" data-start=\"0\" data-end=\"26000\" data-plays=\"1\">PLAY</span>Wanda James, owner of a Colorado medical marijuana dispensary, is the first black dispensary owner in the state. James and her husband recently purchased a new facility where they will open a business for edibles, recreational and medical marijuana.  (Photo by Jessie Wardarski | News21)" %}

<p>Medical marijuana is legal in some capacity in 23 states and Washington, D.C., and four states and the district have legalized recreational marijuana for adult use in recent years. But the industry is still in its early stages, and quantitative demographic data on business ownership remains unavailable or inaccessible from major industry players and government agencies.</p>


<p>States provided News21 various reasons why they don’t have the data: California doesn’t have a state-level agency regulating marijuana dispensaries. Colorado asks dispensary applicants their race, but it doesn’t aggregate the data for statewide statistics. Oregon officials said they “don’t collect or post any aggregated data on dispensary owners.” </p>

{% include e-pull-image.html image="wandajames-2-768.jpg" caption="Wanda James' edible company, Simply Pure, includes products used specifically for cooking foods. These products range from mango salsa and apple butter to marinara. (Photo by Jessie Wardarski | News 21)" %}

<p>Many state dispensary applications simply don’t ask for information on gender and race. </p>

<p>Officials with the Minority Cannabis Industry Association – founded to increase minority presence in the industry – said they hope to start gathering and tracking this data.</p>

<p>“There’s a lot of blank spaces and question marks, and the more that we can kind of paint the picture as to what the current scenario is, the better that we’re going to be able to understand where our organization needs to go as well as how to serve other organizations,” said the group’s founder, Tiffany Bowden.<a name="mi1"></a> “The first part of it is going to be to do some qualitative research to understand exactly what are those key challenges within the industry.”</p>

<h2>Marijuana industry poised to bring in billions</h2>

<p>Barnette, who owns the cultivation center and dispensary in Washington, D.C., recognizes he is an exception to the norm. </p>

<p>A former engineer and investment banker, Barnette entered the cannabis industry largely by happenstance when a colleague asked him to join the board of a small medical marijuana dispensary in San Diego in 2008. When the colleague died of cancer, Barnette took over and grew the business.</span></p>

<p>Barnette used savings and his experience in San Diego to secure a license to cultivate in the District of Columbia, which launched its medical marijuana market in 2013.</p>

{% include e-mid-image.html image="corey-barnette-1200.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/CoreyBarnette.mp3\" data-start=\"0\" data-end=\"63000\" data-plays=\"1\">PLAY</span> Corey Barnette, owner of District Growers, stands outside the intentionally nondescript building of his cultivation center in northeast Washington, D.C. Barnette said the marijuana industry is “dominated by white men.” (Photo by Karen Mawdsley | News21)" %}

<p>Experts estimate the legal marijuana industry will bring in $10.8 billion in total sales by 2019. Sales from 2013 to 2014 increased 74 percent, making cannabis one of the fastest-growing industries in the nation, according to industry research group <a href="http://www.arcviewmarketresearch.com" target="_blank">ArcView</a>.</p>

<p>The emerging cannabis sector is significant because it’s a chance to develop an industry from its inception and reshape the narrative of American business, said Jazmin Hupp, founder of Women Grow, which was formed to support female entrepreneurs.</p>

<p>Hupp said both women and minorities are underrepresented in leadership roles in the industry. </p>

<p>The race disparity isn’t unique to the marijuana business.<a name="mi2"></a></p>

<p>“You could go into any corporate American boardroom, and you’d see it’s white male dominant,” said Joseph Richardson, a professor of African-American studies at the University of Maryland. </p>

<h2>Criminal records hold people back</h2>

<p>Hupp said the majority of states that have legalized marijuana don’t allow people with drug-related convictions to work in the industry.</p>

<p>A 2013 <a href="https://www.aclu.org/sites/default/files/field_document/1114413-mj-report-rfs-rel1.pdf" target="_blank">report</a> by the American Civil Liberties Union found that, while blacks and whites use marijuana at similar rates, authorities are on average 3.73 times more likely to arrest a black person than a white one for marijuana offenses.</p>

<p>Richardson said this history of incarceration discourages black Americans from engaging in legal marijuana-related activities. </p>

<p>Some advocates, however, cite the relationship between minorities and enforcement of marijuana laws as a reason to spearhead movement into the legal cannabis industry.</p>
 
<p>“I do think minorities need to make a concerted effort to be in this industry,” Barnette said. “This is an industry that we’ve been locked up for decades for.”</p>

<p>But Hupp said asking people who have been disproportionately jailed for marijuana to jump into the industry is “a huge, huge ask.” </p>

<p>“Some of us are still very conservative and afraid of being unfairly targeted and therefore losing all the things we’ve worked so hard for,” Bowden added.</p>

<p>James said that’s precisely the reason minorities need to get involved.<a name="mi3"></a></p>

<p>“Since black … and Latinos have been so discriminated against in the prison system, in the arrest rates,” James said, “I think that it’s definitely important we are able to participate then in the money-making side and in the business side.”</p>

<h2>Financial barriers tough to overcome</h2>

<p>For decades, young men and women have peddled marijuana in lower-income communities – often disproportionately home to minorities – to earn cash.  </p>

<p>Joshua Littlejohn, who is black and now works for a legal marijuana delivery service in Colorado, started selling the drug illegally his freshman year of high school: “Same reason everybody do it, you know. You ain’t got no money or you ain’t got much.” </p>

{% include e-mid-image.html image="littlejohn-1200.jpg" caption="Joshua Littlejohn began selling marijuana in ninth grade. He works for Accanadations, a black-owned courier service in Denver. (Photo by Dom DiFurio | News21)" %}

<p>“We’re moving from this phase where marijuana sales was most often funding communities of color on the local level, right? Your dealer process, your black-market process, was part of that economy for a lot of these communities,” Hupp said. “And now we’re making it legal for that economy to exist, but we’re not allowing any of those people to be a part of it.” </p>

<p>The experience is there, industry insiders said, but minorities often are still stuck in illegal enterprises. As lucrative legal cannabis businesses go up, Barnette said, “We don’t have a lot of the actual ownership in this industry, which is kind of ironic if you think about it.”</p>

<p>Another major reason minorities struggle to gain footing in the industry is a lack of access to capital, sources said.</p>

<p>“A lot of people of color – because of socioeconomic history in the United States – don't necessarily have access to those kinds of funds,” Bowden said. “There is an economic disparity in general in the United States.”</p>

<p>And this racial and ethnic economic inequality has increased in recent years, according to the <a href="http://www.pewresearch.org/fact-tank/2014/12/12/racial-wealth-gaps-great-recession/" target="_blank">Pew Research Center</a>. On average, the wealth of white households in 2013 was 12.9 times that of black households</span>, and 10.3 times that of Hispanic households.</p>

<p>It can cost thousands to millions of dollars to get started in the business.</p>

{% include e-mid-image.html image="richiebobby-1200.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/RichieBobby.mp3\" data-start=\"0\" data-end=\"55000\" data-plays=\"1\">PLAY</span> Washington, D.C., resident and marijuana grower “Spider,” who requested his real name not be used, said he is qualified to be in the legal industry. But his experience has been growing and selling marijuana illegally for years. (Photo by Karen Mawdsley | News21)" %}<a name="mi4"></a>

<p>To open up shop in Maryland, for example, <a href="http://www.greenrushconsulting.com/#!open-a-dispensary-in-maryland/c14ij" target="_blank">Green Rush Consulting</a> recommends having $250,000 in starting capital to cover developing business plans, securing site locations and paying taxes and fees. In Connecticut, Green Rush recommends having between $3 million and $5 million.</p>

<h2>Experts: Some minorities may lack know-how, influence</h2>

<p>Barnette said he doesn’t think anyone is being intentionally discriminatory. </p>

{% include e-pull-pin.html %}

<p>“I believe that people hire people they know,” he said. “People look for resources in places where they’re comfortable going … so if I’m looking in places where I’m traditionally comfortable, then I’m probably going to get a lot of people that look like me, think like me, act like me and want the same things I want.”</p>

<p>In any market, it’s about who you know, and in this market, influence – be it financial, political or social – is exponentially valuable. </p>

<p>“Look at Congress,” Richardson said. “America is primarily, from a political and economic standpoint, dominated by white men. Why would I find any other reason why it wouldn’t be dominated by white men in regard to the sale of marijuana?”</p>

<p>Bowden also pointed out that “there is an education gap in terms of (minorities) knowing about the types of opportunities that we can participate in apart from dispensaries and cultivation centers.” </p>

<p>This education gap extends to having the know-how and influence to navigate complicated bureaucratic processes involved in acquiring a license.</p>

<p>“Getting into the pot business is hard for everybody,” James said.</p>

<p>But advocates said they keep pushing for more diversity. </p>

<p>“From the standpoint of a minority,” Barnette said, “I want to encourage African-Americans, Hispanics, Asians, and everyone — be they male or female — to really take a hard look at this industry.”</p>
