---
layout: story
title: "In Montana, medical marijuana in danger as debate drags on"
byline: "Michael Bodley and Martin do Nascimento"
credits:
  - Michael-Bodley
  - Martin-do-Nascimento
hero: montana-hero
hero-credit: Martin do Nascimento
permalink: /in-montana-medical-marijuana-in-danger-as-debate-drags-on/
slug: montana
socialimage: montana-hero-768.jpg
blurb: "In the aftermath of a medical marijuana trade critics say grew beyond its bounds, Montana could become the first state to shut down legal sales of cannabis. Patients and their providers now uneasily await the outcome of a state Supreme Court case that could cripple the industry."
soundcite: no
section: politics
pinfooter: yes
---

{% include e-sections.html slug="montana" %}

<p>BILLINGS, Mont. – Gone are the flashing green neon lights on street corners advertising $200 ounces of marijuana in Billings and Butte and beyond. Gone are the traveling cannabis caravans of doctors infamous for signing up hundreds of medical marijuana hopefuls in a single day. </p>

<p>The vast majority of the nearly 30,000 patients and 4,900 providers that once flooded this state of just more than 1 million people have been driven out of Montana’s medical marijuana program, which was first legalized in 2004.</p>

<p>These days, those who remain in the state’s medical marijuana system deal in a combination of currency and uncertainty as they await the outcome of a state Supreme Court case that could cripple what’s left of the industry. A decision could come as soon as October, according to James Goetz, a lawyer who represents the medical marijuana industry. </p>

<p>Depending on the court’s ruling, medical marijuana providers could be banned from charging patients a penny, save recouping $50 license fees and renewals. Providers could be limited to three patients each. And the businesses could be blocked from <a name="montanamap"></a>advertising.</p>

<iframe src='https://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=1mJjON_cqpVnOBNH7PFVjlZ078YttJXfQ2FAtuNpH4gg&font=Merriweather-NewsCycle&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>


<p>As medical marijuana consumers cry foul, state legislators and grassroots opposition have sought to undermine the industry, saying business grew too large, too fast – in effect becoming recreational marijuana operating under the guise of medicine.</p>

<p>Marijuana has been contested in the state so long that “people don’t recognize the direness of the situation” this time around, according to Elizabeth Pincolini, who runs a referral service based in Billings that connects patients to the few doctors left willing to regularly write marijuana recommendations.</p>

{% include e-pull-image.html image="elizabeth-pincolini-pull768.jpg" caption="Elizabeth Pincolini is a medical marijuana user and advocate who aims to connect patients with doctors. (Photo by Martin do Nascimento | News21)." alt="Elizabeth Pincolini is a medical marijuana user and advocate, who aims to connect patients with doctors. " %}

<p>“It’s really out of our hands,” Pincolini said.<a name="m1"></a> “There's nothing we can do. We can write letters and do our best to appeal to the common sense of the Supreme Court, but we really can't do anything.”</p>


<h2>A medical marijuana program in turmoil </h2>

<p>After Montanans in 2004 voted 62-38 percent to legalize medical marijuana, the program grew at first in small spurts. But it ballooned in late 2009, after the U.S. Department of Justice said it wouldn’t interfere with state-compliant medical marijuana patients and providers. From 3,921 patients and 1,403 providers in September 2009 – one month before the Justice Department announcement – the program grew to 29,948 patients and 4,848 providers by March 2011. </p>

{% include e-pull-image.html image="butte-pull768.jpg" caption="Montana's medical marijuana program ballooned in size from 2009 to 2011 after the U.S. Department of Justice said it wouldn't interfere with the state's legalization laws. But as the system grew, marijuana businesses started popping up across from churches and near schools, including the city of Butte, shown here. (Photo by Martin do Nascimento | News21)." alt="Montana's medical marijuana program ballooned in size from 2009 to 2011 after the U.S. Department of Justice said it wouldn't interfere with the state's legalization laws. But as the system grew, mariajuana businesses started popping up across from chruches and near schools, including the city of Butte, shown here.  " %}

<p>As the system swelled and pot shops opened a stone’s throw from schools in Butte and across the street from churches in Billings, an opposition movement was born. </p>

<p>“There were medical marijuana distribution sites next to churches and the junior high,” said Steve Zabawa, a prominent funder of the anti-marijuana movement in Billings, where he owns a chain of car dealerships. “You could just see that the traffic going in and out had nothing to do with medicine. Basically, the black market went to the regular market, and it popped up everywhere.” </p>

<p>In March 2011, the U.S. Drug Enforcement Administration conducted raids across the state, the culmination of an 18-month investigation into whether the medical marijuana businesses were involved in large-scale drug trafficking and other federal crimes. Shops were closed down, and their operators went on to be charged under federal drug laws.</p>

{% include e-vimeo.html video="134887342" caption="The DEA raided Mark and Valerie Sigler's medical marijuana dispensary chain in 2011. In this video, Mark discusses how their lives have been turned upside down since the raid." %}

<p>Several attempts at legislative repeal of medical marijuana followed the raids, targeting the few businesses still open. </p>

<p>The program came a signature away from dissolution in April 2011, when then-Gov. Brian Schweitzer, a Democrat, vetoed a repeal bill passed by the Legislature. </p>

<p>Later in that same legislative session, lawmakers pushed through SB 423 – widely known as “repeal in disguise,” which was signed into law in May 2011. Under the law, providers couldn’t charge a cent for services, save recouping license application fees, so they had no incentive to stay open. The law’s future now hinges on the outcome of the Supreme Court decision. </p>

<p>Nearly 30,000 patients had been reduced to less than 9,000 by June 2012. The restrictive law, which limited each provider to three patients, cut the number of providers to less than 400, down from a June 2011 height of nearly 5,000.</p>

<p>Dubbed “one of the most restrictive laws in the country” by Roy Kemp, interim administrator of the agency that regulates the medical marijuana program, SB 423 allows for “providers,” but not “dispensaries.”</p>

{% include e-pull-image.html image="state-capitol-pull768.jpg" caption="A statue tops the Montana State Capitol building, looking over the city of Helena. (Photo by Martin do Nascimento | News21)." alt="A statue tops the Montana State Capitol building, looking over the city of Helena." %}

<p>Larger providers – allowed for now under a judge’s order – operate storefronts with regular hours. They stock assorted strains, from Blue Dream to OG Kush to Black Cherry Soda. They have registers full of cash and stickers with logos and menus with prices.</p>

<p>But they can’t technically refer to their operations as a dispensary. They can’t technically call what they do business.</p>

<p>“It’s interesting that they call ‘dispensary’ a loaded term,” said Carly Dandrea, a "budtender" for Around the Clock Cannabis in Bozeman and a fifth-generation Montanan. “I take offense to that. It’s what we do. It’s who we are.”</p>

<p>The law doesn’t give the state much leeway. </p>

<p>“There are no dispensaries that exist in the state of Montana,” Kemp said. “The law doesn’t allow for them. That’s not what we do here.”</p>

<p>A contentious legal history has led the industry to the shaky ground on which it today stands.</p>

<p>After members of the marijuana industry sued to block SB 423, state District Judge James Reynolds in June 2011 blocked three of the most restrictive measures of the state’s law: a ban on providers charging patients except to recover small license and renewal fees, a ban on advertising and a maximum of three patients per provider. But the Montana State Supreme Court ordered Reynolds to reassess the law under a less-strict standard. </p>

<p>In January 2013, Reynolds confirmed his original ruling in a second temporary injunction and he made the ruling permanent in January 2015.</p>


{% include e-slideshow.html uniqueid="montana-medicine" %}

<p>Montana Attorney General Tim Fox appealed that ruling and the state’s Supreme Court agreed to hear arguments once more and briefs have been filed by both sides. Fox and his attorneys have defended SB 423 by arguing that Reynolds erred in interpreting the law.</p>

<p>A spokesman for Fox said the attorney woud not comment on the case. </p>

<p>The outcome of the Supreme Court case could bring about the end of an era - and of an industry.</p>

<p>“It's hard for patients to live like that, not knowing if they'll have their cards next year,” Pincolini said. She added, “It's pretty desperate. It's a pretty desperate situation.”</p>

<p>As 23 states, plus Washington, D.C., have eased restrictions on medical marijuana – with more expected to follow – Montana has been the only one to head in the opposite <a name="montanachart"></a>direction. </p>

{% include e-interactive-js.html path="montana-mmj-participation" %}

<p>“Montana seems to be the only state that seems to be going backwards after having had a medical marijuana law,” said Mort Reid, the president of the Montana Cannabis Industry Association, a trade group and party in the Supreme Court case. “The other states seem to be moving forward. So, the big question is, ‘What makes Montana different from other states, and why can’t they make it work in Montana?’”</p>

<p>State Sen. David Howard, a Republican, supported attempts to repeal or restrict marijuana in the 2011 legislative session when he served in the House. Calling marijuana a “scourge coming to America.”</p>

<p>“It doesn’t take you very long to figure out that (marijuana is) not medicine,” Howard said, adding that he’s still for repeal of the 2004 law today. “That’s what they wanted you to think it was — medicine. It has no practical applications, and it was tearing apart Montana.” </p>

<p>Zabawa, the Billings car dealer, has tried in the past to gather enough signatures for a marijuana repeal initiative on the ballot, but fell short of the necessary number in 2014.<a name="m2"></a> </p>

<p>He’s now gathering signatures for another voter initiative supporting all-out repeal of medical marijuana in the 2016 election.</p>


{% include e-pull-image.html image="thesiglers-pull768.jpg" caption="Mark and Valerie Sigler walk in the woods surrounding their home outside Bozeman, Montana. The Siglers owned and operated a number of medical marijuana dispensaries until they were shut down by federal authorities in 2011. (Photo by Martin do Nascimento | News21)." alt="Mark and Valerie Sigler walk in the woods surrounding their home outside Bozeman, Montana. The Siglers owned and operated a number of medical marijuana dispensaries until they were shut down by federal authorities in 2011." %}

<h2>The remnants of the raids </h2>

<p>In the middle of a Monday morning, March 11, 2011, Mark and Valerie Sigler, husband and wife co-owners of Big Sky Patient Care, one of the largest medical marijuana providers in the state, pulled up to their location near Bozeman to check in on things. But the open sign was off. The parking lot was empty.</p>

<p>Something wasn’t quite right.</p>

<p>Stepping inside, the couple was greeted by rifle-wielding, riot-gear-wearing federal agents standing watch over a handful of employees handcuffed on the ground. The Siglers had waltzed right into the middle of their own personal federal drug raid.</p>

<p>“I’d probably have been shot today, because I was in their faces screaming at them, telling them that we were state-compliant,” said Valerie Sigler, still shaking more than four years later. “So, what were they doing there?”</p>

<p>The Siglers' operation was one dozens of businesses raided across Montana by federal authorities that day. </p>

<p>Many providers went on to face federal charges, and almost all accepted probation or house arrest to avoid jail time. The Siglers received five years of probation, which they’re both still serving, plus suspended jail time for Mark and house arrest for both.  </p>

{% include e-pull-image.html image="valerie-pull768.jpg" caption="Since the Siglers' dispensaries were shut down, Valerie started attending college in Bozeman, where she hopes studying geology will lead her down a new career path. (Photo by Martin do Nascimento | News21)." alt="Since the Siglers' dispensaries were shut down, Valerie started attending college in Bozeman, where she hopes studying geology will lead her down a new career path. " %}

<p>But becoming felons was just the beginning. </p>

<p>From 400-plus patients and more than $1 million in the bank, the middle-aged couple have sunk into more than $1 million in debt – including a combined $900,000 judgment, payable to the federal government.</p>

{% include e-pull-image.html image="sigler-dogs-pull768.jpg" caption="Kohl and Drake, the Siglers' two giant schnauzers, peer into the cabin as they wait to be let back inside. (Photo by Martin do Nascimento | News21)." alt="Kohl and Drake, the Siglers' two giant schnauzers, peer into the cabin as they wait to be let back inside.  " %}

<p>Their seven grown children, most of whom used to work in the family marijuana business, have been scattered across different states, working odd jobs far from home. </p>

<p>The Siglers are about to lose their home, a log cabin in the middle of the forest near Bozeman. Mortgage payments have been hard for a couple of felons lacking a steady income. Mark, a cancer patient, is unemployed. Valerie is back at school, piling on more debt in a bid to turn things around with a dual-degree in geology and liberal arts from Montana State University. </p>

<p>“You can just keep going, or you can shoot yourself in the head. But you don't have very many choices other than that,” Mark Sigler said. “It's never going to go away for us.”<a name="m3"></a></p>

<p>“Well, let’s face it – we were all illegal,” he added. </p>

<h2>Still selling, but quietly, this time</h2>

<p>Tucked in the corner of a non-descript office park on the edge of Missoula, the woman behind a small medical marijuana operation quietly harvests a dozen plants each month to keep her 70 patients supplied with product.</p>

<p>There are no pot leaf stickers marking the spot, no searchable blurbs on Leafly or Weedmaps, no strain menus to peruse within. From the outside, it’s as if the business never existed.</p>

{% include e-slideshow.html uniqueid="montana-misdisp" %}

<p>The owner, a wary middle-aged woman who has been there since 2009, likes it that way. Nightmares of the raids of 2011 remain. She watched as two businesses in the same office park were raided, product destroyed in the street, charges filed and lives upended.</p>

<p>“Anytime someone got in the limelight, they were picked off,” said the woman, who asked not to be identified for fear of federal prosecution. 'Whac-a-Mole,’ that’s what it reminded me of. Anytime you stuck your head up, it was like, ‘Whack!’”</p>

<p>Most of the industry today keeps a lower profile than it once did. Providers have reduced hundreds of patients to dozens, or even handfuls. Millions of dollars in revenue has fallen into the thousands. The downsizing has been driven by recurring fears of federal interference into what the state is permitting – for now.</p>

<p>The 442 providers – down from a 2011 high of nearly 5,000 – still around are careful. They say they have to be.</p>

<p>Out east, Billings, the largest city in Montana with a population of just under 110,000, is home to just one storefront. The dozens of dispensaries that once dotted the streets are all gone, run out of business by raids and regulation.</p>

<p>Rich Abromeit and Jason Smith, owners of the last marijuana storefront within the city limits, Montana Advanced Caregivers, rattle off a laundry list of protections — checking cards meticulously, keeping patient and plant counts in check, staying away from illegal edible extractions – they say have kept them out of trouble since they opened the shop in 2008.</p>


{% include e-slideshow.html uniqueid="montana-mac" %}

<p>Smith's eyes dart nervously behind square black-rimmed glasses whenever the raids are brought up. His voice drops to a husky whisper when the lawsuit is mentioned, when the future of the industry is questioned.<a name="m4"></a> </p>

<p>“I’m a bulls-eye,” Smith said, glancing behind his back at rows of labeled pot plants. “I’m the last … shop left in this town, and everyone depends on me.”</p>

<h2>Buying illegally outside the system</h2>

<p>Jon Svaren, a bearded 15-year Navy veteran, has been living out on his aunt’s farm off dirt roads near Hardin, in the eastern part of the state, where attitudes toward marijuana tend to be harsher. Svaren breaks the law more days than not. He’s an unapologetic pot-smoker, self-medicating for a spinal fusion and years of back pain that intensify with long hours of labor logged feeding sheep and tending to crops.</p>

{% include e-pull-vimeo.html video="134887338" caption="Jon Svaren uses marijuana to treat persistent back pain. In this video, he discusses his personal journey that has driven him to openly defy Montana’s medical marijuana regulations." %}

<p>The pot comes from the black market. Vaporizing, as is his preference, four to five times a day could land him in jail. </p>

<p>Not that he cares much. “Put me before a jury of 12,” Svaren said, between swigs of homemade lemonade served cold from a Vlasic pickle jar. “I’d be happy to explain myself to them.”</p>

<p>The tens of thousands of patients who have left the system haven’t stopped smoking, he said, smirking at the idea. They’ve gone to the black market, where there is no registry, no threat of the state turning against the system once more. In turning to the black market, many find an ironic sense of safety. </p>

<p>An “open violation type of guy,” the libertarian-leaning Svaren refused to renew his medical card after the Bureau of Alcohol, Tobacco, Firearms and Explosives in 2011 prohibited medical marijuana patients from owning firearms. Svaren, who likes to go duck-hunting and keeps an eye out for bears wandering through the farm (it’s happened before), has quite the gun collection. </p>

<p>Though Svaren ditched the system early, others, too, are planning for a future with limited options for procuring marijuana if the Supreme Court rules against the industry. </p>

<p>Because providers would be prohibited from making a profit, the black market or growing at home would be the only viable option for patients, according to Josh Daniels, a patient advocate living in the suburbs of Billings.</p>

<p>Home-growing, though, presents problems of its own. The law doesn’t allow patients a legal way to procure seeds or clones.</p>


{% include e-pull-vimeo.html video="134887340" caption="Josh Daniels has been medicating with marijuana since shortly after he was diagnosed with multiple sclerosis. In this video, he outlines the challenges to home-growing marijuana for medical use in Montana." %}

<p>“How’s that supposed to work?” asked Daniels, between deep drags of a hand-rolled cigarette. He’s also a patient, growing marijuana to deal with his multiple sclerosis. “A magic seed fairy is going to deliver seeds in your mailbox? To grow, the first thing you have to do is break the law.”</p>

<p>Les Yother, a recently retired 63-year-old former laborer, lives a couple hundred miles west of Daniels and Svaren, a long, winding ride on Interstate 90 away, across two-lane stretches that meander through an empty expanse of green dotted with the occasional farm. Miles pass between each exit until his hometown, Butte, once known as “the richest hill on Earth” for its vastly profitable copper mines, comes into view.</p>

<p>The town of nearly 34,000 has a rough-and-tumble, heavy-drinking history. Here, in the midst of blue-collar households and aging infrastructure, medical marijuana has by and large found a safe haven. Dispensaries downtown still advertise, plastering phone numbers and websites outside. Men linger drinking beer in the middle of the day down a main thoroughfare, Montana Street, taking advantage of a loose open container law. Pot seems to raise few eyebrows. </p>

<p>The birthplace of Evel Knievel, Butte tends toward a live-and-let-live attitude when it comes to marijuana – a sharp contrast to the other parts of Montana. Yother was one of the first to get a card in 2004, patient 69 in the registry. </p>

<p>Since then, Yother said, it’s gone back and forth so many times that no one can keep track. </p>

{% include e-pull-vimeo.html video="134887341" caption="Les Yother worked in manual labor for most of his life. In this video, he details how medicating with marijuana has alleviated lingering pains from a life of labor." %}

<p>A former alcoholic, Yother credited marijuana with “settling his demons.” The cardholder smokes about two grams a day to manage his glaucoma and relieve pain from a bad back that has him hunched almost in half from years of hard labor.<a name="m5"></a> </p>

<p>If the Supreme Court rules against the industry, Yother would keep on puffing pot out of a residue-streaked green metallic pipe: “Oh, I’d go black market,” he said. </p>


<h2>Hanging on, industry faces uncertain future</h2>

<p>The direction – and destination – of marijuana in Montana hangs in the uneasy balance. The status quo has left providers and patients in a vacuum of fear and uncertainty, unsure what the Supreme Court will decide in the months to come. </p>

{% include e-pull-image.html image="mark-gibbons-pull768.jpg" caption="Mark Gibbons Jr.'s medical dispensary overlooks an old mine headframe in the historic uptown district of Butte. (Photo by Martin do Nascimento | News21)" alt="Mark Gibbons Jr.'s, whose medical dispensary overlooks an old mine headframe in the historic uptown district of Butte." %}

<p>A “Reefer Madness” poster stared down on Mark Gibbons Jr., the self-proclaimed longest-running provider in Montana as he mulled over what might come next.</p>

<p>Gibbons, the owner of Butte’s Montana Natural Medicine, which served 500 patients at its height in early 2011, has weathered setbacks before: failed crops, dropped customers. He once cycled through 10 pounds of marijuana per month – that’s down to two, or so, for his 40 remaining patients. </p>

<p>Perched behind the counter, beneath an “Against SB 423” sticker, opposite a University of Montana diploma tucked between a couple of Yellowstone National Park shot glasses, Gibbons sighed in frustration at shifting regulation he says he still doesn’t fully understand. </p>

<p>If the court rules against the industry, Gibbons has a backup plan to make ends meet: accepting “donations,” not payment, from “patients,” not customers. With a lot of patience and a few creative solutions, cannabis ought to survive in the state, he said.</p>

<p>“It’ll just be less,” Gibbons said. “It’ll be less plants and less money and less patients getting treatment.”</p>

