---
layout: story
title: "Marijuana industry explodes, but complications abound"
byline: "Michael Bodley and Clarissa Cooper "
credits:
  - Michael-Bodley
  - Clarissa-Cooper 
hero: nationalbusiness-hero
hero-credit: Clarissa Cooper
permalink: /marijuana-industry-explodes-but-complications-abound/
slug: nationalbusiness
socialimage: nationalbusiness-hero-768.jpg
blurb: "As marijuana matures from a fledgling industry into a serious business, problems mount for a field challenged by complex regulations and an uncertain future."
soundcite: yes
section: money
---

{% include e-sections.html slug="nationalbusiness" %}

<p>As marijuana prohibition falls in one state after another, cannabis sales are shifting from street corners to storefronts as opportunists line up to cash in on what optimists say is the biggest investment opportunity since the dot-com boom of the turn of the century.</p>

<p>Investors of all varieties are starting to look at marijuana as less of a stoner’s fad and more of a serious business venture. The industry totaled $2.66 billion in U.S. sales in 2014, up 74 percent from $1.53 billion the year before, according to the ArcView Group, a cannabis industry investment network. Experts expect billions more in future growth from states where the drug remains illegal – for the time being.</p>

<p>	Business insiders said they expect the market to expand to many times its present size as more states legalize marijuana for both medical and recreational use. The cannabis trade has not only brought in millions for dispensary owners and cultivators, it’s also created a thriving ancillary market, driven job growth and boosted property values, marijuana advocates claim.</p>

<p>But the challenges are many for the kind of high-risk, high-reward investment that cannabis calls for. No industry since post-Prohibition alcohol has come close to having had a harder time getting off the ground, from strict regulation and heavy taxation to a lack of investors and banking services.<a name="nb1"></a> </p>

<p>“A lot of people look at the cannabis industry and say, ‘Oh my God, it’s so much harder. (There are) so many barriers … You've got endless problems,’” said Troy Dayton, CEO of the ArcView Group. “Well, some people see endless problems. Other people see endless problems disappearing fairly soon and see this as a great investment.” </p>


<h2>Dispensaries and cultivators not only ones making money</h2>

<p>Jamie Perino, the CEO of Colorado-based Euflora dispensaries, said the three-store chain has so many customers, the company is eager to apply for more business licenses. Perino said they want to open more outlets, not only in Colorado but also across the country.</p>

<p>Perino estimated that Euflora, dubbed the “Apple store” of pot for its tablets next to every product displaying information about potency, strains and more, brings in 2.5 million visitors a year at its 16th Street Mall location in downtown Denver. </p>

<p>A security guard immediately greets each customer. Workers give them a scanner to take note of products they like, an idea inspired by Target wedding registries.</p>

<p>Perino isn’t a marijuana enthusiast, but the financial opportunities were too good to pass up, especially after Colorado became the first state to legalize recreational marijuana in 2012. Dispensaries began opening in 2014. After working in the building industry for 15 years, Perino made the switch. </p>

{% include e-pull-vimeo.html video=135400692 caption="Jamie Perino left the building industry to become the CEO of Euflora, a chain of dispensaries in the Denver area that has branded itself the ‘Apple store’ of pot. Her business is thriving despite having no bank accounts and steep tax fees." %}

<p>“There were CEOs, CFOs, from pharmacy, banking, real estate,” Perino said. “People were leaving their jobs to get into this industry, and I think that if they are getting into it, maybe they know something I should know. … It just seemed like a great opportunity to be the grass roots of something big. I mean, it’s kind of being compared to the tech boom of several years ago and to be at the forefront of it is really exciting.” </p>
<p>Colorado alone brought in about $79 million from taxes and fees on the marijuana industry in fiscal year 2015. </p>

<p>On the fringes, ancillary business also have found money-making niches to fulfill the needs of marijuana businesses. Cultivators need high-wattage lights to grow cannabis indoors. States have contracted seed-to-sale tracking systems to try and stop cannabis from slipping to the black market. Limousine companies shuttle paying customers from dispensary to dispensary. </p>

<p>J.B. Woods, co-owner of Greenpoint Insurance Advisors LLC, is based in the Denver area but specializes as an insurance broker for dispensaries nationwide. It’s a necessity for companies storing marijuana by the pound and cash by the bundle.   </p>

<p>“There are a couple of states who have made it really very clear that insurance is an important part of the licensing process,” Woods said. </p>

<p>	The security danger spawned by the all-cash industry also has created a secondary market of its own. Companies provide security cameras, alarm bells and guard dogs. </p>

<p>	Dan Williams, CEO of Canna Security America, a security solutions provider, said employee theft makes up to 90 percent of missing product and proceeds. Williams, whose company services hundreds of  marijuana operations, has seen stealing of all varieties – “budtenders" casually pocketing cash between transactions to trimmers throwing away bud to then dumpster-dive after hours.</p>

<p>Businesses often require workers to don pocketless suits when trimming weed and search employee bags.<a name="nb2"></a></p>

<p>“A lot of people, they know that the cameras are there, but they don't necessarily think anyone watches them,” Williams said. “They just think they're going to get lucky. And oftentimes they do.”</p>

<h2>As acceptance spreads, industry matures </h2>

{% include e-pull-pin.html %}

<p>	When the ArcView Group first started hosting conferences to connect marijuana businesses with cautious early investors, the events reinforced quite a few stoner stereotypes, ArcView CEO Dayton said.</p>

<p>	He described a ragtag lot who cared more about smoking weed than making money off it. Many of the presenters looked uncomfortable in suits and ties and floundered through their pitches. </p>

<p>“When we first started doing these events, if you could complete a sentence, we would put you on stage,” Dayton said. </p>

<p>In those early days, investors didn’t exactly flock to marijuana. Until September 2013, ArcView only allowed ancillary businesses the chance to pitch. Dayton said that at the time, they believed companies with direct contact with the plant posed too much risk. </p>

<p>ArcView events now draw a sharply dressed mix of professionals who whip through presentations with practiced precision – a reflection of the maturing industry, Dayton said. Though ancillary businesses are still popular, many of the current companies work directly with cannabis.</p>

<p>As more states legalize, shifting social attitudes have opened the door for a host of white-collar professionals who once shied away at the mere mention of marijuana. Lawyers are leaving their corporate firms behind. Bankers are closing down their tills. Business is serious. Business is brisk. </p>

<p>From Hawaii to New York, 23 states across the country, plus Washington, D.C., have approved marijuana for medical use, with Alaska, Colorado, Oregon, Washington state and Washington, D.C., legalizing recreational marijuana, as well.  </p>

<p>The legalization tide has flooded the marijuana market with entrepreneurs who must distinguish themselves amid rising competition. Innovators have come a long way from the joints they rolled in high school parking lots and the bowls they smoked beneath the front porch. </p>

<p>There are hookahs and bubblers, volcano vaporizers and percolated bongs. Consumers slurp down THC-infused ice cream and gnaw on gummy bears that aren’t made for children. They slather on lotions permeated with marijuana oil and dollop out droplets of tinctures, cannabis extracted with alcohol. </p>

<p>The secondary market of ancillary businesses has filled the gap to meet a growing demand for the latest and greatest way to get high. </p>

<p>	With only $9,000 of her own savings, Hilary Dulany in 2013 started Accuvape, a vaporizer manufacturer that supplies more than 250 retailers across the country. </p>

<p>Dulany, who does cannabis consulting on the side, said the glitz and glamor is in dispensaries, but so is the competition.</p>

<p>“People don't understand that there's so many ancillary businesses out there,” she said. ”There’s so many holes in the market. You don't need to quit your job and invest your life savings into a dispensary or a grow site.” </p>

<p>Although it can be difficult to get into the dispensary business – with steep initial investments and time-consuming licensing – those who try said the potential profit in a growing market makes the endeavor worth it. State licenses can be hard to come by, but once in hand, caps on dispensaries can limit competition and provide a big payday.  </p>

<p>Nearly two years ago, Illinois approved a medical cannabis pilot program. Dispensaries plan to open this year to serve the state’s 2,600 approved patients.</p>

<p>Brad Zerman, who plans to open one of the state’s 56 dispensaries, said he sees it as a smart business investment. </p>

<p>“I’m an entrepreneur. I’ve had businesses since I was 23 years old,” Zerman said. “Everything about this business is difficult. You really just have to be up for a good challenge.” </p>

{% include e-pull-image.html image="bradzerman-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/AUDIO-With-Brad.mp3\" data-start=\"0\" data-end=\"47000\" data-plays=\"1\">PLAY</span>Brad Zerman stands in front of his medical marijuana dispensary storefront in Oak Park, Illinois. The dispensary is set to open in late 2015. (Photo by Clarissa Cooper | News21)" %}

<p>	Zerman said that expanding east is becoming increasingly attractive – both for his business and eager investors throughout the nation. Zerman is applying for a license in Massachusetts and exploring other East Coast states. </p>

<p>“We’re hoping that having been awarded a license from a really restrictive state will help our credibility,” Zerman said.	</p>

<p>	Though social attitudes are leaning more in marijuana’s favor, the majority of traditional investors – who tend to be more conservative with their choices – have kept their caution. </p>

<p>Boston-based Dutchess Capital, a global money manager of more than $2 billion in assets, moved into marijuana in 2012, one of the first companies to invest in the field. </p>

<p>Doug Leighton, managing partner at Dutchess, said it “took a very long time to get comfortable, given the federal government’s stance” on the Schedule 1 drug – a drug that has no medicinal benefits and can’t be legally bought and sold. It makes investors wary of potential federal prosecution. But the potential profits outweighed the risk.<a name="nb3"></a> </p>

<p>“We did our homework,” Leighton said. “But it’s weed. We’re not going to lose. How are we going to lose?”</p>

<h2>Headaches abound for marijuana entrepreneurs </h2>

<p>Though promises of profit have lured entrepreneurs to marijuana, making money has proven anything but easy for many. Steep initial investments sting. Heavy taxes cut into bottom lines. The know-how to navigate complex regulations can separate those who make it from those who don’t. For every successful business, many more fail, experts said. </p>

<p>	“We’ve got a room full of banker’s boxes with files from businesses who didn’t succeed,” said Woods, the Denver insurance broker.</p>

<p>Janet Sameh and her husband, Joe, had a board of investors who collectively invested about $200,000 to apply for a dispensary license in Illinois. </p>

<p>	The state denied hundreds of applicants, including Sameh. She said the process for selecting applicants wasn’t as objective as it appeared. </p>

<p>	Illinois scored applicants on points in their plans, such as location, security and financial models. Sameh said she and her group had everything ready to go. </p>

{% include e-pull-vimeo.html video=135400694 caption="Janet Sameh and her investing partners lost more than $200,000 while seeking medical marijuana dispensary licenses in Illinois. More than 200 applicants vied for only 60 licenses. Sameh and her business partners didn’t get one." %}

<p>	“We could have gone and challenged it, but for a dispensary, it didn't pay,” Sameh said. “It’s just worth it to say, 'OK, you know, in a ball game some teams win and some teams lose, you know, let’s move on.'”</p>

<p>	To even apply for a license, many municipalities require dispensary hopefuls to lease a suitable location beforehand, so owners pay rent for months without knowing for sure if they’ll ever be able to open.</p>

<p>Despite some chain dispensaries popping up in legalized states, operators find it difficult to expand their businesses across state lines. Banking solutions are few and far between, and the Department of Justice has issued strict guidelines for any bank that touches marijuana proceeds. </p>

<p>Because the federal government categorizes marijuana as an illegal, Schedule 1 drug, financial institutions are reluctant to deal with it, fearing federal repercussions. Many in the industry must stuff stacks of currency in safes and pay state and federal taxes in cash.</p>

<p>Taxes, too, are tough. On tax returns, marijuana companies can’t write off business expenses tied to the drug. Other lines of work rely on such tax breaks to make a profit.</p>

<p>	But an obscure 1980s federal tax code amendment, 280E, hammers businesses that deal in marijuana, namely growers and dispensary owners. The provision – which blocks businesses that deal in federally controlled substances from taking tax credits or exemptions – slows down growth, experts said.</p>

<p>	“280E is really a dagger at the throat of the entire legal cannabis industry,” said Steve DeAngelo, ArcView president and executive director of California’s Harborside Health Center, one of the nation’s largest medical marijuana dispensaries. “If the IRS continues to attempt to enforce 280E – it has already put many cannabis businesses out of businesses, and it could impact many more.”</p>

<p>Finding a suitable location has proven another challenge for marijuana businesses.         </p>

<p>	Strict zoning laws on the local level have generated a lucrative real estate market for compliant locations. In pot hotspots such as Denver, real estate prices have risen to reflect the growing demand.</p>

<p>“There’s a joke in the marijuana industry that it’s a marijuana tax. As soon as you tell somebody you’re in the industry, you can pretty much guarantee your rent’s going to go upward of 3 percent,” Perino said.</p>

<p>	A former commercial real estate broker, Matt Chapdelaine, co-founder of Chicago-based HerbFront, the United States’ first online cannabis real estate listing service, estimates the fair market price for marijuana-zoned properties at 150 percent of their typical market value. Only 1 to 2 percent of all properties in most areas work for marijuana, he said.</p>

<p>	The online service uses mapping technology to pinpoint locations zoned for marijuana. </p>

<p>	“There is an incredible need for this,” Chapdelaine said. “It can be really, really hard for someone to find a location that’s compliant.”</p>

<p>	The marijuana businesses that go on to do well and look to expand are often hampered by a shortage of sources for funding. Some companies have turned to public offerings to build up capital, but reputable ones are few and far between, according to industry analysts and market research.</p>

<p>Most trade over the counter – where Securities and Exchange Commission filing requirements are few – in penny stocks that don’t hold much value. They go by pot-friendly calling cards like American Green and Medical Marijuana Inc., hoping to win over small-scale investors who don’t know any better, said Michael Swartz, an analyst with Viridian Capital, a marijuana-focused investment firm.</p>

<p>But to date, only one cannabis company trades on the Nasdaq, GW Pharmaceuticals, a British company that produces medical products from cannabis.</p>

<p>	Many others are still full of over-valuations and empty promises of impossible returns, Swartz said – investor pitfalls waiting to happen.</p>

<p>	“Do your homework,” the analyst said. “It's important in this industry to do your homework. There's an opportunity, but there are a lot of challenges and risks involved. The big thing is due diligence. Any investor should be doing due diligence, but it's especially important in the cannabis industry.” </p>

<p>Bigger players could uproot smaller businesses </p>

<p>The marijuana economy of today – full of mom-and-pop shops and small-scale investors – could look a lot different a few years from now. </p>

<p>Industry experts liken pot today to alcohol in its early post-Prohibition years, full of early adopters trying to corner their own slice of the market before the bigger players move in. </p>

<p>There are interests within more than a dozen states pushing legalization initiatives in the 2016 election. Though the majority haven’t yet gathered enough signatures to make it on the ballot – it’s still early – the industry expects more states to follow the lead of Alaska, Colorado, Oregon and Washington in legalizing marijuana.  </p>

<p>As the market continues to grow – ArcView projects a $10.8 billion legal sales market by 2019 – interest from bigger players may pick up. </p>

<p>“You're going to have mass production, and you're going to see that in cannabis,” Swartz said.</p>

<p>	Now, banks and other larger companies are hesitant to enter, largely because marijuana remains illegal to the federal government, which allows the government to prosecute marijuana business, if it chooses to do so.</p>

<p>	If the federal government does make marijuana legal, big changes are in store for the marijuana industry, said Dayton, the CEO of ArcView. He expects other highly regulated industries, like restaurant chains and food manufacturers, to snap up marijuana companies once it’s safer to do so.</p>

<p>	“Think of the wine market,” he said. “Cannabis is just like that. Sure, there are the big producers, but there’s also the small and the medium size. You’re certainly going to see some consolidation.” </p>

<p>	A battle over branding looms over cannabis, Swartz said. The industry is still in its infancy, too young to have the marijuana equivalents of the Apples and the Walmarts and the Coca-Cola. Especially with restrictions placed on advertising most everywhere, it’s too soon to tell which early starters will become go-to brands, but it looks to be a matter of time until consumer favorites emerge.</p>

<p>	“It's going to be the brands,” Swartz said. “It's going to be the Bacardi, the Grey Goose. That's where you're going to see the biggest market. It's going to be about quality, but what's even more important is that brand.”</p>

<p>Without a solid and well-known speciality, mom and pop marijuana businesses will be swallowed up once bigger players move in, he said – it’s just a matter of time. </p>