---
layout: story
title: "From UFC fighter to marijuana grower, Steve Cantwell prepares to start selling pot in Nevada"
byline: "Alexa Ard"
credits: Alexa-Ard
hero: nevada-ufc-sidebar
hero-credit: Kathryn Boyd Batstone 
permalink: /from-ufc-fighter-to-marijuana-grower-steve-cantwell-prepares-to-start-selling-pot-in-nevada/
slug: nevada-ufc-sidebar
socialimage: nevada-ufc-sidebar-768.jpg
blurb: "Cantwell now owns Green Life Productions, a cultivation site in Nevada that is one of the closest to having product ready to sell to dispensaries."
soundcite: no
---

<p>PAHRUMP, Nev. — For as long as he can remember, Steve Cantwell has always felt tightly wound, just looking for a reason to punch somebody in the mouth.</p>
<p>He got into fights. And by 16, his school kicked him out. He moved into a gym to train to become a professional fighter and eventually made it to the UFC.</p>
<p>But when he was 12, he said a friend introduced him to something that lessened his desire to fight: Cannabis.</p>
<p>“I noticed when I smoked weed, I never got in fights,” the 28-year-old said. “It was the only time in life where I wasn't getting in trouble in school.”</p>
<p>His passion for the plant grew from there. And after Nevada authorized a system to  provide a legal way for medical cardholders to buy marijuana in 2013, he made a career out of that passion.</p>
<p>Cantwell now owns Green Life Productions, a cultivation site in Nevada that industry insiders say is one of the few that's almost ready to sell to dispensaries.</p>
<p>Few dispensaries in the state have product yet because the state had not set its regulations for pesticides until recently. For half a year, cultivators waited on officials to make those decisions.</p>
<p>What sets Green Life apart from other cultivators is that it doesn’t use pesticides.</p>

<h2>Starting a business</h2>

<p>The outside of the cultivation site in Pahrump resembles a prison yard.</p>
<p>A metal fence surrounds the 15,000-square-foot indoor facility, and three Rottweilers – Alex, Maya and Killer – roam the property. Workers need badges to enter and get around the building. The white walls inside have no embellishment besides security signs warning that everything is under surveillance. A guard sits near the entrance at the check-in desk.</p>
<p>While Cantwell oversees the cultivation, he relies on his wife, Kouanin Villa, to handle the business side. Villa estimated that the owners have invested about $1.8 million into the business.</p>

{% include e-slideshow.html uniqueid="Steve_Cantwell" %}

<p>Cantwell and Villa became medical marijuana cardholders years ago, allowing them to grow their own pot at home. They each donated 12 plants to Green Life, the maximum a cardholder can grow in Nevada, and cloned them to make more than 1,000 at the cultivation site.</p>
<p>Cantwell said he puts in 18 hours a day and predicted they’ll start selling product to dispensaries by October.</p>
<p>“What we're doing here is what I consider beyond organic,” Cantwell said. “We're using natural biological systems that happen outdoors that have been evolving for millions and billions of years and we're taking them indoors, and we're creating a much healthier product.”</p>

<h2>Seeking relief</h2>
<p>Cantwell transitioned from amateur fights on the schoolyard to nailing techniques in jiujitsu, ground fighting and kickboxing. By 18, he started his pro fighting career.</p>
<p>Cantwell won his first mixed-martial arts UFC <a target="_blank" href="http://www.fightersonlymag.com/content/news/15800-snap-top-five-mma-arm-breaks">fight</a> — in which he broke his opponent’s arm — at 21. He was much younger than the organization’s average age of 29.5.</p>
<p>“When you lay someone down on their face in front of everybody you've ever known and there's millions of people watching, you get higher than you've ever been,” Cantwell said. “It's like you're on top of the world times a bazillion.”</p>
<p>Because Cantwell entered pro fighting so young, he said his body wore down much sooner than his competitors. He suffered from knee injuries, arthritis and broken noses.</p>
<p>But Cantwell avoided taking pain pills because he said his family has a predisposition for addiction to them.</p>
<p>“Doctors were handing (pain pills) out like candy, and some very close people to me unfortunately trusted their doctors, and they got hooked on pain pills before they knew it,” Cantwell said. “And it just drastically changed the course of their lives.”</p>
<p>He said marijuana eased his pain. In addition to reducing inflammation, he forgot about the aches with each puff.</p>
<p>“I did need relief, and the plant was the answer,” he said.</p>

{% include e-vimeo.html video="134450191" caption="Steve Cantwell, a former UFC fighter, is a co-owner of Green Life Productions, a permaculture focused cultivation site in Pahrump, Nevada. (Video by Kathryn Boyd-Batstone | News21)" %}

<h2>Keeping secrets</h2>
<p>Cantwell said he never smoked to be cool. As he grew older, he wanted to portray himself as a clean-cut man and someone kids could admire. At the end of the day, he still believed in cannabis, but few people knew he used it.</p>
<p>The fighter didn’t want people to look down on him because he smoked marijuana. And he especially never wanted people to “blame the reefer.”</p>
<p>“If a regular person stumbles, no big deal, people stumble,” Cantwell said. “But if people know you smoke cannabis and you stumble, then it's because of the cannabis. I never wanted people to blame the reefer for my mistakes.”</p>
<p>There were occasions where Cantwell did limit his smoking, like when he wanted to keep his lungs sharp while in season for his school’s football team or while fighting. He even hid it from his wife the first five years they dated.</p>
<p>“When I first met Kouanin, she was this precious little gym girl that all the fighters had known since she was a little girl, so she was off limits to everybody,” Cantwell said. “She was a goody little two shoe, never did a drug in her life, never drank a beer, one of those types.”</p>
<p>Cantwell “tightened” up his act and limited his smoking.</p>
<p>“It did strain the relationship because I could never smoke around her,” he said. “I had to hide it, and that's never healthy for any relationship.”</p>

<h2>Becoming legal</h2>
<p>Cantwell’s smoking came to light in his relationship when he was out one night on Las Vegas Boulevard with Villa and a group of friends who smoked marijuana. He said Villa also gave pot a try that night.</p>
<p>“I couldn’t break up with the guy, but it was hard,” said Villa, who married Cantwell in November 2014. “It was just like trying to understand why he smoked.”</p>
<p>Villa said she grew up a strict Catholic family, and she put cannabis in the same category as heroin and cocaine. But she began learning more about the plant to better understand it.</p>
<p>Since 2001, Nevada has allowed people with qualifying conditions — <a target="_blank" href="http://www.safeaccessnow.org/becoming_a_patient_in_nevada">everything from seizures to post-traumatic stress disorder</a> — to apply for a marijuana card and grow their own pot at home.</p>
<p>Cantwell became a medical marijuana cardholder at 24. He told Villa pot could help her sleep and ease the vertigo she sometimes experienced. It worked for her, and the nausea she felt as a result of the vertigo qualified her to become a patient. She became a cardholder two years ago and takes cannabidiol oil that her husband makes for her.</p>
<p>Cantwell said he still runs into people who disapprove of his smoking. He doesn’t try to change other people’s opinions on the topic.</p>
<p>What’s most important for him, he said, is that he’s not hiding it anymore and calls himself an “open book.”</p>

<h2>Robot to grow-bot</h2>
<p>Cantwell, nicknamed “The Robot” during his fighting career, retired from the UFC at 25. After that, he coached fighters and trained to become a stunt man. But he dreamed of getting into the marijuana business.</p>
<p>Cantwell actually grew his first plant when he was 12. His mom accidentally killed it when she stuck a lit incense stick in the same container as the marijuana. The mistake caused arguments between the two for weeks, he said.</p>
<p>He got back into growing when he became a cardholder.</p>
<p>He initially tried to start a marijuana business in Las Vegas, but the competition was stiff. He figured it would be easier to open something in his hometown. He also had trouble finding co-owners who would let him grow without pesticides.</p>
<p>“You can't say you have the solutions for all these problems while contributing to them,” he said. “I can't sit there and grow with chemicals and say I have a product that heals their problem that these chemicals just caused. That doesn't make any sense in any world.”</p>
<p>Mike Floyd, who used to sponsor Cantwell as a fighter, signed on as one of the five owners of Green Life Productions.</p>
<p>“He really has a passion for ... medical marijuana and everything that goes into it, making sure that it’s a truly medicinal type drug,” Floyd said.</p>
<p>Before a fight, Cantwell always envisioned himself winning, and he brings that same mentality to his marijuana business.</p>
<p>“When you're laying in bed the night before the fight or weeks before the fight, you're visualizing winning, and winning only, and what it takes to win,” Cantwell said. “So same with this facility. I had that same mindset, all positive, all focused on what I have to do and doing that.”</p>

{% include e-pin.html %}