---
layout: story
title: "Marijuana-related businesses in Nevada race to open after regulatory delays"
byline: Alexa Ard and Michael Bodley 
credits:
  - Alexa-Ard
  - Michael-Bodley 
hero: nevada-hero
hero-credit: "Kathryn Boyd-Batstone"
permalink: /marijuana-related-businesses-in-nevada-race-to-open-after-regulatory-delays/
slug: nevada
socialimage: nevada-hero-768.jpg
blurb: Although voters legalized medical marijuana in a 2000 initiative, Nevada didn’t establish a system to distribute cannabis then.  When Nevada officials finally agreed to create a medical marijuana system in 2013, they set out to establish some of the most stringent rules in the country.
soundcite: no
section: medical
---

{% include e-sections.html slug="nevada" %}

<p>LAS VEGAS – More than 14 years have passed since Nevada legalized medical marijuana. But the only legal option for the state’s 9,000-plus cardholders has been to grow at home. The only legal pot that’s been sold in a retail store is in the Reno suburb of Sparks.</p>

<p>Everywhere else, the wait continues. </p>

<p>One dispensary in the Las Vegas area has been ready for months. The only thing missing is product. Employees field calls every day from would-be customers asking when opening day will come. </p>

<p>First, it was February, then March, then maybe May. Now, no one knows – not state officials, not dispensary owners, not patients. </p>

{% include e-sidebar.html slug="nevada" %}

<p>Although voters legalized medical marijuana in 2000, Nevada didn’t establish a system to distribute cannabis. Illegal delivery services sprung up to fill the gap. </p>

<p>Nevada officials finally agreed to create a medical marijuana system in 2013. But they established some of the most stringent rules in the country, including strict lab testing standards to monitor pesticides. While bureaucrats sorted through making the rules, marijuana businesses began setting up shop. </p>

<p>Then they waited. </p>

<p>Testing labs have turned to trials with coffee and tea to keep the cogs of multimillion-dollar equipment turning. Football field-sized cultivation sites contain little more than concrete. And the bank accounts of businesses dwindle a bit more each day.</p>

{% include e-vimeo.html video="134746036" caption="Kathy Gillespie co-owns a medical marijuana cultivation site, Nevada Pure, and said she expects to have plants growing by August 2015. " %}

<p>“We're losing thousands and millions of dollars in tax revenue because of the delays, unnecessary delays, because everybody is passing the buck,” said state Sen. Richard “Tick” Segerblom, an outspoken marijuana advocate based in Las Vegas. </p>

{% include e-pull-image.html image="KBB-Vegas-Tick.jpg" caption="State Sen. Richard “Tick” Segerblom is an outspoken marijuana advocate in Nevada. (Photo by Kathryn Boyd-Batstone | News21)" %}

<p>	Nevada is one of 23 states, plus Washington, D.C., to have legalized medical marijuana. It’s also among 13 states that may decide whether to legalize recreational pot in the next election cycle. </p>

<p>Marijuana advocates see the industry as another potential boon for tourism, especially if the state approves recreational use. But Nevada also has potential for big dollars from its medical program because it’s one of the few states that has a reciprocity clause, meaning cardholders from other states can purchase pot when visiting.  </p>

<p>Bordered by medical marijuana states Arizona, California and Oregon and with recreational states Colorado and Washington nearby, advocates say Nevada is in an ideal place. But the state has yet to set up a reciprocity system as well. </p>

<p>Outsiders may have expected Nevada to move quickly to take advantage of the burgeoning national industry. After all, Las Vegas has become the unofficial capital of gambling, sex and vices of all varieties. Why not pot?</p>

<p>Nevada officials said they don’t want to rush the medical marijuana dispensary process. They’ve seen the costly mistakes made by states like Washington, which had to go back and tighten too-lenient regulations. For example, Washington had to establish provisions for sale and set possession limits well after it legalized medical marijuana in 1998.</p>

<p>“I’m glad the dispensaries aren’t open yet,” said Leslie Bocskor, founding chairman of the <a href="https://www.facebook.com/NVCIA" target="_blank">Nevada Cannabis Industry Association</a>, a trade group. “I’m glad because this is too important to rush. We have to remember that what we’re really trying to do here is not just set up an industry, but what we’re trying to do here is stop the black market. We’re trying to reduce harm. We’re trying to change the way people see this.”</p>

{% include e-slideshow.html uniqueid="Nevada-Lab" %}

<p>	But others say the process could backfire. Safety – and the slow speed that accompanies it – has a cost, and these testing regulations and constant delays could lead to higher prices for the product.</p>

<p>Jason Sturtsman, a member of the state’s laboratory testing committee, said he wants to get the industry open first and then fine tune regulatory details.   </p>

<p>“Because right now, it’s unacceptable for how long the process is taking,” he said. “Either prices will be driven up really high and that cost will be driven on to patients, or the black market could take on a larger role.”</p>

<p>Starting from scratch hasn’t been easy, said Laura Freed, deputy administrator of the agency that oversees the medical marijuana program.</p>

<p>“We’re trying to set up a sturdy and enforceable regulatory regime, but it’s a little bit difficult without any guidance from the federal government, just like any other state that is having the same problem,” Freed said. </p>

<p>At the same time, an industry advocate pointed out that no one has ever died from puffing a joint or ripping a bong.<a name="n1"></a> </p>

<p>“I’m a big fan of testing. I'm a big fan of labeling, and I'm a big fan of mandating that,” said Troy Dayton, CEO of the ArcView Group, a marijuana industry investment firm. “At the same time, one of the challenges that this industry faces as it moves out of the shadows and into the light is that there is a tendency to massively overregulate this as if it’s plutonium or something.”</p>



{% include e-parallax.html image="vegas-sign" caption="Beyond the big city lights, families have raised concerns over how marijuana might impact the community.  (Photo by Alexa Ard | News21)" %}

<h2>Nevada officials try to ‘clean up’ image</h2>

<p>Trucks with ads of topless women saying “call now” zip up and down the Strip. For the New Year’s holiday, nightclub Hakkasan in the MGM Grand offered what it labeled the world’s most expensive bottle service at $500,000. The Bellagio’s Bobby’s Room hosts a poker game with a minimum $20,000 buy-in.</p>

{% include e-pull-pin.html %}

<p>It’s this kind of “do what you want” – as long as you can pay for it – lifestyle that earned Las Vegas’ reputation as Sin City, but it didn’t happen overnight. </p>

<p>Nevada first legalized gambling, a popular pastime in mining camps, in 1869. The state criminalized gaming in 1910, but even then, people continued laying down bets in speakeasies. Eventually, state legislators saw the industry as a way to attract tourists and help recover from the Great Depression.</p>

<p>	The state also began to offer other incentives to visit. Prostitution is legal in less-populated counties that exclude Las Vegas and Reno, to the north. A thriving illicit sex trade still does business in Las Vegas. Nevada’s lenient divorce laws and quickie marriages also draw people. </p>

<p>Tourism in the state has grown into a multibillion-dollar industry – as has gaming, which brought in <a href="https://www.scribd.com/doc/272408635/FY2014-GCB-Information-Sheet" target="_blank">$11.2 billion</a> last year. 	</p>

<p>Some advocates view the addition of marijuana to Vegas’ carousel of attractions as the obvious choice. </p>

<p>Yet when it comes to social policy and politics, there’s more to Nevada than the four-mile  stretch along Las Vegas Boulevard. </p>

<p>The nation’s fifth-largest school district – with 336 schools, 35,000 employees and a $5.2 billion budget – is based in Vegas. Suburban homes in Henderson, Summerlin and North Las Vegas surround the city. </p>

<p>Out of the glow of the big-city lights, families have raised concerns over how marijuana might impact the community. Though southern Nevada’s Clark County, which includes Las Vegas, leans more liberal when it comes to public policy, the northern portion of the state has historically used its political sway to push conservative values.</p>

<p>Jennifer DeLett-Snyder, executive director of the nonprofit anti-drug organization <a href="http://www.jtnn.org/" target="_blank">Join Together Northern Nevada</a>, said families didn’t think as much about marijuana when it was grown at home, but the prospect of retail shops has pushed pot to the forefront.</p>

<p> “This is not a benign drug,” DeLett-Snyder said. “It’s a hard drug. They don’t want this near their house. It’s impacting them.” </p>

<p>Medical marijuana hasn’t had an easy path to legalization in Nevada. </p>

<p>Voters first approved the medical marijuana effort in a preliminary 1998 vote. The Los Angeles-based group Americans for Medical Rights led the $2 million campaign.</p>

<p>A second vote in 2000, which won 65 percent of the vote, gave medical marijuana final approval in Nevada. It went into effect the following year. </p>

<p>But when Nevada had the opportunity to become the first state to also legalize recreational use in 2002, voters turned it down with 61 percent voting against.  </p>

<p> “Nevada is liberal when it comes to immediate vices of the early 20th century such as liquor, gaming, prostitution and even divorce,” said William D. Rowley, a history professor at the University of Nevada, Reno. “(People from out of state) think immediately … that anything goes in Nevada. Well, not everything goes as far as drugs in Nevada. The state is not liberal on that.” </p>

<p>Bill Robinson, an economics professor at the University of Nevada, Las Vegas, said medical marijuana cuts to the core of an evolving identity crisis between Sin City’s raunchier roots and its efforts to project a more clean-cut image to reel in more families and conservative businesses.</p>

<p>“We advertise, ‘Come to Vegas. Party, play and no one else will know about it,’ but the political and regulatory environment tries to pretend that's not what we are, that people don't come here because it's sex and drugs and rock and roll.’”</p>

<p>The state has tried to clean up its image over the years. </p>

<p>In 1971, it banned prostitution in the largest cities, only allowing it in certain rural counties. It strictly regulates gaming: Officials created the Gaming Commission and the Gaming Control Board to and monitor the industry.<a name="n2"></a> </p>

<p>While setting up the state’s medical marijuana system, state and county officials took pains to make sure gaming and marijuana didn’t mix. All marijuana business applicants had to undergo background checks to ensure they did not have ties to the gaming industry. </p>

<h2>Pesticide regulations slow down process </h2>

<p>Euphoria Wellness sits in a shopping center about 8 miles from the Las Vegas Strip.  The dispensary received its county and state certifications in 2014 and finished construction in January. Its employees went through nine weeks of training to learn about the products and software and how to educate patients on different strains. </p>

<p>The dispensary looks like a cross between a bank, a jewelry store and a doctor’s office. Ten white leather chairs encircle the waiting room. Thick glass separates the front desk and retail area, and security cameras peer down from above. </p>

{% include e-pull-image.html image="KBB-Vegas-Euphoria.jpg" caption="Darlene Purdy is the managing director of Euphoria Wellness, a medical marijuana dispensary 8 miles from the Las Vegas Strip. Store officials said they have been ready to open since March. (Photo by Kathryn Boyd-Batstone | News21)." %}

<p>The only thing customers can buy is Euphoria-branded memorabilia like T-shirts, hats and bags. But not pot.</p>

<p>“We have patients calling on a daily basis wondering when we're going to be open, wanting more information, trying to understand more about the laws,” said Darlene Purdy, the managing director of Euphoria Wellness.	</p>

<p>After the state-approved sales system took effect in July 2013, officials spent the rest of the year looking at what other states had done. </p>

<p>The state established an application system for dispensary permits the following year, but momentum slowed. </p>

<p>Nevada originally established strict standards by trying to regulate pesticide levels in cannabis as if it were meat and dairy. Experts said the plant couldn’t possibly meet such regulations. </p>

<p>A committee of industry insiders met for months to recommend standards. The Legislature brought in the state Department of Agriculture, and it released a list of permissible pesticides. The state’s health division, which oversees the medical marijuana program, then released its own, separate list, giving labs official guidance. </p>

<p>The government’s indecisiveness may hurt cultivators who started early. </p>

<p>“Many of these people started growing months ago, before we were told to provide a list (of pesticides),” said Lynn Hettrick, deputy director of the Nevada Department of Agriculture. “They may have used products in between – we have no idea – that are not on the list … They’re obviously concerned about what will happen if they submit a test and they have a product that’s not on the list.”</p>

<p>Some in Nevada have started growing without pesticides. </p>

<p> Steve Cantwell is a former UFC fighter and owner of Green Life Productions in Pahrump, west of Vegas near the California border. He and his wife both have medical marijuana cards and donated 12 plants each to their facility. He said he cloned them to make more than 1,000 plants. He’s one of the few with plants in the ground, and he plans to sell his self-described organic marijuana to dispensaries as soon as it’s ready in October.</p>

<p>	“Everyone and their mom has been calling us,” Cantwell said. </p>

<p>Even with the pesticide issue resolved for now, it’s still going to take the cultivators who have waited on regulations about four to six months to harvest. </p>

<p>Dispensaries can make a one-time purchase from patients who grow their own. In fact, Euphoria Wellness considered doing so and even had 12 samples tested. </p>

<p>But Allison Gigante, assistant operations manager of Clark County’s Department of Business License, said county officials believe that because patients can only possess 2.5 ounces of usable marijuana, they can’t sell more than they can possess. </p>

<p>Purdy said the business decided against purchasing such a small amount from patients because that wouldn’t be enough to stock their shelves.</p>

<p>Only cultivation sites can purchase the whole plant from patients.<a name="n3"></a> </p>

<p>And that’s how Silver State Relief, the first to legally sell marijuana in Nevada, was able to open July 31. The business, which also has a cultivation license, bought about 200 plants from cardholders across Nevada while simultaneously getting its dispensary ready.</p>

<h2>Home growers, delivery services fill gap  </h2>

<p>	Cultivation experts say growing marijuana at home is a painstaking process that demands a green thumb forged from trial and error. Even a basic indoor setup can run hundreds if not thousands of dollars. </p>

<p>Angel Piza, a slender, bespectacled local looking for a job in the marijuana business, credits cannabis with weaning him off a “numbing drug cocktail” of Ritalin, Seroquel and Trazodone, intended to treat his ADHD and anger issues.</p>

<p>A car hit him while he crossed the street in 2008. A metal femur and a bunch of bolts now hold his leg together. The pain from the accident allowed Piza to obtain a medical marijuana card later – his first legal foray with the drug after years in and out of the illegal market. </p>

<p>The 25-year-old Las Vegas resident has grown frustrated with a system that he said doesn’t understand patients or how marijuana cultivation works. </p>

<p>The law says that no matter the source, cardholders can only possess up to 2.5 ounces, anywhere, in a two-week period, along with up to 12 plants. </p>

<p>But he said a healthy plant can produce more than the legal amount of pot, so each one of a dozen blossoms could break the law. </p>

<p>“Even a baby plant could grow up to 2 feet within those three months and give you 3, maybe 4 ounces off of one plant,” he said, shaking his head. “So then, automatically, off of just one, you're breaking the law. So that, to me, is targeting us, even though we're sick.”</p>

<p>	Many of those reluctant to take on the challenge of growing at home have turned to delivery services. But law enforcement has begun to clamp down on the businesses that cropped up in the absence of a legal dispensary system.</p>

{% include e-mid-image.html image="KBB-Vegas_01.jpg" caption="Alex, who asked that his last name not be used, runs Emerald Avenue, a marijuana delivery service in Las Vegas. (Photo by Kathryn Boyd-Batstone | News21)." %}

<p>In February, authorities shut down one operation. Police busted another in March.	Delivery service operators said they’re delivering on borrowed time, waiting for their grace period to run out and law enforcement to move in.<a name="n4"></a> </p>

<p>Michael Rodriguez, a spokesman for the Las Vegas Metropolitan Police Department, said that although police will enforce laws against delivery services, they’ve become more concerned with protecting residents working in the legal medical marijuana establishments.</p>

<h2>State has “massive potential” for pot tourism</h2>

<p>All the turmoil has left patients unsure of where they stand in the short term, but advocates said they have high hopes for the future. </p>

<p>Once dispensaries open, patients will have to stop growing under the law. But there are some exceptions: Patients who grew legally before the law in 2013 can continue, and those too sick to travel to a dispensary can keep growing, as well. And if a dispensary can’t provide a certain strain a patient needs for a particular ailment, the patient can keep growing, too. </p>

<p>Jennifer Solas, president of patient advocacy group WeCan, has worked with patients to stockpile strains they plan to keep out of the hands of dispensaries. Calling home growth a “fundamental right,” Solas said the state should allow patients who have spent years perfecting their strains to continue. </p>

<p>“Nevada is such a rebel state,” she said. “We want to do this stuff ourselves. We want to be able to grow on our own.” </p>

<p>No one knows just how much dispensaries will charge when marijuana does hit the market. But the cost of getting the system up and running, plus lab testing fees, may keep legal marijuana out of reach for poorer patients, Solas said. She predicts the black market will thrive if the state doesn’t legalize recreational use. </p>

<p>“They can't get the price low enough on the medicine so that people can afford it,” Solas said.</p>

<p>Solas pegs the going black market rate for an ounce at $250, compared to her estimates of $400 to $500 for the same amount of marijuana sold in the store.</p>

<p>	Despite a shaky timeline, Segerblom, the legislator, and Purdy, the Vegas dispensary director, believe the state has massive potential for tourism if voters legalize recreational marijuana.</p>

<p>“It's the next evolution as far as something that is perceived to be illegal, something that's a little bit wild, which is our reputation,” said Segerblom, a Democrat who also co-chairs the campaign for recreational marijuana. “So if we can combine those two with gaming, with our hotels, with our entertainment, and bring people from around the world, it's a way to attract people that aren't coming here already.”</p>

<p>	A 2013 <a href="http://www.rannv.org/documents/23/Release February 13 Survey.pdf"  target="_blank">poll</a> on behalf of the Retail Association of Nevada indicated 56 percent of the 500 respondents said they favored legalizing marijuana and using the tax revenue to fund education. </p>

<p>If the 2016 initiative passes, dispensaries are in prime position to capitalize on a recreational marijuana system. Only licensed medical facilities can sell recreationally for the first 18 months. </p>

<p>Segerblom said he expects Nevadans to pass recreational marijuana. And once that happens, it would lure tourists with a temptation Las Vegas hasn’t seen since it legalized gaming. He said he envisions an Amsterdam-like atmosphere complete with hotels offering smoking clubs and “marijuana girls walking around the casino handing out free marijuana.”</p>

<p>“It's just one of those things where everyone wants to go to Nevada, buy a joint, buy a T-shirt, get a picture in front of a dispensary, do something wild, but just take it back home and say, 'I went to Las Vegas, and went crazy.'”</p>

