---
layout: story
title: "East New York: It's still law enforcement target for marijuana possession"
byline: "Lauren del Valle"
credits:
  - Lauren-del-Valle
hero: newyork-hero
hero-credit: Jessie Wardarski
permalink: /east-new-york-still-law-enforcement-target-for-marijuana-possession/
slug: /east-new-york-still-law-enforcement-target-for-marijuana-possession/
socialimage: newyork-hero-768.jpg
blurb: "The New York City administration and police decriminalized minor marijuana possession, but the racial disparity within the violations persists. Stop, question and frisk incidents are at an all-time low and The Brooklyn District Attorney."
soundcite: no
section: law
pinfooter: yes
---
<p>NEW YORK – Young African American and Latino mothers with their children walk down the bustling blocks of Liberty and Fulton in the East New York section of Brooklyn. Boys’ sneakers scuffle on the cement courts at the park where they play a pickup basketball game. </p>

<p>East New York is home to nearly 175,000 people. Less than 10 percent are Caucasian and most are younger than 45 years old. Many of them seldom leave Brooklyn. About 35 percent live below the poverty line and only about 8 percent have earned a college degree. The 75th Precinct, which encompasses the area, has accounted for the second-highest number of marijuana possession summons in New York in 2015, similar to the years when it accounted for the most marijuana arrests.</p>

<p>Warm summer weekends in East New York usually mean block parties and young men on the porches of their row homes smoking joints. The police who patrol the 75th Precinct, the second-largest in the city, often issue these young men minor marijuana violations, which land them at the county’s central bookings. Often, they are ordered to pay a fine.</p>

<p>Although Mayor Bill de Blasio decriminalized marijuana possession in November 2014, police still issue numerous violations for public marijuana use in low-income minority neighborhoods of New York City such as East New York.</p>

{% include e-vimeo.html video="135686419" caption="Many New York communities are still seeing the effects and repercussions of the police technique, “stop, question and frisk,” which often led to an arrest for the possession of marijuana." %}

<p>Citywide, the police issued more than 3,800 marijuana-related summonses alone in the first three months of this year — a pace that would exceed the total of 13,377 in 2014. Small-scale marijuana possession violations are the fourth-most frequent summons charges, after consumption of alcohol, disorderly conduct and public urination. </p>

<p>Officers patrol the blocks of East New York, peeking into yards and on porches, according to lifelong resident Chris Banks, executive director of East New York United Concerned Citizens Inc. The patrols lead to frequent citations for small-scale marijuana use and increasing tension between police and neighborhood residents, he said. </p>

<p>“We do know in East New York, there are a lot of people that do smoke and use marijuana. So obviously, there’s going to be police interaction that make up a lot of the interactions outside of the plethora of other issues,” Banks said. “It’s common, social — it’s become part of the culture. …Something like this, people shouldn’t be stigmatized.”  </p>

<p>“They’re putting officers in our community — a lot of rookie officers that don’t know nothing about East New York,” said Banks, 32, who is also the vice chairman of the 75th Precinct community council. “They have no experience dealing with a community like ours, and they come out here and it’s like they think it’s the Wild Wild West.”</p>

{% include e-parallax.html image="chris-banks" caption="Chris Banks, executive director of East New York Concerned Citizens Inc., makes a call while at El and John’s Barbershop in Brooklyn. (Photo by Jessie Wardarski | News 21)" %}

<p>When an altercation with the police happens nearby, neighbors don’t hesitate to knock on Banks’ door for help even on Sunday, he said. </p>

<p>New York police citations for unlawful possession of small amounts of marijuana generally take two forms: desk appearance tickets and summonses. A ticket requires authorities to hold an individual at the precinct during processing. A summons means a court date is issued at the scene. According to Tim Pearson, president of the New York chapter of the National Organization of Black Law Enforcement, a marijuana-related incident often results in a desk appearance ticket rather than a summons when the individual does not have personal identification on hand. For both, the fines for unlawful possession and use of marijuana range from $100 to $250 plus 15 days in jail, depending on factors like criminal history. </p>

<p>Citywide, unlawful marijuana possession has been the most common desk appearance ticket charge since 2004, when NYPD “stop, question and frisk” practices contributed to arrests for marijuana possession, according to the city's 2014 criminal court annual report. Marijuana-related tickets and summons fines generated more than $5 million for New York state and city coffers in 2014, according to a News21 analysis of criminal court data. </p>

<p>“It’s been an ongoing issue since the (decriminalization) law has been in effect that they are being taken down to the precinct simply because they don’t know their rights,” said Rev. Dr. Kevin McCall, who helps the Brooklyn and Harlem communities navigate the criminal justice system as the crisis counselor for Al Sharpton’s National Action Network. </p>

<p>“This is a new form of stop and frisk that they do to be able to at least bring someone in to write down their quota at the end of the week. We have seen an increase in this, especially in the summertime,” McCall said.</p>

<p>“They wanted to give it some type of cosmetic change …  to me, it’s more punitive,” Banks said.  “You’re going after impoverished folk who they know can’t afford to pay these summonses.”</p>

{% include e-parallax.html image="kevin-mccall" caption="The Rev. Dr. Kevin McCall, chapter president for the National Action Network in Harlem, New York, talks about marijuana use amoung youth in the community. (Photo by Jessie Wardarski | News 21)" %}

<p>Responding to such concerns, Brooklyn District Attorney Ken Thompson threw out more than 1,000 of the estimated 3,300 marijuana-related desk appearance tickets issued by NYPD officers between July 2014 and April of this year, according to Thompson's spokesman.  </p>

<p>Thompson is doing so to ensure “individuals, and especially young people of color, do not become unfairly burdened and stigmatized by involvement in the criminal justice system for engaging in nonviolent conduct that poses no threat of harm to persons or property,” according to a policy memo released last July. Thompson’s spokesman said he plans to continue declining to prosecute many low-level marijuana cases. </p>

<p>De Blasio ran on a platform committing to decriminalizing marijuana possession, yet authorities arrested more than 15,000 people for marijuana during the first seven months of his administration. He ordered Police Commissioner Bill Bratton to replace misdemeanor arrests with summonses. Of those arrests in the beginning of 2014, 86 percent were blacks and Latinos, according to Harry Levine, a professor of sociology at Queens College.</p>

<p>“The new marijuana arrest policy Mayor de Blasio rolled out last November is squarely aimed at reducing unnecessary arrests that could saddle young people with criminal records for minor violations – and the NYPD’s 42 percent decrease in marijuana arrests clearly reflects this policy at work,” said Monica Klein, the mayor’s deputy press secretary, in a statement to News21. </p>

<p>“The mayor’s marijuana policy is one of the many reforms this administration is rolling out to strengthen the relationship between police and community while keeping New York City the safest big city in the country,” she said.</p>

<p>During the “stop, question and frisk” era of New York policing since the early 1990s, in which officers had wide <a name="nymap"></a>discretion when deciding whether they had reasonable cause to stop and search someone, marijuana-related incidents occurred disproportionately in East New York and other Brooklyn neighborhoods with similar demographics, such as Brownsville and Canarsie.</p>

<iframe width="100%" height="520" frameborder="0" src="https://news21.cartodb.com/viz/10e8d54c-3a00-11e5-907e-0e018d66dc29/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<p>After de Blasio downgraded marijuana possession enforcement in 2014, the number of reported “stop, question and frisk” incidents dropped from nearly 700,000 stops in 2011 to just over 46,000 in 2014. The incidents involving marijuana decreased from more than 30,000 in 2011 to about 2,000 in 2014.</p>

<p>More than 1,300 of the people cited for marijuana possession in 2014 were black and nearly 600 others were Hispanic, <a name="nychart"></a> according to the NYPD Stop, Question and Frisk Database.   </p>

{% include e-interactive-js.html path="mj-sqf-monthly" %}

<p>“Mostly stop and frisk has been over with ... They’re backing off," said former Brooklyn North NYPD Officer Aurelio V. Grillo Jr. "They don’t want to be sued. They don’t want to be disciplined. So they take a backseat now and just don’t do it. Crime's going up, they can lie to you all they want.” </p>

<p>Grillo policed high-crime precincts in minority communities as an officer in northern Brooklyn.  </p>

<p>“It is a good tool, but the recent police department put too much pressure on these young cops to go out there and use this stop and frisk and record how many they were doing and they were giving them quotas. They’ll tell you they weren’t. They call it ‘productivity’ now … They’re young cops. They’re impressionable. They don’t have enough training.“</p>