---
layout: tshirt
permalink: /from-seed-to-sale-oregon-grows-on-its-reputation-for-prime-pot/
tshirt: yes
title: "From seed to sale, Oregon grows on its reputation for prime pot."
credits:
  - Nick-Swyter
  - Kathryn-Boyd-Batstone
slug: oregon
socialimage: OREGON-HERO-768.jpg
blurb: "Welcome to Oregon, where possession and home-growing became legal on July 1, but sales won’t be legal until sometime next year — after the state makes new rules."
pinfooter: yes
---
{% include tshirt-carousel.html %}
{% include storyfooter.html %}