---
layout: story
title: "Government restrictions, lack of funding slow progress on medical marijuana research"
byline: "Jayson Chesler and Alexa Ard"
credits:
  - Jayson-Chesler
  - Alexa-Ard
hero: research-hero
hero-credit: Alexa Ard 
permalink: /government-restrictions-lack-of-funding-slow-progress-on-medical-marijuana-research/
slug: research
socialimage: research-hero-768.jpg
blurb: "Federal health agencies spend millions on marijuana science. But most money is spent on addiction research."
soundcite: no
section: science
---

{% include e-sections.html slug="research" %}

<p>Research on marijuana’s potential for medicinal use has been hampered for years by federal restrictions, even though nearly half of the states and the District of Columbia have legalized medical marijuana in some form.</p>

<p>An analysis by News21 shows that $1.1 billion of the $1.4 billion that the National Institute of Health spent on marijuana research from 2008 to 2014 went toward research on marijuana abuse and addiction. Only $297 million was spent on its effects on the brain and potential medical benefits for those suffering from conditions like chronic pain.</p>

<p>“We don't have new things to treat for pain,” said Dr. Todd Vanderah, chief of pharmacology at the University of Arizona. “We're still dealing with narcotics that have been around for thousands of years, and it's led to this issue of people abusing drugs and the rise of heroin.”</p>

<p>Some parents with children suffering from seizures want to try medical marijuana to treat their children more effectively than current medicine has been able to, but the Food and Drug Administration has not approved any marijuana-based medicines for seizures.</p>

<p>“We know it will help our children or potentially give them a better quality of life,” said Heather Shuker, the mother of a girl with Dravet syndrome,a form of epilepsy. “We’re being denied that because they (federal agencies and doctors) don't know the long-term side effects of medical cannabis.”</p>

{% include e-mid-image.html image="Heather-Hannah-1200.jpg" caption="Heather Shuker comforts her daughter Hannah, 12, after a series of seizures at the Children's Hospital of Pittsburgh. (Photo by Lex Talamo | News21)" %}

<p>Amphetamine and stimulants like it, typically prescribed as Adderall or Ritalin, are used to treat attention deficit disorder despite their potential to be addictive. “I was diagnosed with ADD when I was a kid. They gave me Ritalin and that was just a really bad thing,” said Jason Mac Adam, a medical marijuana patient in Hawaii. “I ended up becoming a meth addict. … I’ve used medical marijuana to help me get away from my meth addiction, as a medication to get me away from my anxiety.”</p>

<p>Yet researchers like Vanderah have faced challenges getting federal approval and funding to study marijuana’s potential medical uses for these and many other conditions. “The progress is a little limited because research is done based off of grants that have been harder and harder to get,” Vanderah said.</p>

<p>Although medical and even recreational marijuana use has been increasingly legalized by states, the federal government still classifies marijuana as a Schedule 1 drug — like heroin and ecstasy — meaning there is potential for its abuse and it has no medical benefits.</p>

<p>So the approval process for doing any kind of research on marijuana is lengthy and difficult, with the FDA, Drug Enforcement Agency (DEA) and National Institute on Drug Abuse (NIDA) all playing roles in allowing an approved researcher access to federal funding and federally-provided marijuana.</p>

{% include e-slideshow.html uniqueid="research-mj-lab" %}

<p>“It took me three years from the time I got funding to the time I could enroll my first subject,” said Dr. Mark Wallace, a researcher studying pain treatments at the University of California, San Diego. “Once we got approval it wasn’t that hard to do, as far as getting the marijuana.”</p>

<p>Fewer than 1,000 NIH-supported research projects studied marijuana for purposes other than abuse or addiction in the last seven years. University-backed researchers and a few larger companies have been able to use their own funding, rather than grants from the NIH, and their own advanced laboratories to study marijuana and cannabinoids — the chemicals found within it — as potential treatments for conditions like seizures and breast cancer pain.<a name="r1"></a></p>

<p>“I think in the near future we’re going to see it (research) get easier and easier to do,” Wallace said. “I don’t see how the federal government is going to continue to put so many restrictions on it.”</p>

<h2>Spending disparity</h2>

<p>News21 analyzed federally funded drug research projects from 2008 to 2014 using the NIH’s publicly available database, Project Reporter. The $1.1 billion NIH spent to study marijuana abuse and addiction was $200 million more than what the organization spent working on and studying crystal meth, a highly addictive stimulant that the DEA has called an epidemic.</p>

{% include e-pull-pin.html %}

<p>While NIH spent $297 million on grants for non-abuse research of marijuana, it provide two to four times as much for similar research of opiates and benzodiazepines, including drugs like Xanax, according to the News21 analysis. Opiates are the narcotics that Vanderah said can cause prescription drug dependency that leads to heroin abuse.</p>

<p>The research on marijuana abuse and addiction was largely, but not exclusively, funded by NIDA, a branch of NIH. The research covered subjects like how parents can prevent substance abuse and studies of cannabis use disorder, which the American Psychiatric Association calls a problematic pattern of marijuana use.</p>

<p>More federal money was spent researching potential marijuana abuse than on abuse of amphetamine and ketamine <a name="researchmap"></a> (an anesthetic sometimes used as a club drug), despite their histories of recreational use.</p>

{% include e-interactive-js-drop.html path="drug-research" %}

<p>Responding to questions about research spending, Mahmoud ElSohly, the director of NIDA’s marijuana program, said that NIDA’s job is to fund abuse and addiction research and that other NIH branches should be funding other kinds of research.</p>

<p>“It’s not that NIDA would take it upon itself to investigate the medical aspects of cannabis,” ElSohly said. “It's not the charge of NIDA. It's the charge of other institutes within the NIH to investigate the use of cannabis.”</p>

<p>But the other parts of the NIH have not funded much marijuana research. A National Institute of Neurological Disorders and Stroke (NINDS) spokesperson said that most NIH grants were based on what peer reviewers thought was the most promising science.</p>

<p>The National Institute of Mental Health (NIMH), for example, has spent just $48 million on marijuana medical research despite states approving it to treat PTSD. Yet the NIMH gave grants totaling $91 million for ketamine research — largely to treat depression — and almost $120 million for amphetamine research — largely to treat attention disorders.<a name="r2"></a></p>

<p>Similarly, despite several states’ approval of marijuana and cannabinoids to treat epileptic seizures, NINDS spent just $38 million through 2014 researching the potential effects of marijuana, compared to almost $100 million spent on opiate research, largely to treat different kinds of pain. Researchers said that number is expected to increase this year as more work is done on cannabidiol (CBD) — a major cannabinoid in marijuana that doesn’t have psychoactive effects — and seizures.</p>

<!--<<**TREEMAP HERE**>>

WITH CAPTION: For more information, including News21 search methodology, view the full write-up of the data analysis.-->

<h2>Schedule 1</h2>

<p>In 1970, Congress passed the Controlled Substances Act (CSA), which created one piece of federal law classifying all drugs. The law organized drugs into schedules based on their potential for abuse, status in international treaties and medical benefits.</p>

<p>Marijuana was temporarily designated as Schedule 1, but President Richard Nixon created a commission to do a review of the drug to determine if it should keep the most restrictive scheduling. The commission’s findings from research projects and public polls made up almost 4,000 pages of reports and technical papers published in four volumes in 1972. It concluded that marijuana should not be criminalized and suggested rescheduling the drug. But Nixon decided otherwise.</p>

<p><a target="_blank" href="http://www.deadiversion.usdoj.gov/schedules/index.html">One hundred and sixty substances</a> have been removed, added or transferred from one schedule to another since the CSA went into effect.</p>

{% include e-vimeo.html video=135585787 caption="Irvin Rosenfeld, a stockbroker from Fort Lauderdale, treats his rare bone disorder by smoking marijuana cigarettes that the federal government has provided him since 1982." %}

<p>Investigators working with Schedule 1 drugs need an additional level of clearance from the DEA, also created during the Nixon administration to enforce the laws of the CSA and to regulate the use of controlled substances. Wallace, the doctor at UCSD, cited five separate state and federal groups that sent him requests before he received approval for his research on how different doses of marijuana might be used to treat pain.</p>

{% include e-slideshow.html uniqueid="irvin_rosenfeld" %}


<p>If marijuana were to be classified as a Schedule 2 drug, which would mean it has a federally accepted medical use, researchers would no longer need Schedule 1 clearance from the DEA to work with it.</p>

<p>“The Schedule 1 designation makes it challenging,” Wallace said. “I think if they move it to Schedule 2, it’s going to get a lot easier to research.”</p>

<p>That change is easier said than done, according to Matthew Barden, a DEA spokesman.</p>

<p>“A lot of people in the marijuana debate say to just put it under a different schedule, but in order to do that the FDA would have to change everything...” Barden said. “So we, the DEA, can’t just put something in Schedule 2. That would be a violation of how things are scheduled.”</p>

<p>Rescheduling can be done two different ways — by congressional action or administrative action. A few different bills have been proposed in Congress to give marijuana a different classification, but they’ve always died in committee.</p>

<p>The administrative route involves more steps and more agencies. To get the ball rolling, a petition must be filed by an interested outside party or the secretary of health and human services. The attorney general reviews the petition, and then forwards it back to the secretary of HHS to request scientific and medical evaluation by the FDA.<a name="r3"></a></p>

<p>Findings and recommendations from HHS are reported to the attorney general, who then makes the decision whether to proceed with rulemaking after reviewing the evidence, which it will often do in consultation with the DEA. The DEA and FDA have the power to deny the petition if there is not sufficient scientific and medical evidence. If the attorney general can go forward with the rulemaking process, then the White House will decide if the rule could have economic effects or raises important policy issues.</p>

<h2>Applying to research</h2>

<p>Even when researchers are cleared to do federally funded marijuana research, they must obtain marijuana from a farm at the University of Mississippi, which operates with the authority of NIDA The farm is located at the National Center for Natural Products Research, nestled in the eastern portion of the 640-acre Ole Miss campus, just steps away from the stadium where the Rebels play football.</p>

{% include e-slideshow.html uniqueid="mississippi" %}

<p>The heavily secured farm is surrounded by fencing, guards in towers and lock vaults. The sprawling 12-acre, outdoor marijuana farm and growing room is the only federally sanctioned marijuana grow in the country.</p>

<p>“The National Institute on Drug Abuse is the only agency that is allowed under the federal law … to actually be in charge of the manufacturing and distribution of cannabis for any purpose,” ElSohly said. “We at the University of Mississippi, we're acting as the agent for the government to carry out that function.”</p>

<p>Before researchers can obtain marijuana and start their studies, they need three things: an approved investigational new drug (IND) application from the FDA, a letter of approval from NIDA and a Schedule 1 clearance from the DEA. The IND requires researchers to contact NIDA about the particular marijuana that’s available because details, from strain to dosage, are required on the application.</p>

<p>DEA approval is needed for possessing and transporting the marijuana and researchers must prove they have a secure facility to store and keep track of the marijuana. Once they have both FDA and DEA approval, researchers can contact NIDA to obtain their marijuana. </p>

<p>Outside of the University of Mississippi’s contract with NIDA, ElSohly said he and the other researchers at Ole Miss are also conducting marijuana research of their own. Even though federally approved marijuana is right outside their door, they still have to go through the process of applying for it.</p>

<p>With a new $68.8 million contract, however, NIDA plans to help marijuana researchers by producing and growing products at the Mississippi farm that more closely mimic what dispensaries are selling to medical marijuana users.</p>

<p>“The products were quite limited, as far as what we could get from them (before),” Wallace said. “Now, the NIH is coming out with a lot of different products for research, as far as oils, extracts and different strains that have different levels of THC (the psychoactive cannabinoid in marijuana) versus CBD.”<a name="r4"></a></p>

<p>NIDA’s marijuana grow at Mississippi is producing more varieties of marijuana that should be more similar to medical marijuana in the states that have approved it, ElSohly said. It’s also growing 30 times more marijuana than it did under its last contract with NIDA, two signs that researchers and NIH branches are requesting much more marijuana for medical studies.</p>

<h2>Current research</h2>

<p>Limited grant availability to fund those requests means that researchers need the backing and funding of a major university — as Vanderah has with Arizona or Wallace has with UCSD — or business investors. Britain-based GW Pharmaceuticals has turned investor funding into marijuana research advances in the United States. Its British base allows GW to work with marijuana grown in its own greenhouse in the U.K.</p>

<p>“We’ve got a full pipeline of products that are in the clinics, that have gotten through the preclinical steps,” said Steve Schultz, GW’s vice president of investor relations. “We’re looking at cannabinoids in a very large number of different therapeutic areas.”</p>

<p>Among those products are Sativex, a full-plant marijuana extract with both THC and CBD, and Epidiolex, a purely CBD extract. While Sativex is approved for multiple sclerosis patients in 27 countries, it’s still not approved in the United States. Epidiolex is still being tested in clinical studies.</p>

<p>GW extracts the marijuana’s cannabinoids in the company’s greenhouses in Britain, so only the finished Sativex or Epidiolex products enter the United States. It still needs DEA licensing to bring marijuana-based products into the country, but it has total control over the quality of marijuana.</p>

<p>“I think having a significant amount of variability in these medical marijuana products is a problem for research,” Schultz said. “It doesn’t result in research that has the required level of integrity because the product itself that you’re testing tends to be different every time you test it.”</p>

<p>Any differences from one cultivation to another have the biggest impact on whole-plant marijuana, Schultz said, which is why the company only works with extracts. Very little information about the quality and properties of federally-provided marijuana was given to U.S. researchers in the past.</p>

<p>While marijuana-based medicine is still in its early stages, Vanderah emphasized that it’s no different than the development process for other medications.</p>

<p>“I think that we are today where we were with narcotics 30 or 50 years ago,” Vanderah said. “I hope that we can advance the cannabinoid field much quicker with all that research we've done for the last 100 years on narcotics.”<a name="r4"></a></p>

{% include e-vimeo.html video=135511523 caption="Todd Vanderah, head of the pharmacology and anesthesiology department at the University of Arizona, researches how cannabinoids affect breast cancer cells." %}

<h2>Future of research</h2>

<p>Congress could play a major role in speeding up the marijuana research process. Legislators have crafted bills that would re-categorize marijuana to Schedule 2 — which would ease some steps of the research approval process — and create more federal marijuana grows beyond the one in Mississippi.</p>

<p>HHS removed the mandatory public health services review from the marijuana research approval process to reduce the number of approval steps for marijuana research.</p>

<p>Parents campaigning for a form of CBD to treat their children’s seizures have already made strides in attracting public attention to marijuana research. Vanderah said that research and treatments with CBD should pave the way for future research because it proves that marijuana-based medicine can really work.</p>

<p>“If you have your own child that's having 100 seizures per day and then they take some of this and it stops, you’ll look at it very differently,” Vanderah said. “They look at it as a medication, instead of how we always think of something like marijuana.”</p>

<p>Wallace, Vanderah and Schultz predicted future development in areas like multiple sclerosis, dementia, Lou Gehrig’s disease and neonatal hypoxic-ischemic encephalopathy (NHIE), a condition that cuts the flow of oxygen in infants. To treat such a wide variety of conditions, researchers are going to have to look at marijuana in many different ways — not just the extracts that companies like GW work with, Wallace said.</p>

<p>“I think what we’re going to find is a wide range of patient preferences, so we can’t think that we can just do away with the leaf and just extract it,” Wallace said. “It needs to be available in a wide range of products.”</p>