---
layout: story
title: "A lost generation of medical marijuana patients still lobbies fiercely in the South"
byline: "Quint Forgey"
credits:
  - Quint-Forgey
hero: south-hero
hero-credit: Shawn Weismiller
permalink: /a-lost-generation-of-medical-marijuana-patients-still-lobbies-fiercely-in-the-south/
slug: south
socialimage: south-hero-768.jpg
blurb: "Mired in forgotten statutes, a marijuana movement sweeps through the conservative South. Old political tinder is fueling the new debate."
soundcite: yes
section: medical
---
<a name="south1"></a>
{% include e-sections.html slug="south" %}



<h2>Chester, South Carolina</h2>

<p>She lives in the wooden house her grandfather built more than a century ago in Chester, South Carolina, a rural community about a two-hour drive southeast of the Blue Ridge Mountains.</p>

<p>The cluttered home is dimly lit and not air-conditioned, with the low hum of floor fans filling in rare lulls in conversation. Two Chihuahuas, Cricket and Joe, scuttle around Ada Jones’ feet as she peers down through her eyeglasses at the iPad in her hands.</p>

<p>The tablet looks conspicuously out of place among the black-and-white photos hanging on the walls and the dangling, beaded divider into the next room. It serves as her connection to the outside world, as well as the outside world’s connection to Jones.</p>

<p>If someone needs medical marijuana, they contact her over the Internet.</p>

{% include e-pull-pin.html %}

<p>Jones encourages those who reach out to her to purchase marijuana illegally and make their own cannabis oil. If they’re unsuccessful, she puts them in contact with a supplier who can sell them a more refined product.</p>

<p>“It’s almost like playing God,” Jones said. “If somebody contacts me, I have to look at them and wonder. I wonder if that’s police first, not if I can help their kid. I try not to do that, but you have to because you’re scared.”</p>

<p>Jones helps everyone she can, whether they be young mothers of epileptic children or older patients suffering from chronic pain. Her specific brand of civil disobedience, like so many other facets of Southern life, is captained by her faith.</p>

<p>“They talk about the South being the Bible belt, and praise the Lord we are,” Jones said. “I cannot not help somebody. I have to. As a Christian, that's what I’m here for.”</p>

<p>Many Southern states have a long and failed history with medical marijuana, mired deep in forgotten statutes and a lost generation of patients. Only recently, as the marijuana movement sweeps through statehouses, have those laws become political tinder for a new debate in the Old South.<a name="south2"></a></p>

{% include e-vimeo.html video=135900146 caption="In the late 70s and early 80s, some states in the South passed legislation that would have provided marijuana to qualified patients. But in most cases the programs were never implemented." %}

<h2>Baton Rouge, Louisiana</h2>

<p>In 1976, as Ada Jones was graduating from Chester High School in South Carolina, Tony Guarisco — who would become an iconic advocate for medical marijuana in Louisiana — joined the state Legislature.</p>

{% include e-pull-image.html image="Tony_Guarisco_Final-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/Tony_Guarisco.mp3\" data-start=\"0\" data-end=\"48000\" data-plays=\"1\">PLAY</span> Tony Guarisco, a former Louisiana state senator, proposed a bill to legalize medical marijuana through a research program in 1978. (Photo by Shawn Weismiller | News21)" %}

<p>Just two years after his election, Guarisco proposed a bill that wrought a hurricane of controversy statewide — from Baton Rouge’s towering, Art Deco Capitol building to Guarisco’s small, shrimping hometown of Morgan City along the banks of the Atchafalaya River.</p>

<p>He wanted to legalize medical marijuana through a therapeutic research program. “Some people said I was ahead of my time about a lot of things,” Guarisco said. “I wasn't afraid of it.”</p>

<p>Between 1978 and 1982, 25 states set up similar medical marijuana research programs, designed mainly to treat cancer and glaucoma patients. To receive the marijuana, states were supposed to contract with the National Institute on Drug Abuse, which cultivated cannabis at a federally funded farm at the University of Mississippi.</p>

<p>Louisiana became the third to pass legislation in July 1978. Alabama, Georgia and South Carolina quickly followed, signing laws in a seven-month span between 1979 and 1980.</p>

<p>“I knew we were pioneers in it,” Guarisco said.</p>

{% include e-pull-image.html image="Edwin_Edwards_Final-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/Edwin_Edwards.mp3\" data-start=\"0\" data-end=\"59000\" data-plays=\"1\">PLAY</span> Former Louisiana Governor Edwin Edwards signed Tony Guarisco's medical marijuana bill into law in July 1978. The law sought to set up a medical marijuana research program designed to treat cancer and glaucoma patients, but the program was never established. (Photo by Shawn Weismiller | News21)" %}

<p>In a 1977 Louisiana Public Broadcasting feature, Guarisco elaborated on his non-conformist agenda from behind his Capitol desk. A black-and-white sketch of Don Quixote hung above him.</p>

<p>“I feel sometimes like him around here,” the mustachioed Cajun drawled, glancing at the wall art. “I might be flailing away at windmills.”</p>

<p>At Senate committee meetings, Guarisco offered up testimony from afflicted patients and family members. At one hearing, he was approached by a sheriff, who warned Guarisco that the freshman senator’s first term would be his last.</p>

<p>It wasn’t.</p>

<p>Gov. Edwin Edwards would sign his medical marijuana bill that summer, and Guarisco would go on to serve in the Louisiana Senate for two more terms.</p> 

{% include e-pull-image.html image="Mike_Wolf_Final-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/Mike_Wolf.mp3\" data-start=\"0\" data-end=\"77000\" data-plays=\"1\">PLAY</span> Mike Wolf was a former lobbyist for NORML in Louisiana. He was working in the legislature when Tony Guarisco’s medical marijuana bill passed in 1978. (Photo by Shawn Weismiller | News21)" %}

<p>Like most other state programs at the time, Guarisco’s bill provided for the establishment of a state medical board to certify participating patients, physicians and pharmacies. Only chemotherapy and glaucoma patients were eligible for treatment.</p>

<p>He thought his work was finished.</p>

<p>“I mean, I’m in there two years. I thought when you passed something, the people that needed to take action after that, to make it operative, would do what they needed to do,” Guarisco said. “Unfortunately, they never did.”</p>

<p>In the nearly four decades since its signing, Louisiana’s medical marijuana research program has treated not a single patient.</p>

<p>Similar programs around the country also slowly evaporated. Either they were never approved by the necessary federal agencies or their funds were never appropriated by legislatures. Some state medical boards were simply not established.</p>

<p>Today, not many know the programs ever existed.</p>

{% include e-vimeo.html video=135902311 caption="Clark Gaudin is a Baton Rouge attorney who served for 21 years in the Louisiana House of Representatives. While in office, he passed a bill to allow medical cannabis, but it was never implemented." %}


<p>“It’s an anomaly,” Guarisco said. “How did that happen in Louisiana — a Southern state all the way at the bottom — 37 years ago?”</p>

<p>This lost generation of medical marijuana patients is now giving way to children taking a less-psychoactive version of the drug. In the past two years, the faces of young children suffering from debilitating, seizure-related disorders have come to characterize medical marijuana in the American South.</p>

<p>The bygone laws are now resurfacing, <a name="south3"></a>and old statutes are being rewritten as lawmakers try to understand what happened to the ineffective programs of decades ago. Gov. Bobby Jindal in June signed a bill that allows for the dispensing of medical marijuana to qualified patients in Louisiana, though it could take years to establish a state system. </p>

<h2>Beaufort, South Carolina</h2>

<p>South Carolina state Sen. Tom Davis first heard the name Mary Louise Swing in late January of last year.</p>

<p>The opening month of the 2014 legislative session was just wrapping up, and the legislator was back from the capital city of in Columbia to do some work at his law office in Beaufort, a scenic coastal city located on Port Royal Island in the state’s low country.</p>

<p>Davis was only in the office twice a week during session, and chatted briefly that Monday afternoon with a law partner at their 93-year-old firm who had just met a woman named Harriet Hilton at a local Rotary club lunch.</p>

{% include e-pull-image.html image="Greg_Baynes_Final-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/Greg_Baynes.mp3\" data-start=\"0\" data-end=\"55000\" data-plays=\"1\">PLAY</span> Greg Bayne of Charleston, South Carolina, advocates for medical marijuana and is the founder of the state chapter of Marijuana is Safer Than Alcohol. (Photo by Shawn Weismiller | News21)" %}
<p>Her granddaughter suffered from a severe form of epilepsy and was seeking a type of treatment not currently legal or particularly popular in the Palmetto State — medical marijuana.</p>

<p>“Quite frankly, it wasn’t even on my radar screen,” Davis said. “It wasn’t anything in terms of public policy that I thought about doing until I heard about that story.”</p>

<p>About a week later, Hilton was sitting across from Davis in his Beaufort office, discussing her granddaughter, Mary Louise, now 7.</p>

<p>With the help of Senate staffers, Davis rifled through old statutes to clarify the current legality of marijuana in the historically conservative state. What they unearthed was an obscure, obsolete law that would come to play a greater role in 2014 than it ever did following its passage 35 years ago.</p>

<p>“The South Carolina Controlled Substances Therapeutic Research Act of 1980” was designed to treat cancer and glaucoma patients with marijuana. It authorized the state health department to establish a board to certify participating patients and practitioners.</p>

<p>However, South Carolina’s act met the same fate as other states’ programs. It treated few, if any, patients.</p>

<p>“There was probably some social pushback. Probably some individuals who didn't realize what had gone on in Columbia, and then once they found out about the 1980 law, called up their lawmakers and objected,” Davis said.</p>

<p>Even though the law failed to treat patients in the '80s, Davis saw the act as a vehicle to help his current constituents.</p>

<p>“In legislative process, it’s always good to try to amend existing law as opposed to passing new law. Taking that 1980 law as a jumping-off point and amending it really got us halfway there,” Davis said. “It was a good icebreaker.”</p>

<p>Davis said he met Mary Louise’s mother, Jill Swing, at the bill’s first subcommittee hearing. Jill and Mary Louise were set to relocate to Colorado to legally obtain medical marijuana, leaving Mary Louise’s father and brother behind in Charleston.</p>

{% include e-vimeo.html video=135901741 caption="Jill Swing, Janel Ralph and South Carolina State Sen. Tom Davis are working in South Carolina to get legislation passed that would help people gain access to medical marijuana." %}

<p>“He heard Mary Louise’s story and reached out to her (Hilton) and said ‘Wait, don't move yet,’” Swing said of Davis. “‘We need a story. We need a family. We need a way to personalize the legislation and the incredible need for this type of legislation in our state.’”</p>

<p>Republican Gov. Nikki Haley signed Davis’ bill into law in June 2014, legalizing CBD oil for epilepsy patients in South Carolina.</p>

<p>CBD oil is an extract with concentrated amounts of cannabidiol — the part of the cannabis plant anecdotally shown to treat seizures — and low amounts of tetrahydrocannabinol, or THC — marijuana’s psychoactive component.</p>

<p>Though the final law allowed physicians to authorize, and patients to consume, CBD oil, it did not provide for its cultivation or dispensation. Parents, patients and advocates have grown increasingly frustrated with the current state of medical marijuana in South Carolina.</p>

<p>“We’ve had to <a name="south4"></a>go on the black market. We’ve had to work through a network of other parents,” Swing said. “It’s just been very challenging not having a really, really concrete law that allows for full medical marijuana in the state.”</p>

{% include e-pull-image.html image="Ron_Crumpton_Final-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/Ron_Crumpton.mp3\" data-start=\"0\" data-end=\"22000\" data-plays=\"1\">PLAY</span> Ron Crumpton is the executive director of the Alabama Safe Access Project, an organization that seeks to reform marijuana policy in the state of Alabama.  (Photo by Shawn Weismiller | News21)" %}

<h2>Chester, South Carolina</h2>

<p>Even today in states such as South Carolina — where CBD oil is legal but there’s no provision to grow or distribute the drug — patients are left to obtain medical marijuana on their own, often across state lines and in violation of federal law.</p>

<p>“There is an underground network of parents who had been treating their children for a while in states where they had limited-access bills like we had,” said Janel Ralph, a mother in Myrtle Beach, South Carolina, whose daughter suffers from a severe seizure disorder. “It was really an underground railroad.”</p>

<p>You could call Ada Jones one of its many conductors.</p>

<p>“The Jesus Christ that I know wouldn’t want me to let anybody suffer,” Jones said. “If it’s in my ability to help them, then I’m going to help them.”</p>

{% include e-vimeo.html video=135901322 caption="Ada Jones and Beverly Love became friends when Jones, an ex-methadone addict, convinced Love to try medical marijuana to relieve Love's suffering related to her lupus and multiple sclerosis." %}

<p>Perhaps her favorite patient is her best friend, Beverly Love.</p>

<p>A 55-year-old Chester native, Love was diagnosed with lupus at 31, and soon after, multiple sclerosis.</p>

<p>Her doctor told her she probably had a maximum of two years to live. She needed to get her affairs in order and figure out who would be raising her 8-year-old son after she was gone.</p>

<p>“That was a scary thing. Not mainly for me — I worried about my son, my child,” Love said. “But I’m still here, surprisingly. Even my doctors are surprised that I’m still living.”</p>

<p>Before Love met Jones, she didn't know what the word cannabis meant and had never smoked marijuana. She considered those who did drug addicts.</p>

<p>“She could run for president and you couldn't find nothing on her. The girl is squeaky clean,” Jones said. “She didn't want to do this. But she didn't want to die.”</p>

<p>Jones inundated Love with countless articles on marijuana’s medical benefits and personal testimonies to its effectiveness.</p>

<p>“She just kept on,” Love remembers. “And I’m thankful that she did. I’m really thankful that she did.”</p>

<p>Love first experimented with medical cannabis about a year and a half ago, spreading some medicated jam Jones had acquired for her on a piece of bread just before bedtime. Within two hours, Love said she experienced a relief she hadn’t known in years.</p>

<p>She does not suffer from epilepsy, the only qualifying condition eligible to possess CBD oil in South Carolina. Even if she did, the oil she takes now is whole-plant — meaning it contains naturally high levels of THC in relation to CBD.</p>

<p>She knows she could be arrested, but for her, the risk is worth it.</p>

<p>“If I started getting locked up now, I would move to a state where it was legal, because it’s made such a difference in my day-to-day living,” Love said. “I actually have quality of life now. And I didn't.”</p>

{% include e-parallax.html image="south" caption="<a name=\"south5\"></a>Beverly Love, who suffers from lupus and multiple sclerosis, uses CBD oil to ease her pain. (Photo by Shawn Weismiller | News21)" %}

<h2>Myrtle Beach, South Carolina</h2>

<p>Perhaps no group has been more affected by the failure to enact comprehensive medical marijuana laws than parents like Janel Ralph of Myrtle Beach, South Carolina.</p>

<p>Her 6-year-old daughter, Harmony, suffers from lissencephaly — a condition which translates to “smooth brain” and is characterized by intense seizures.</p>

<p>While a healthy human brain looks like waffles, Ralph explained, Harmony’s is completely flat. Certain anti-epileptic medication proved ineffective and the months-long transition off of the drugs took a physical toll on Harmony and an emotional toll on her mother.</p>

<p>Ralph remembers watching as her daughter went through detox like a drug addict, accompanied by a new wave of seizures, vomiting, shaking fits and loss of bowel control.</p>

<p>“It’s awful. It’s horrible,” Ralph said, crying. “It’s the most hands-down horrible thing you’ve ever seen.”</p>

<p>Ralph and her husband decided they were ready to move to Colorado, where they could legally obtain CBD oil for Harmony and Ralph could hopefully resume her career as a photojournalist. It wasn’t until they saw Jill Swing advocating for a CBD oil bill on the local news that the parents decided to stick it out.</p>

<p>But after the legislation passed in 2014, there was still no legal mechanism for cultivation or distribution across South Carolina. Ralph decided to start a Facebook page, adding parents from several support groups for different seizure disorders.</p>

<p>“I figured if I had the demand, somebody out there was going to get me CBD for my child,” she said.</p>

<p>Over the next several months, a group of about half a dozen parents began collectively buying in on financially draining, illegal purchases of CBD oil across state lines. Time and time again, they were met with disappointment and disillusion.</p>

{% include e-pull-image.html image="Barry_Matson_Final-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/Barry_Matson.mp3\" data-start=\"0\" data-end=\"55000\" data-plays=\"1\">PLAY</span> Barry Matson, deputy director of the Alabama District Attorneys Association, worked with Alabama legislators to create Carly’s Law, a bill to create a study on the affects of medical marijuana in the treatment of seizures. (Photo by Shawn Weismiller | News21)" %}

<p>The first purchase came in July 2014, when the parents delivered Ralph’s friend in Colorado a large sum of money in exchange for CBD oil. But the seller backed out just before the transaction was set to take place.</p>

<p>The group was eager to try again, but couldn’t track down a credible CBD dealer out of state. Instead, they received through the mail an acidic, non-psychoactive form of THC later that month, which temporarily placated Harmony's seizures.</p>

<p>Still hell-bent on finding CBD oil for their children, they finally identified a reportedly reputable seller based out of California, and spent a total of $5,000 for several 10-milliliter doses of oil.</p>

<p>But Harmony’s response to the drug wasn't what Ralph expected.</p>

<p>“I had a red flag,” Ralph said. “I really felt like something wasn't right.”</p>

<p>She began reaching out to others in the “mommy network” who purchased product from the California company in recent months. All of their lab tests were identical — a sign the results were falsified. Other parents who tried out the oil before giving it to their children described getting a high.</p>

<p>By the fourth day of treatment, Harmony was seizing almost every minute of the day. Her mother took her off the oil, and asked a parent with access to a lab to test the product.</p>

<p>The results came back. It was straight THC.</p>

<p>“At that point, I almost shut the entire thing down,” Ralph said.</p>

<p>Two months later, Ralph got a call from a seller in Colorado who had CBD and was looking for a buyer. She had already wasted thousands of dollars, and figured the seller’s $70 asking price couldn't do much harm.</p>

<p>Within a week of receiving the new product, Harmony’s seizures became much shorter and less frequent. By the second week, Harmony had gone 12 days seizure-free.</p>

<p>For the first time in a year and a half, Ralph heard her daughter laugh.</p>

<p>“She literally just blossomed. It was almost like overnight she just came alive,” Ralph said. “So then I knew, ‘OK, this is CBD — now I got it. Now what do we do?’”</p>

<p>After other parents became aware of Harmony’s results, the group expanded and went in on their greatest investment yet — 24 parents paid $15,000 for a six-month supply. </p>

<p>But the day before Thanksgiving, police raided the seller’s Colorado farm.</p>

<p>“That was my absolute breaking point,” Ralph said. “It wasn't so much taking the site down and protecting the parents — it was ‘my daughter needs this.’”</p>

<p>Ready to take matters into her own hands, Ralph founded Palmetto Synergistic Research. After communicating with a father in Kentucky who operates the country’s largest CBD grow, she began manufacturing her own oil made from hemp — a type of cannabis containing no more than 0.3 percent THC. Called “Palmetto Harmony,” it is sold in storefronts throughout the state, and used by parents across the South. </p>

<p>Ralph knows <a name="south6"></a>some patients may need higher amounts of THC not yet legal in the state, but she is grateful for the relief Palmetto Harmony has been able to provide.</p>

<p>“The ones that is does help — that is where the benefit is,” Ralph said. “Then it's worth doing.”</p>

<h2>Atlanta</h2>

<p>Just a week before Georgia state Rep. Allen Peake received an email from Janea Cox — a mother whose daughter suffered from intractable epilepsy — he told a Macon journalist there would be no interest in a medical marijuana bill during the 2014 legislative session.</p>

<p>“Absolutely no way,” Peake remembers saying. “I’m never going to touch that.”</p>

<p>Days later, he visited Eggleston Hospital’s intensive-care unit and stood over 4-year-old Haleigh Cox, on her deathbed.</p>

<p>Over the next 15 months, Peake would become the legislative champion of medical marijuana in Georgia, spearheading a comprehensive CBD oil law complete with eight qualifying conditions and a 5 percent THC cap — much higher than most states that have recently passed CBD legislation.</p>

<p>Peake’s victory was just one episode in a politically confusing, counterintuitive trend of Republican lawmakers suddenly, wholeheartedly taking up the mantle for medical marijuana in the Deep South. </p>

<p>For Peake, it didn't seem like that big of a stretch.</p>

<p>“We’re committed to family values,” he said. “Here we were, because of our own laws, splitting up families.”</p>

<p>Peake remembers many of his conservative colleagues telling him he’d gone off the deep end when he first proposed a medical marijuana bill in 2014. They said it would be the end of his time at the Capitol.</p>

<p>But he picked up steam with testimony from torn families like the Coxes, who were forced to leave the state in search of medication they couldn't obtain or even legally possess in Georgia. They just wanted to help their children.</p>

<p>Sue Rusche has children, too. She has been fighting against the spread of marijuana in Georgia before the state first passed its research program in 1980 with the help of lobbyists from the National Organization for the Reform of Marijuana Laws.</p>

<p>She characterized the pro-legalization group’s intentions as sinister — preying on lawmakers’ emotions during debate over both the 1980 therapeutic use program and Peake’s 2015 CBD oil law.</p>

<p>“NORML was not against exploiting desperately ill people and bringing them in as witnesses to swear that they needed marijuana to survive,” Rusche said. “That brought forth the attraction in the same way that children with epilepsy are tugging at people’s heartstrings”</p>

<p>Rusche still remains active in state politics, and went to visit Peake last year. When his medical marijuana bill finally passed in 2015, Rusche perceived a disregard for the medical process that she said was similarly apparent 35 years ago.</p>

<p>Peake knows of no patients ever treated by Georgia’s 1980 Controlled Substances Therapeutic Research Act, and attributes its demise to a lack of interest. He scrapped the law entirely with his bill.</p>

<p>“It’s basically voiding the 1980 legislation and saying, ‘Here’s the new medical cannabis legislation that is in existence in Georgia at this time,’” Peake said.</p>

<p>In the state’s revised statute, the words “Controlled Substances Therapeutic Research Act” are stricken through with a bold line.</p>

<p>Its title now represents a new generation — “Haleigh’s Hope Act.”</p>