---
layout: story
title: "Growing marijuana industry raises environmental concerns"
byline: "Katie Campbell and Dom DiFurio"
credits:
  - "Katie-Campbell"
  - "Dom-DiFurio"
hero: sustainability-hero
hero-credit: Nick Swyter
permalink: /growing-marijuana-industry-raises-environmental-concerns/
slug: sustainable
socialimage: sustainability-hero-768.jpg
blurb: "More marijuana grows, both legal and illegal, have sprouted up across the country. Like any other crop, though, marijuana has needs, and those needs are leaving their mark on the earth."
soundcite: no
section: science
---

{% include e-sections.html slug="sustainability" %}

<p>Chuck Lyon lives in a house he built “one concrete slab at a time” in the hills of Mendocino County, California.</p>

<p>Lyon, 62, only uses about 5 gallons of well water each day, including the 1.5 gallons it takes for him to take what he called “navy showers.” The average American uses more than 16 times that amount each day, according to the U.S. Geological Survey.</p>

<p>And when it comes to irrigating his garden, which includes six marijuana plants just a few steps off the front porch of his home, he takes it a step further. Lyon captures about 60,000 gallons of rainwater in massive silos each year and uses that to water his cannabis.</p>

<p>“Without water, I’m nothing. Without water, this planet’s nothing,” said Lyon, who can legally grow medical marijuana under California’s system. “I don’t waste water. I don’t plunder water. To plunder water, that’s a crime against nature.”</p>

{% include e-vimeo.html video=135509102 caption="Although patient and grower Chuck Lyon grows only six marijuana plants for himself, fewer than the legal limit according to Mendocino County law, he is surrounded by what he calls “million-dollar grows.”" %}

<p>Lyon grows his pot in the “Emerald Triangle,” one of the largest cannabis-producing regions in the country. Although Lyon tries to leave little impact, the area around him highlights some of marijuana’s negative effects on the environment. Marijuana can require massive amounts of water, and growers have often left behind toxic chemicals, trash and scars on the land. Growing indoors can use excessive amounts of energy, which costs large sums of money and eats up resources.</p>

<p>Twenty-three states and Washington, D.C., have approved marijuana for medical use, with Alaska, Colorado, Oregon, Washington and the District, legalizing recreational pot as well. At least a dozen other states may vote on legalization initiatives in the 2016 election.</p>

{% include e-pull-image.html image="jessepeters-768.jpg" caption="Jesse Peters, owner of Eco Firma Farms in Oregon, said the fears of rapid expansion within the marijuana industry are not unlike the growth in other industries. (Photo by Kathryn Boyd-Batstone | News21)" %}

<p>Jesse Peters, owner of Eco Firma Farms near West Linn, Oregon, said the fears concerning the impact of the marijuana industry as it expands are fears any industry should address.</p>

<p>“Call centers need to be more sustainable. Mills need to be more sustainable. Cannabis farms needs to be more sustainable,” he said. “There’s more and more people being added to this planet. We’re putting more and more stress on the planet as a whole. We shouldn’t create any new industries to add to that stress.”<a name="s1"></a></p>

{% include e-vimeo.html video=135510922 caption="Marijuana consumes an estimated 6 gallons of water per day, altering stream flows and disturbing wildlife. If it continues, experts say these sensitive watersheds will feel the impact of dwindling supply." %}

<h2>Water</h2>

<p>Marijuana is a thirsty plant. A single plant needs up to 6 gallons of water every day.</p>

<p>That’s double the amount of water consumed by grape vines.</p>

<p>California is an ideal location to grow both crops – its mild seasons make for lush outdoor grows. Because of these conditions, growers have flocked to the state, and the land has felt the effects. </p>

<p>A recent study by researchers from the California Department of Fish and Wildlife found each of four watersheds in northern California – an area within the Emerald Triangle – supplies water to between 23,000 and 32,000 marijuana plants. These grows deplete each watershed by anywhere from 138,000 to 192,000 gallons per day. Researchers collected this data by accompanying law enforcement on search warrants and site inspections.</p>

{% include e-pull-image.html image="chrisvanhook-768.jpg" caption="Chris Van Hook and his dog Puglia pause while walking through the Redwood forest in Del Norte County, California. (Photo by Dom DiFurio | News21)" %}

<p>Chris Van Hook spent more than two decades diving and farming abalone off the coast of Crescent City, California. He raised his children near the rivers that flow beneath the redwood canopy and has seen their flows diminish over the years. </p>

<p>All it takes is a drive along U.S. Route 101 to see that some areas of the rivers that run along it have pooled up and do not connect – there’s simply not enough water.</p>
<p>Lyon said he sees the destruction around him as well. Large-scale grows, the legality of which is unknown, surround his property. </p>

<p>“These million-dollar growers up here are using millions of gallons of water,” Lyon said. “They’re pumping directly out of the river. They’re pumping directly out of the springs.”</p>

<p>“Everybody thinks it’s somebody else. They think that their grow is conservative on water, and it’s somebody else that’s doing all the plundering of the water. We can’t look at it like that anymore. We’re all responsible whether we grow or not.”<a name="s2"></a></p>

{% include e-vimeo.html video=135510923 caption="In 2011, the U.S. Forest Service estimated 67 national forests were home to illegal marijuana cultivation sites. Waste from these sites causes significant damage to the environment, from trash to fertilizers." %}

<h2>Soil</h2>

<p>Marijuana grow sites may harm surrounding habitats in other ways, too.</p>

<p>Use of excessive pesticide, herbicide and rodenticide — poison used to keep rodents away from plants — may have potentially lethal effects on wildlife.</p>

<p>Researchers have studied the impact of pesticides and rodenticides on wildlife, in particular the weasel-like fisher, in the Sierra National Forest along California’s eastern border.</p>

<p>The researchers found traces of rodenticides as well as pesticides in the soil and vegetation surrounding cultivation sites. They observed a correlation between these chemicals and the dwindling population of fishers, according to Mourad Gabriel, executive director and senior ecologist at the Integral Ecology Research Center.</p>

<p>The researchers also discovered some owl species in the area were exposed to rodenticides, likely because of a diet heavily dependent on small mammals.</p>

<p>They found three out of four northern spotted owls and between 40 and 70 percent of barred owls had been exposed — and those estimates may be conservative, according to Gabriel.</p>

<p>Illegal grow sites use multiple toxicants in large quantities to kill anything that might harm the crop, according to the study. Many illegal growers blatantly disregard regulations intended to protect sensitive habitats and lands.</p>

<p>These grow sites also have been associated with large amounts of trash and non-biodegradable waste.</p>

<p>According to the U.S. Forest Service, illegal growers “frequently damage soils, cut timber and clear vegetation to create room for their grows, creating resource damage and erosion problems.” The service estimated that in fiscal year 2014, 72 national forests across 21 states were home to illegal marijuana cultivation sites.</p>

<p>Chris Boehm, the assistant director of the service’s law enforcement and investigations, said more than 6,000 illegal cultivation sites have been raided in national forests since 2005. Ninety percent of those sites were in California.</p>

<p>In 2011, the Forest Service cleared out and restored 335 illegal cultivation sites in California alone, according to David Ferrell, the director of law enforcement. During the clean up, workers removed more than 130 tons of trash as well as 300 pounds of pesticides and 5 tons of fertilizer.</p>

<p>Because of such waste, Ferrell deemed the illegal cultivation of marijuana “a clear and present danger to the public and the environment.”<a name="s3"></a></p>

{% include e-vimeo.html video=135509101 caption="Indoor marijuana production requires high-powered lights, heating and cooling equipment. Data from 2012 estimates that a typical grow house can run at up to 200 watts per square foot." %}

<h2>Energy</h2>
{% include e-pull-pin.html %}
<p>Indoor grows have different needs from those outside, and those needs come with costs of their own. They may use less water, but indoor grows use a tremendous amount of energy.</p>

<p>Indoor cultivators typically use LED or HPS — high-pressure sodium — lights to provide the energy plants would naturally obtain from the sun.</p>

<p>One study comparing these high-efficiency lights found that both types were equally efficient.</p>

<p>Several websites offering tips for indoor growing suggested the more light, the better: “The more light you give your cannabis plants, the faster and larger they will grow,” according to <a target="_blank" href="http://theweedscene.com">The Weed Scene</a>.</p>

<p>According to some estimates, a typical grow house uses 200 watts per square foot – about the same amount of energy it takes to power a modern data center.</p>

<p>This usage is compounded over time. The average marijuana plant takes between three and four months to grow, and some can take even longer depending on the strain and the conditions it’s kept under. When growers want their plants’ growth rate to accelerate, they may keep the plants under 24-hour light.</p>

<p>In fact, energy costs can account for nearly a quarter of the total cost consumers pay for usable marijuana, according to Evan Mills, an energy and environmental systems analyst with the Lawrence Berkeley National Laboratory.<a name="s4"></a></p>

<p>Mills also estimated supporting just four plants indoors could require as much electricity as 30 refrigerators.</p>

<h2>The future</h2>

<p>Chuck Lyon said some people are trying to do better.</p>

<p>He said he sees more water collection tanks along the highway than ever before. Some growers are reconsidering how they cultivate, moving indoor grows outdoors, where the sun provides the energy plants need.</p>

{% include e-slideshow.html uniqueid="sstnblty" %}

<p>“I think it’s too little too late, but I do have to recognize that there are people who are trying to change,” Lyon said.</p>

<p>He’s even changed his own outlook on marijuana.</p>

<p>Lyon said he used to cultivate 129 marijuana plants, which consumed every drop of the 60,000 gallons his rainwater tanks collect. He reduced his crop, though, and now grows fewer than the number of mature plants allowed by law.</p>

<p>He installed solar panels to provide the energy needed to move the rainwater uphill to his storage tanks. He uses ground-up coconut fibers as organic fertilizer.</p>

<p>But some consumers now demand earth-friendly products, and marijuana cultivators are responding.</p>

<p>Because the federal government does not recognize marijuana as a legal crop, it cannot receive the U.S. Department of Agriculture’s organic label, and therefore, isn’t regulated to the same environmental standards as other major crops.</p>

<p>When Chris Van Hook’s abalone farming days ended in 2012, he used his environmental background and a newly acquired law degree to develop an organic certification for marijuana plants.</p>

<p>He claims he loosely based his “Clean Green” recognition on the USDA’s organic certification. It’s difficult for growers to gain Van Hook’s certification, though, because it requires growers to not only limit pesticide use on their plants but also to prove they get resources legally.</p>

<p>“In 2015, we’ve actually been turning down more applicants than we ever have before because of the drought in the West and in California, in particular,” Van Hook said.</p>

<p>Patrick Rooney, a grower and part owner of Vashon Velvet — on Vashon Island, Washington — said energy has been a central focus of keeping his indoor grow “thoughtful” in terms of its impact. He described the business as a “sustainable artisan marijuana farm.”</p>

{% include e-pull-image.html image="patrickrooney-768.jpg" caption="Patrick Rooney, a grower for Vashon Velvet, a family-owned cannabis farm on Vashon Island, is concerned that as more growers join the market, the amount of energy consumed will increase exponentially. (Photo by Kathryn Boyd-Batstone | News21)" %}

<p>Rooney and his partners use about 55 energy-saving LED lights rather than high-wattage lights, which also produce heat. By using LED lights, Rooney not only conserves energy, but he reduces the costs associated with cooling down an overheated space.</p>

<p>As more people join the marijuana industry, Rooney said there is cause for concern: More growers means higher energy consumption for cultivation.</p>

<p>“Cannabis is an aggressive indoor plant,” he said. “(It) needs a lot of light, a lot of nutrients.”</p>

<p>But as consumers become more aware of where their marijuana comes from and the footprint it leaves behind, he expects them to seek out smaller, more sustainable grows.</p>

<p>“We go for quality over quantity here,” he said. “And I think we’re able to do that because we’re focusing so much on the environmental impact of what we’re doing.”</p>

<p>Jesse Peters of Eco Firma Farms has taken a different approach to sustainable energy.</p>

<p>Eco Firma Farms exclusively uses wind turbines to meet its energy needs, and it is moving toward being a carbon-neutral operation from beginning to end, he said.</p>

<p>“We’re trying to keep a sustainable method here at this farm and set an example,” Peters said, “so that we can flourish as an industry without being too hard on the environment.”</p>

<p>As for the growers trying to do things right, Lyon said, “We’re not criminals. We’re not outlaws. We’re not dangerous. We’re just country people. I’m just an old man on a mountain with an old dog.”</p>

<p><em>News21 journalists Kathryn Boyd-Batstone, Brittan Jenkins and Matias J. Ocner contributed to this article.</em></p>

<p><em>This story has been updated to correct Chuck Lyon's location. He lives in Mendocino County, California.</p></em>