---
layout: story
title: "Tribes wait to jump into weed rush"
byline: "Lex Talamo"
credits:
  - Lex-Talamo
hero: tribal-hero
hero-credit: Kelcie Johnson
permalink: /tribes-wait-to-jump-into-weed-rush/
slug: triballands
socialimage: tribal-hero-768.jpg
blurb: "While Native American tribes can decide whether to legalize marijuana on tribal lands, many are concerned about possible repercussions from the federal government"
soundcite: no
section: politics
pinfooter: yes
---

<p>Most Native American tribes are opting not to legalize marijuana, though at least two are poised to try it – just six months after a Justice Department memo indicated federal authorities likely would not interfere with growing marijuana on tribal lands if other federal crimes were not committed.</p>

<p>Many tribes exploring their options said that as U.S. citizens and sovereign nations, they deserve the right to choose to legalize as states have done. However, tribes continue to balk at the vague language of the Justice Department’s so-called “Cole Memorandum” and the fear of federal prosecution.</p>

<p>“This is not the position of the entire federal government. It’s very complicated,” said tribal attorney Lael Echo-Hawk of the Seattle-based law firm of Garvey, Schubert, Barer. “Tribes interested need to get some written assurance from their district attorney because possessing a Schedule I controlled substance carries serious penalties and is not something to be taken lightly.”</p>

<p>The Cole memo notes that nothing in it “alters the authority or jurisdiction of the United States to enforce federal law in Indian country” but leaves it to federal prosecutors to prioritize  enforcement based on factors like distribution to minors, trafficking with criminal enterprises, drugged driving and possession on federal property.</p>

<p>“If tribes don’t do this right, their situation could get a lot worse,” said Robert Williams, director of the Indigenous Peoples Law and Policy Program at the University of Arizona. “The stakes are high, and the consequences could be disastrous.”</p>

{% include e-parallax.html image="pine1" caption="Graffiti near a skatepark in Pine Ridge, South Dakota. (Photo by Kelcie Johnson | News21)" %}

<p>Domestic violence, substance abuse and suicide rates on reservations are many times higher than the national average. Additional problems include poor housing and education systems. While some leaders believe legalizing marijuana would exacerbate their tribe’s tribulations, others view marijuana as an economic opportunity to reclaim financial independence and improve the quality of life for their people.</p>

<p>“From a social standpoint, Natives have some of the highest percentages of the worst categories in this country in terms of suicide, drug abuse, child mortality … indicators of a society in decline,” said Brandon Cornelison, president of the Facebook group Native American Cannabis Coalition and a member of the Sac and Fox of the Mississippi in Iowa.</p>

{% include e-parallax.html image="pine2" caption="Tribes are concerned about the impact that legalizing marijuana might have on their youth and communities. Shown here is a home on the Pine Ridge Reservation in South Dakota. (Photo by Kelcie Johnson | News21)" %}

<p>He supports legalizing, saying, “Something has to change.”</p>

<p>The Pinoleville Pomo tribe in California plans to build a medical marijuana grow operation in Mendocino and the Flandreau Santee Sioux Tribe of South Dakota has decided to legalize and start selling marijuana by next year. Neither tribe would comment on the plans.</p>

<p>Native American sales on reservations are not subject to federal taxes. Tribes that favor legalization believe they could generate much-needed revenue through innovative business and pharmaceutical ventures.</p>

<p>Matt Bear, a member of the Meskwaki tribe of Iowa, said legalization presents an opportunity because Iowa currently has no manufacturers of medical marijuana.</p>

<p>“Patients need to travel four to 12 hours, to Colorado or Minnesota, to gain their medication,” Bear said. “The tribe could take advantage of this opportunity for economic development and also provide a very stable and much-needed pharmaceutical.”</p>

<p>Multiple companies have jumped at the chance to work with tribes in developing large-scale marijuana operations.</p>

<p>Medical marijuana, its supporters say, is better than using opiates for chronic plain.</p>

<p>Shondel Barber, of the Lac Courte Oreilles Ojibwe in Wisconsin, said she would rather see people taking medical marijuana for pain than heroin or Vicodin and added that the revenue generated from marijuana could help the tribe.</p>

{% include e-parallax.html image="pine3" caption="Some tribal youth are concerned legalizing marijuana could lead to drug addiction and illegal dealing on the Pine Ridge Reservation in South Dakota. (Photo by Kelcie Johnson | News21)" %}

<p>“There have been so many cutbacks on so many programs,” she said. “Our schools need money. Our Boys and Girls Club needs money. We need a bigger clinic. If we had more money, we would be able to provide more for people.”</p>

<p>Other tribal representatives said they worry legalization will further increase high rates of drug use among Native Americans.</p>

<p>“We’re already dealing with substance abuse,” said Attorney General Alfred Urbina of the Pascua Yaqui Tribe in Arizona.</p>

<p>Even if legalizing marijuana could help tribes, many said they are leery of legalizing with only the Cole Memorandum as a guide.</p>

<p>“It’s a policy decision, not a change in the law,” Urbina said.</p>

<p>Participating in the marijuana industry may have other risks like the losing federal funding.</p>

<p>“Each time a tribe agrees to accept federal funding, they also agree not to violate federal law,” said Echo-Hawk, the Seattle attorney who is also a member of the Pawnee Nation of Oklahoma. “Engaging in the industry, which is a violation of the Federal Controlled Substances Act, could lead to a federal agency freezing funding to that tribe.”</p>


