---
layout: story
title: "The new world of marijuana in the nation’s capital still poses old problems"
byline: "Brianna Gurciullo and Karen Mawdsley"
credits:
  - Brianna-Gurciullo
  - Karen-Mawdsley
hero: washingtondc-hero
hero-credit: Karen Mawdsley
permalink: /the-new-world-of-marijuana-in-the-nations-capital-still-poses-old-problems/
slug: washingtondc
socialimage: washingtondc-hero-768.jpg
blurb: "Possession of small amounts of marijuana is legal in Washington, D.C. But with sales still illegal, residents are getting creative."
soundcite: yes
section: recreational
pinfooter: yes
---
{% include e-sections.html slug="dc" %}

<p>WASHINGTON, D.C. – About 30 party guests wearing suits and summer dresses mingled in the candlelit backyard of a small, private home in the Forest Hills neighborhood here and snacked on hors d'oeuvres to the sound of jazz. Instead of cocktails, they sipped gourmet coffee and tea infused with marijuana.</p>

<p>In the kitchen, servers poured hot and iced drinks for the tasting party. They were showcasing products from House of Jane, a California-based company that sells cannabis-infused beverages. Jane’s Brew C-Cups were on display in the living room, stacked on a table alongside similarly branded coasters.</p>

<p>“What Jane’s Brew is trying to do is alleviate, remove the stigma for cannabis,” said Jill Amen, the company’s co-founder, who was allowing the guests to sample her products for free. “It can be done in a professional way – just like a cocktail party, a very social event. Because it is a social event.”</p>

<p>This is the new world of marijuana in the nation's capital, where residents have been able to legally possess, privately consume and grow limited amounts of pot since February.</p>

<p>The sale and purchase of marijuana remains illegal here, unlike the four states that have fully legalized both recreational and medical marijuana. Instead of being sold at shops and generating new tax revenue, marijuana in the District can be grown at home and shared.</p>

<!-- "Comparing Recreational Marijuana INTERACTIVE GRAPHIC from Evan Wyloge and Hari Subrani -->

<p>Smokers and growers said they feel like they can be more open about their passions, but local politicians, activists and business people said pot continues to be dealt illegally at homes, on park benches or in the street. The illegal market is as robust as ever – if not more so with D.C. residents curious and talking about marijuana.</p>

<p>As written, the law allows for dozens of scenarios that cause residents and police officers to shrug their shoulders. You can’t buy or sell marijuana, but what exactly constitutes a transaction? The line between legal and illegal is fine and blurry, confusing many and creating loopholes that some growers and dealers hope to exploit. </p>

<p>The people who helped put legalization on last year’s ballot said this will be the reality for D.C. for at least two or three more years. The federal government still classifies marijuana as an illegal and a dangerous drug. Lawmakers’ positions on marijuana have not evolved as quickly as the public’s, and Congress has blocked the District from creating a system to tax and regulate pot sales. </p>

{% include e-pull-image.html image="dc-sidebar-1.jpg" caption="" %}

<p>“D.C. is kind of like the Alice in Wonderland of cannabis. The Queen of Hearts is Congress,” said Alex Jeffrey, the executive director of the National Organization for the Reform of Marijuana Laws’ D.C. chapter. “Recreation and regulation should go hand in hand. We are an exception to the rule.”</p>

<p>The city also has a medical marijuana program, which the D.C. Department of Health regulates. More than 3,800 residents were enrolled in the program in mid-July. </p>

<p>Keith Stroup, the founder and former executive director of NORML, hopes that the success of D.C.’s medical marijuana program will help change lawmakers’ minds. Members of Congress drive by the District’s medical marijuana dispensaries “and they realize that marijuana is legal here and the sky didn’t fall,” Stroup said.</p>

{% include e-pull-image.html image="dc-sidebar-2.jpg" caption="" %}

<p>Even if Congress – which approves D.C.’s budget – steps out of the way, it could take more than a year for the local government to implement a system for regulating and taxing pot sales unless a D.C. Council member introduces emergency legislation. After voters approved a ballot initiative by almost 70 percent to legalize medical marijuana in 1998, Congress prevented the city from creating regulations until 2009. The first legal medical marijuana sale didn’t occur in D.C. until 2013.  </p>

<p>But Adam Eidinger, who served as chairman of the D.C. Cannabis Campaign, which spearheaded last year’s ballot initiative to legalize pot, said he thinks possession, consumption and home cultivation of recreational marijuana are enough for now.<a name="dc1"></a </p>

<p>“On a personal level – this isn’t speaking so much about the movement – but on a personal level, we’ve come so far. Like, it’s OK,” Eidinger said. “We can handle where we’re at right now for a little while longer and be very content with it. We’re not going to see a lot of problems with marijuana – for a while at least, I hope – that really require stores.”</p>

<h2>Business opportunities — and limitations</h2>

<p>A business climate has emerged in the District characterized by entrepreneurs finding creative, roundabout ways to make money legally without selling marijuana itself.</p>

<p>Businesses like Canna Party LLC bring products related to smoking marijuana into their clients’ homes – similar to a jewelry party. MetroX DC delivers bongs, pipes and lighters to the doorsteps of D.C. residents.</p>

<!-- ComfyTree Cannabazaar Photo Gallery -->

{% include e-slideshow.html uniqueid="comfytree" %}

<p>After the new D.C. law went into effect, Silver Spring, Maryland, resident Jacob Asbell founded Hydro-City, which sells and rents out all the equipment needed to grow marijuana indoors. Hydro-City’s grow kits include lamps, bulbs, tents, fans, timers, fertilizers and filters. Asbell and his co-workers started to install growing systems in D.C. homes in June.</p>

<p>“We come to your place, we set everything up for you, we teach you how to use it, we include everything you need to grow, and then just add seeds and water,” Asbell said. “Right now unfortunately the only way you legally can obtain cannabis in D.C. is to grow it yourself or have somebody give it to you for free. So unless you’ve got really, really generous friends, if you’re a regular consumer, then growing is an incredibly viable option. So our main thing is really making it accessible.”</p>

<!-- Vertical Photo of Jacob Asbell (img/single-pull/jacob-asbell-vertical-768.jpg) -->

{% include e-pull-image.html image="jacob-asbell-vertical-768.jpg" caption="Hydro-City founder Jacob Asbell displays a high-output grow light. His company sells and rents out equipment for growing marijuana. (Photo by Karen Mawdsley | News21 )" %}

<p>Asbell said the law still causes confusion, and his business is “trying to navigate this crazy sort of situation in D.C.” Other business people said they often feel like they are wading into legal gray areas and have to test the parameters of the law through trial and error. </p>

<p>Eidinger reopened his head shop, Capitol Hemp, this summer – about three years after the city made him and his partner shut down. He sees business opportunities in accessory retail and manufacturing, pointing out that there are countless variations of pipes, rolling papers and vaporizers. Before the new law, head shop owners had to pretend their products were only being used for legal substances like tobacco, he said. </p>

<p>"It’s also sort of a sweet victory for us to be able to reopen the store without any fear,” Eidinger said. “You’ll be able to go into the store and talk about using marijuana if you’re over 21, and we can be completely open and have a totally open conversation about marijuana."</p>

<!-- Mid-size photo of grow room lights (img/single-mid/grow-light-1200.jpg) -->

{% include e-mid-image.html image="grow-light-1200.jpg" caption="A shower-sized indoor grow tent houses mature marijuana plants belonging to a resident of D.C.’s Petworth neighborhood. (Photo by Karen Mawdsley | News21)" %}

<p>Home growers here take pride in their plants and are trying to build their reputations among fellow growers. Facebook groups have cropped up where growers can share photos and ask for advice. Members of the groups also post about events – from massive seed shares to “grow schools” to “safety meetings,” where people smoke together at a private home.<a name="dc2"></a </p>

<p>Marijuana possession remains illegal on federal land. That includes federally subsidized public housing projects, which are overwhelmingly home to black D.C. residents. </p>

<h2>The path to decriminalization</h2>

<p>Disparity in marijuana-related arrests between blacks and whites helped spur local activists and politicians to set the District on the path to legalization. The American Civil Liberties Union found in a 2013 report that, though blacks and whites nationwide use marijuana at about the same rates, blacks in D.C. were eight times more likely to be arrested for possession than whites.</p>

<p>Following the ACLU report, the D.C. Council passed legislation in March 2014 to decriminalize small possession: Instead of an arrest, those caught with up to an ounce of marijuana would face a $25 fine.</p>

{% include e-interactive-js-drop.html path="rec_laws" %}
</br>
<p>After decriminalization went into effect in July 2014, local activists landed a measure on the November ballot to eliminate all penalties for possession of up to 2 ounces, and allow D.C. residents to grow up to six plants in their homes.</p>

<p>Buying and selling the drug would remain illegal, at least in the short term, but home cultivation would give users access to pot. A friend or acquaintance could also give them up to an ounce – as long as no money, goods or services were exchanged for it. If the city wanted to set up a system for taxing and regulating sales, the D.C. Council would have to initiate that process.</p>

<p>In November, about 70 percent of District voters approved this partial legalization ballot measure, called Initiative 71. It passed in every precinct except one, according to the D.C. Board of Elections.</p>

<!-- Photo of Adam Eidinger (img/single-pull/adam-eidinger-768.jpg) -->

{% include e-pull-image.html image="adam-eidinger-768.jpg" caption="<span class=\"soundcite\" data-url=\"http://weedrush.news21.com/soundcite/Adam_Eidinger.mp3\" data-start=\"0\" data-end=\"61000\" data-plays=\"1\">PLAY</span> Adam Eidinger, chairman of the D.C. Cannabis Campaign, speaks about racial disparities in marijuana arrests, which Initiative 71 was designed to help combat. (Photo by Karen Mawdsley | News21)" %}

<p>While campaigning for Initiative 71 last year, activists claimed the measure was meant to benefit those most likely to face arrest: members of black, lower income communities. D.C. Cannabis Campaign posters read, “Legalization ends discrimination.”</p>

<p>Stroup said that when NORML had approached black leaders in D.C. in the 1970s, they opposed legalization.</p>

<p>“They would essentially say, ‘Look, we’re sympathetic, but we can’t support it because drugs have ravaged our communities. We just can’t take a position that says more drugs,’” Stroup said. “On the other hand, we also knew they were the people who were paying the heaviest price of prohibition.” </p>

<p>The proposed law was supposed to make a difference for black residents, but as recently as five years ago, a majority of blacks in D.C. opposed legalization, according to a Washington Post poll.</p>

<p>Opinion appeared to shift in 2014, with 58 percent of blacks supporting legalization, according to a Post poll. Paul Zukerberg, a longtime marijuana activist and D.C.-based lawyer, said the change in opinion was driven by the conversation about black arrests.<a name="dc3"></a </p></p>

<p>“Once the racial disparity issue was discussed and people began to understand that – which certainly the centerpiece of that was the ACLU report – once people could see those numbers, the entire city came around so that even a majority in the Wards 6, 7 and 8 voted for Initiative 71,” Zukerberg said, referring to predominantly black parts of the city.</p>

<h2>Police and public safety</h2>

<p>That dialogue also prompted a discussion about law enforcement practices in the District. After the ACLU released its report, Metropolitan Police Department Chief Cathy Lanier publicly denied that D.C. officers targeted black residents.</p>

<p>Lanier told a local news station earlier this year that officers “for the last 20 years have avoided possession-of-marijuana arrests,” which are rarely prosecuted. “It was a waste of time for officers to make possession-of-marijuana arrests,” she said.</p>

<p>Since possession was legalized, D.C. Council member David Grosso said the chief has told him that the police are “taking a pretty hands-off approach” to enforcement. “The ACLU is watching this very closely to make sure there’s a reduction in arrests,” he said.</p>

<p>Between Feb. 26, when pot was legalized, and July 22, D.C. police made 120 marijuana-related arrests, according to data provided by MPD’s public information office. Of those arrests, 43 were for consumption of <a name="dcmap"></a> marijuana.</p>

<!-- TABLE of marijuana-related arrests in the 21 weeks since legalization -->
<iframe width="100%" height="520" frameborder="0" src="https://news21.cartodb.com/viz/c2b1d0e2-3a20-11e5-9e2e-0e5e07bb5d8a/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<p>Fifty-seven arrests were for possession of marijuana with intent to distribute. More than half of those arrests took place in the police department's sixth district.</p>

<p>In 2010, law enforcement agencies including MPD made 5,393 marijuana arrests in D.C., according to an analysis by the ACLU of the Nation’s Capital. More than 1,000 of those arrests occurred in 6D, a community east of the Anacostia River with many of the city’s public housing projects.</p>

<p>Drug use and sales tend to be more out in the open in low-income, minority communities, which increases the chances of encounters with police, according to a Human Rights Watch report released in 2009. Meanwhile in wealthier areas, illegal activity is likely to occur behind closed doors.</p>

<p>“The rich and privileged had the benefit all along, and what we’re doing is we’re extending the benefit,” Zukerberg said. “In other words, for wealthy and privileged people, it’s always been decriminalized because there’s been no enforcement. There’s no stop-and-frisk up in Tenleytown,” a majority-white, higher-income neighborhood.</p>

<p>Grosso introduced a bill to tax and regulate pot sales, but Republicans in Congress have blocked the legislation from moving forward. That interference has driven together pot activists and advocates for D.C. statehood in mutual frustration. Many of the same faces appear at both D.C. NORML meetings and demonstrations for the District to have total control over its budget process and a voting representative in Congress.</p>

<!-- Photo of marijuana plants (img/single-pull/indoor-pot-768.jpg) -->

{% include e-pull-image.html image="indoor-pot-768.jpg" caption="Washington, D.C. residents can grow up to six marijuana plants in their homes, three of which can be mature. (Photo by Karen Mawdsley | News21)" %}

<p>The Senate Appropriations  Committee recently approved a spending bill that would allow D.C. to tax and regulate pot sales. The budget plan that President Barack Obama proposed in February would also allow it. But a spending bill in the House would maintain the status quo, keeping sales illegal.</p>

<p>A legal market in D.C. could be worth $130 million a year, city officials have estimated. </p>

<p>Grosso said marijuana investors have lobbied the Council, but “they know we’re not the problem.”</p>

<p>“If Congress would get off our backs, we would have a law passed in a couple of weeks,” Grosso said. “The business community knows they would be preaching to the choir if they came to talk to us.”</p>

<p>Those who fear the marijuana industry will become the next “Big Tobacco" have praised the D.C. law for preventing large-scale commercialization. But Grosso said he is more concerned about public safety. The District native said he grew up in a neighborhood where drug use was common, and he watched people buy drugs on street corners and out of car windows.<a name="dc4"></a </p> </p>

<p>“That sends a whole sense of uneasiness into the community and makes it harder for people to move forward in life in a positive way,” Grosso said. “I think the idea that we’re in some great space in D.C. is misguided.”</p>

<h2>A growing medical marijuana program</h2>

<p>Recreational legalization has had ripple effects in the medical marijuana realm. Corey Barnette, the owner of a medical marijuana cultivation center in D.C. called District Growers, said he has seen an increase in demand at the dispensary level, which has translated into an increase in demand for the marijuana that his business grows.</p>

<p>“What’s happened is that we do see a lot of people, who we would call closet medicators, are more open to marijuana programs,” Barnette said. “We can debate whether or not that was a direct result of Initiative 71, but I can tell there has been a spike in the level of interest and level awareness of the medical marijuana program.”</p>

<!-- Mid-size photo of Corey Barnette (img/single-mid/corey-barnette-1200.jpg) -->

{% include e-mid-image.html image="corey-barnette-1200.jpg" caption="Owner Corey Barnette stands outside District Growers cultivation center in northeast D.C. He also owns Metropolitan Wellness Center, a dispensary, and said he's seen an increase in demand for medical marijuana. (Photo by Karen Mawdsley | News21)" %}

<p>In July 2014, only 738 patients were registered with the Department of Health. By July 27 of this year, there were 3,948.</p>

<p>Barnette pointed out that the medical marijuana program had begun to explode before recreational legalization. The D.C. Council loosened the rules for obtaining medical marijuana last summer, setting off a surge in enrollment.</p>

<p>The District has seven cultivation centers and five dispensaries, according to the health department, and the D.C. Council has increased the number of plants that cultivators can grow from 95 to 500 to 1,000. But Barnette said even that hasn’t been enough to meet demand. It has driven people to the black market, where marijuana is untested and sellers can’t be held accountable.</p>

<p>And Barnette said he’s not worried about home-grown plants competing with his product. </p>

<p>“Right now, all over D.C., people are learning just how difficult it is – or just how much attention is necessary – to grow a plant to pharmaceutical grade,” he said. “You can grow your own tomatoes. Most people don’t. You can grow your own carrots. Most people don’t. You can make your own beer. Most people don’t.”</p>


