---
layout: story
title: "Washington merges recreational and medical marijuana to stop illegal sales"
byline: "Jayson Chesler"
credits:
  - Jayson-Chesler
hero: washington-hero
hero-credit: Kathryn Boyd-Batstone
permalink: /washington-merges-recreational-and-medical-marijuana-to-stop-illegal-sales/
slug: washington
socialimage: washington-hero-768.jpg
blurb: "Recreational pot program is up and running with more than 150 dispensaries. But it’s expensive and heavily taxed."
soundcite: no
section: recreational
pinfooter: yes
---

{% include e-sections.html slug="washington" %}


<p>SEATTLE — Stephen Damgaard uses medical marijuana for nerve damage in his spine, eating a small brownie made with cannabutter each morning. The weed in the butter comes from one of Seattle’s many medical dispensaries — an untaxed and illegal medical pot shop that up until now has been tolerated by authorities.</p>

<p>But almost everything about marijuana in Washington is about to change, as the state moves to regulate both its 17-year-old medical marijuana program and the legalization of recreational marijuana passed by voters in 2012.</p>

<p>Most medical marijuana, previously untaxed and almost completely unregulated, must now be purchased in the same regulated retail stores that sell weed to recreational users. In addition to paying a 37 percent tax on purchases, medical marijuana patients face lower possession limits and tight restrictions on growing marijuana in group collectives.</p>

<p>Washington state lawmakers acted to cut down on illegal marijuana cultivation and sales, which previously were impossible to track. Medical marijuana users like Damgaard see loopholes closing around them. By July 1, 2016, new regulations will be fully in place and medical patients will be part of the retail market.</p>

<p>The state’s legal weed shops are now functional, but expensive. Sales made by the state’s more than 150 recreational stores in July were taxed at rates as high as 50 percent, officials said, which was cut to 37 percent tax on August 1 as part of the new regulations.</p>

{% include e-parallax.html image="washington-1" caption="One grower, who is part of a collective grow, must now hide her plants in her basement because of changed medical marijuana laws. (Photo by Kathryn Boyd-Batstone | News21)" %}

<p>The recreational system took more than a year to get up and running, with the first shops opening in July 2014. Seattle City Attorney Pete Holmes advocated heavily for legalization and medical regulation, but said that high taxes had made implementing a retail marijuana system challenging.</p>

<p>“I think we’re doing it right,” Holmes said. “Admittedly, it’s taken longer than we thought, but I think that by building the system from the ground up we’re going to have a tighter system.”</p>

<p>Despite those taxes, retail marijuana is only a few dollars per gram more expensive than untaxed weed, Holmes said. While the price difference might make everyday users like Damgaard look for other options, Washington’s retail marijuana sales have topped $30 million the past three months. New users and tourists are major driving forces in retail sales, Holmes said.<a name="w1"></a></p>

<p>Still, fear of higher prices, possession limits and lack of access to the specific marijuana products that high-use patients need has left medical marijuana advocacy groups fighting back against laws that both Democrat and Republican legislators see as good.</p>


<h2>Cost</h2>

<p>Cost has been an issue since recreational marijuana was legalized in Washington. On top of a shortage of legal shops to sell, the heavy taxes on every step of the process made the limited inventory expensive for buyers trying to do things the legal way.</p>

<p>Medical marijuana in Washington had never been taxed. The new 37 percent rate for all marijuana sales is the highest medical marijuana tax in the nation. </p>

<p>Supporters of the new laws say that having everyone participate in the same market will make prices drop in the long run. The idea that retail pot is unreasonably expensive isn’t accurate now that more than a few shops are up and running, Holmes said.</p>

<p>“We’re seeing already, even with the limited supply, costs have just really dropped,” Holmes said. “In the last 12 months, prices are probably 50 percent of what they were before. With that kind of movement and that kind of price sensitivity, the legal market is going to beat the illegal market in the marketplace.”</p>

{% include e-slideshow.html uniqueid="washington-illegal" %}

<p>Medical growers estimated the cheapest medical marijuana is selling for between $125 and $140 an ounce, while the cheapest ounces available at Uncle Ike’s and Ocean Greens — two of Seattle’s most popular retail stores — are around $190. For a patient like Damgaard, who said he uses three ounces a week, the price difference can add up.</p>

<p>I’m on a fixed income,” Damgaard said. “I can only afford a little bit.”<a name="w2"></a></p>

<p>Damgaard said he gets some of his marijuana for free from an untaxed, illegal medical pot shop. The new laws allows retail stores to give medical patients free marijuana if they wish, so the dispensary could continue to do so if it gets licensed.</p>

<h2>Medical legalization</h2>

<p>When medical marijuana was first legalized in Washington in 1998, there wasn’t much to it. Some of the states that legalized later included rulemaking guidelines or regulations in their medical marijuana initiatives. Washington’s ballot initiative only dealt with the basics. For example, a patient needed only a doctor’s recommendation to obtain medical marijuana.</p>

{% include e-parallax.html image="washington-2" caption="Since the legalization of recreational marijuana in 2012, regulations for medical marijuana have tightened, ultimately causing collective grows to fall into a legal gray area. (Kathryn Boyd-Batstone | News21)" %}

<p>“[Medical marijuana legalization] created an affirmative defense for a patient or designated provider who is authorized by their healthcare provider to possess a 60-day supply of marijuana,” said Kristi Weeks of the Department of Health. “That’s all it created.” </p>

<p>That means that a medical marijuana patient could be arrested for possession, but they could use their medical authorization as a legal defense at trial.</p>

<p>While the health department would later define a 60-day supply as 24 ounces of marijuana, little else was done to clarify what medical patients could and could not do.<a name="w3"></a> </p>

<p>In the absence of regulations, large medical marijuana cultivation cooperatives and dispensaries sprouted around the state. Police and prosecutors largely tolerated them as an alternative to forcing medical patients to buy weed off the streets, Weeks said.</p>

<h2>Possession limits</h2>

<p>Under the new laws, medical patients who previously could possess 24 ounces — as long as they could prove they needed it if arrested — are now allowed three. The three ounces are permitted only if they are willing to sign up for the state medical marijuana registry. Unregistered patients are limited to one ounce. </p>

<p>To Joe Mascaro, a medical marijuana patient who legally grows for a handful of friends, the possession limits are going to hurt those who need medical marijuana the most. “For you or me, three ounces seems like a lot,” Mascaro said. “For a cancer patient, they can go through it like that, easily.”</p>

{% include e-slideshow.html uniqueid="washington-legal" %}

<p>While Mascaro sees this as a state-controlled monopoly, officials see it as increased availability. “When we made the original rules back in 2008, there was no access except for patients to grow their own,” Weeks said. “[Now], people will be able to purchase from stores, grow in cooperative grows or grow at home, so there’s no longer a need for anyone to have 24 ounces at any given moment in time.”<a name="w4"></a> </p>

<p>Holmes, the city attorney,  said he doesn’t  think the three-ounce limit will be enforced on its own other than in cases where a crime has been committed. “It would have to be one of those circumstances akin to lightning striking twice at the same place,” Holmes said. “Where you’re actually in possession (of more than three ounces) and having given a level of suspicion to a law enforcement officer to have them search you. … I haven’t seen it as a practical limitation.”</p>

<h2>Collectives</h2>

<p>Growing in a group will be more challenging for medical marijuana patients under the new regulations. The untracked, unregulated collective gardens are gone, but a way for patients to grow in small groups remains in the form of grow cooperatives.</p>

<p>The cooperatives are allowed a maximum of four patients — who are generally allowed to grow four plants each — but they must be registered with the state and cannot be within a mile of a marijuana store, a major challenge in places like Seattle. Some growers like Mascaro have already started to shrink their small collectives to personal grows. Some of those with big operations said they are more hesitant to downsize.</p>
  
<p>“I wish I could figure out how I could continue doing this (legally),” said one grower who feels her collective cannot be licensed because of prior arrests. “They just see that we were willing to break the law, so why would we suddenly be willing to comply with them?”</p>

<p>“I’m not taking this risk for you to resell it, I’m doing this to heal people,” she said. “If they [the state] are providing what we’re providing … if a patient can get quality, 20 [dollars]-per-gram RSO (Rick Simpson Oil, a medical marijuana extract), then I’ll quit.”</p>

<p>The state won’t actively be hunting for growers unless given a reason, said Justin Nordhorn, the Washington Liquor and Cannabis Board’s chief of enforcement. LCB employees won’t drive around looking for collective gardens, but will swiftly respond to complaints from citizens or retail stores, he said. “The likelihood of complaints coming in on a small operation are less than if you have a large operation that’s negatively impacting the community around you,” Nordhorn said.</p>

