---
layout: sections
permalink: /videos/
slug: videos
blurb: "Watch America’s Weed Rush videos"
---

{% include boxbreaker.html %}

<div class="metapage">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
			<h1 class="animated fadeIn">{{ page.blurb }}</h1>
			</div><!-- /12 -->
		</div><!-- /row -->
		
		{% include video-vimeo.html video="135781143" caption="This is the story of one farmer who lived off-the-grid for years, in the heart of Vashon Island in Washington. With the passage of Initiative 502, which legalized marijuana, Scott Durkee is reconnecting with society." title="Weed Island" story="vashonisland" %}
		
		{% include video-vimeo.html video="135302546" caption="Alaska legalized recreational marijuana in November 2014, but people have been using and growing it for years." title="Alaska: Legalization on the Last Frontier" story="alaska" %}
		
		{% include video-vimeo.html video="135686419" caption="In 2014, the state of New York passed a law that decriminalized possession of small amounts of marijuana. However, many New York communities are still seeing the repercussions of the police technique, “stop, question and frisk.“" title="East New York and marijuana possession" story="newyork" %}
		
		{% include video-vimeo.html video="135614693" caption="On Venice Beach in Los Angeles, California, Dr. Reuben Castillo writes medical marijuana recommendations for patients at The Green Doctors. The office, which is just across from iconic Muscle Beach, has multiple patients visit every day." title="The Green Doctors" story="california" %}
		
		{% include video-vimeo.html video="135692261" caption="In 2010, 41 percent of Americans supported legalization, according to a Pew Research Center report. Today, 53 percent favor it. This stop-motion animation looks at the ways in which public opinion around marijuana in the U.S. has shifted in the last decades." title="What do Americans think about Mary Jane?" story="cannabisculture" %}
		
		{% include video-vimeo.html video="135887232" caption="Medical marijuana caregivers have the ability to grow or handle the substance for medical patients. Many patients who are unable to grow themselves or are physically unable to drive to a dispensary to pick up their marijuana designate a caregiver who can complete these tasks for them." title="Caregivers Overview" story="caregivers" %}
		
		{% include video-vimeo.html video="135493453" caption="Pennsylvania mothers Heather Shuker and Julie Michaels are pushing state legislators to approve the use of medical marijuana in children. Both their daughters have a rare form of epilepsy." title="Pennsylvania mothers push for medical cannabis to treat children's seizures" story="children" %}
		
		{% include video-vimeo.html video="134990368" caption="In 2015, Oregon became the fourth state to legalize recreational marijuana. Follow this series of five videos as News21 tracks the production of marijuana from seed to sale." title="Crafting Oregon's Weed Rush" story="oregon" %}
		
		{% include video-vimeo.html video="135408227" caption="As of 2015, Colorado has 883 licensed marijuana dispensaries, all overseen by the Marijuana Enforcement Division. And although the state has seen an influx of tax revenue from the industry, there are many who feel the state was not ready for marijuana commercialization." title="Colorado: Profit and Pain" story="colorado" %}
		
		{% include video-vimeo.html video="135900146" caption="In the late 70s and early 80s, states throughout the South passed legislation that would have provided marijuana to qualified patients. The state legislatures found that there may be medical benefits to marijuana and laws were created to alleviate suffering from a variety of ailments. But in most cases the programs were never implemented." title="South Overview" story="south" %}
		
		


	
	<div class="row">
	<div class="col-xs-12">
	<h2>The entire collection of America’s Weed Rush videos is <a href="https://vimeo.com/album/3473144">available on Vimeo</a>.</h2>
	
	</div>
	</div><!-- /container -->
	</div> <!-- metapage -->