{% comment %}

To include in a story: {% include e-pin.html %} 

Goes last in the story.

{% endcomment %}

</div> <!-- /row -->

<div class="col-xs-9 col-xs-offset-1">

<h3>Give us your feedback</h3>

<button type="button" class="btn btn-pin btn-lg" data-toggle="modal" data-target="#pinModal">
	We want to hear from you
</button>



<div class="modal fade" id="pinModal" tabindex="-1" role="dialog" aria-labelledby="pinModal">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Inform our reporting</h4>
      </div>
      <div class="modal-body">
        <script type="text/javascript" src="https://www.publicinsightnetwork.org/air2/js/pinform.js?uuid=1ae87e24668d"></script>
<div id="pin-query-1ae87e24668d"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-xs-9 col-xs-offset-1">