{% comment %}

To include in a story: {% include e-pull-pin.html %} 

{% endcomment %}

<div class="sections pull-right col-md-offset-1">

<h3>How did we do?</h3>

<button type="button" class="btn btn-pin btn-lg" data-toggle="modal" data-target="#pinModal">
	Share your thoughts
</button>
<p style="padding-top: 10px;">Public Insight Network<br />

American Public Media</p>



<div class="modal fade" id="pinModal" tabindex="-1" role="dialog" aria-labelledby="pinModal">

  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Inform our reporting</h4>
      </div>
      <div class="modal-body">
        <script type="text/javascript" src="https://www.publicinsightnetwork.org/air2/js/pinform.js?uuid=1ae87e24668d"></script>
<div id="pin-query-1ae87e24668d"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>


