<div class="container story filler link-underline">
<div class="row">
	<div class="col-xs-9 col-xs-offset-1">
	<div class="fixscroll"><a name="intro"></a>&nbsp;</div>
<h1>A look inside the News21 2015 project</h1>

<p>“America’s Weed Rush,” an investigation of marijuana legalization in America, is the 2015 project of the Carnegie-Knight News21 program, a national multimedia investigative reporting project produced by the nation’s top journalism students and graduates.</p>

<p>This year, 27 journalism students from 19 universities traveled through half the country to report on the politics, regulation and science behind the nation’s marijuana movement. From Nevada to Maine, California to Connecticut, reporters interviewed politicians, parents, patients, dispensary owners, farmers, police and advocacy groups on all sides of the debate.</p>

<p>Legalization efforts could appear on the ballot in about a dozen states next year, and advocacy groups have <a href="{{ site.data.urls.legalization.url }}">raised millions of dollars</a> to support the efforts.</p>

</div>
</div> <!-- /row -->
<div class="row frontnav">
	<div class="col-xs-9 col-xs-offset-1">
	<div class="col-sm-4 col-lg-2 frontnav-item">
		<a href="{{ site.data.urls.sections.url }}#politics"><button type="button" class="btn">Politics</button></a>

	</div>
	<div class="col-sm-4 col-lg-2 frontnav-item">
		<a href="{{ site.data.urls.sections.url }}#medical"><button type="button" class="btn">Medical</button></a>
		
	</div>
	<div class="col-sm-4 col-lg-2 frontnav-item">
		<a href="{{ site.data.urls.sections.url }}#recreational"><button type="button" class="btn">Recreational</button></a>
		
	</div>
	<div class="col-sm-4 col-lg-2 frontnav-item">
		<a href="{{ site.data.urls.sections.url }}#science"><button type="button" class="btn">Science</button></a>
		
	</div>
	<div class="col-sm-4 col-lg-2 frontnav-item">
		<a href="{{ site.data.urls.sections.url }}#money"><button type="button" class="btn">Money</button></a>
		
	</div>
	<div class="col-sm-4 col-lg-2 frontnav-item">
		<a href="{{ site.data.urls.sections.url }}#law"><button type="button" class="btn">Enforcement</button></a>
		
	</div>

</div>
</div> <!-- /row -->
<div class="row">
<div class="col-xs-9 col-xs-offset-1">

<p>Over the course of this project, reporters also uncovered wide disparities in the enforcement of state marijuana laws, a lack of federally funded scientific marijuana research, illegal growers and sellers in nearly every state, and medical marijuana dispensaries that operate with impunity.</p>

<p>At the same time, News21 found some states with strict regulations and growing support nationwide for medical marijuana, particularly among parents who say <a href="{{ site.data.urls.children.url }}">marijuana helped their sick children</a> when no other medicine did.</p>

<p>The fellows reviewed thousands of pages of state statutes and assembled data examining, among other topics, marijuana laws by state, law enforcement actions involving driving under the influence of drugs, and marijuana testing procedures. This year’s project also includes an analysis of marijuana opinions on social media, which showed support for more relaxed marijuana laws.</p>

</div><!--  /container -->