<nav class="navbar navbar-inverse hidden-xs" id="navbar-carousel-shell">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-carousel-bottom" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-carousel-bottom">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.data.urls.sections.url }}#politics"><button type="button" class="btn btn-link">Politics</button></a></li>
        <li><a href="{{ site.data.urls.sections.url }}/#medical"><button type="button" class="btn btn-link">Medical</button></a></li>
        <li><a href="{{ site.data.urls.sections.url }}#recreational"><button type="button" class="btn btn-link">Recreational</button></a></li>
		<li><a href="{{ site.data.urls.sections.url }}#science"><button type="button" class="btn btn-link">Science</button></a></li>
		<li><a href="{{ site.data.urls.sections.url }}#money"><button type="button" class="btn btn-link">Money</button></a></li>
        <li><a href="{{ site.data.urls.sections.url }}#law"><button type="button" class="btn btn-link">Enforcement</button></a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
