<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//player.vimeo.com/video/134749428"></iframe>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1 story replacer">
<p class="credit">Video by Kathryn Boyd-Batstone | Words by Nick Swyter | News21</p>

<p>Jon Tester and Jeff Myers come dressed to work each day in newsboy caps, round-rimmed glasses and suspenders — plus a bowtie for Tester and a dark buttoned shirt for Myers. Together, they own the Brooklyn Holding Company, a medical dispensary gilded as if it it were a 1920s speakeasy.</p> 

<p>“From the time that you open the door, you walk into a time warp, you are in a turn of the century speakeasy with a few modern upgrades,” Tester said of their medical dispensary.</p> 

<p>According to Oregon’s Medical Marijuana Dispensary Program, there are 97 dispensaries in Portland. Until recreational marijuana sales are legal next year, medical dispensaries across Oregon compete for a limited customer base.</p>

<p>Tester and Myers said they attract patients because Oregon’s taste in marijuana compares to their taste in beer — craft is best. And in Portland’s competitive market it pays to have the best. They are already looking forward to adjusting their business for recreational sales.</p>

<p>“I really see the idea of the craft cannabis dispensary, and craft cannabis in general catching on and staying around,” Tester said.</p>

<p>Part of their plan is to control every step of marijuana production, from seed to sale, and to do it legally. Their business aspirations are a contradiction to the prohibition era that inspired their shop.</p>

<p>“The whole concept of Brooklyn Holding was about trying to set ourselves apart from what's already out there,” Myers said. “We've got to pay attention to quality, we have to pay attention to branding, we got to pay attention to how it feels when you are in here.”</p>

<p>The Oregon Liquor Control Commission is tasked with setting the rules for recreational marijuana sales. For the first half of 2015, they gathered feedback from those already looking to be a part of the marijuana industry. The commission says that some of the most consistent feedback they received was an insistence that Oregon’s marijuana market look and feel boutique.</p>

<p>“They were very vocal about wanting the growing operations in Oregon to be small boutique type operations, much like the winery business was when it started in Oregon,” said Tom Towslee, communications director for the commission’s recreational marijuana program.</p>

</p>

		</div> <!-- /col -->
	</div> <!-- /row -->
</div> <!-- /container -->


