<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//player.vimeo.com/video/134756886"></iframe>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1 story replacer">

<p class="credit">Video by Kathryn Boyd-Batstone | Words by Nick Swyter | News21</p>
<p>On the outskirts of Portland, an array of security cameras and a 12-foot-tall fence guard four-foot-tall plants at a new farm owned by the Five Zero Trees medical dispensary.</p>

<p>In July, Gov. Kate Brown signed a bill that will allow the first limited recreational sales on Oct. 1. Dispensaries will be able to sell a quarter ounce of dried flowers in counties that allow sales to happen. Five Zero Trees co-owner Case Van Dorne is setting up trellises for his plants to grow up to seven feet by harvest time in September. The new farm will help his dispensary have a steady supply of marijuana ready to sell to recreational customers in October.</p>

<p>“This is something that we built with the anticipation of being able to serve the recreational community, and being able to serve our current medical patients simultaneously,” Van Dorne said.</p>

<p>Only three years ago, Van Dorne and Five Zero Trees co-owner Joel Jennings’ marijuana business consisted of a small indoor grow site. Now, Van Dorne and Jennings belong to a collection of dispensary owners and cannabis growers looking to expand. In addition to their outdoor grow facility, the duo are adding a second dispensary in Southwest Portland. They also own a small warehouse space where they grow cannabis indoors.</p>

<p>When Oregon’s liquor control commission collected feedback this year on how to craft regulations for the recreational marijuana industry, “The most consistent themes were wanting to protect the existing marijuana growers in the state who were growing largely for the medical marijuana community,” said Tom Towslee, communications director for the commission’s recreational marijuana program. “They wanted to have the opportunity to grow for the recreational market as well.”</p> 

<p>Van Dorne said that before Five Zero Trees won the space for their new dispensary, several out-of-state marijuana investors approached the landlord for the location. Among the investors were a dispensary chain from Colorado and a large-scale grower from Washington. The landlord chose the local business owners.</p>

<p>“We are local, we have built everything on our own finance, we haven't taken out-of-state investment,” Van Dorne said. “I think that moving forward through recreational we are going to see a larger number of small growers producing the bulk of the cannabis here, as opposed to a small number of large growers like Washington or Colorado producing the bulk of the cannabis.”
</p>



		</div> <!-- /col -->
	</div> <!-- /row -->
</div> <!-- /container -->


