<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//player.vimeo.com/video/134990368"></iframe>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1 story replacer">

<p class="credit">Video and words by Nick Swyter | News21</p>
<p>Oregon’s weed rush has arrived. According to the state’s medical marijuana dispensary program, the state has approved 310 medical dispensaries since they became legal two years ago.</p> 

<p>Shortly after approved dispensaries started to sprout across the state in 2013, Oregonians pushed for the next prize. This July, Oregon joined Colorado, Washington and Alaska as the only states to legalize recreational marijuana.</p> 

<p>Southeastern Oregon sits on the northern tip of the Emerald Triangle, a region famous for growing prime and illegal marijuana. According to PriceOfWeed.com, the state also has the country’s cheapest marijuana.</p>

<p>“Oregon has built a reputation over the last 20 years for having this phenomenal cannabis,” said dispensary owner and grower Case Van Dorne. “People have started to really realize that Oregon is a place of such a high grade product.”</p> 

<p>Possession and home-growing of marijuana became legal on July 1, but sales remain banned until the Oregon Liquor Control Commission sets rules for the recreational program. They are expected to be finalized early 2016, and a full sales program should be in place later in the year.</p>

<p>Oregon has had the benefit of examining legislation of recreational marijuana in Colorado and Washington. “For Oregon's purposes, Colorado has always been a much better model for us, because it had an existing medical marijuana program, before it legalized recreational marijuana,” said Tom Towslee, the communications director for the commission’s recreational marijuana program. “Washington has been a great help because of the proximity. They are just across the river, and we talk to them about some of their experiences.”</p> 

<p>But marijuana businesses are not waiting for sales to become legal to prepare for a swell of new customers. Dispensaries are adding second locations, growers are planting seeds at new medical marijuana cultivation sites and some businesses are even looking to control every step of marijuana production, from seed to sale.
</p>		

		</div> <!-- /col -->
	</div> <!-- /row -->
</div> <!-- /container -->


