<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//player.vimeo.com/video/134686086"></iframe>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1 story replacer">

<p class="credit">Video and words by Nick Swyter | News21</p>
<p>In South Portland, analytical chemist Jeremy Sackett is standing in an empty room that he plans to fill with lab equipment to test marijuana sold in Oregon dispensaries. He is the owner of Cascadia Labs, a marijuana testing lab, and he hopes to make the empty room his company’s second testing facility.</p>

<p>The rise of recreational marijuana will bring government oversight to a young marijuana testing industry that has mostly been self-regulated. In late June, Gov. Kate Brown signed a bill that will require labs to be accredited by the Oregon Health Authority and licensed by the Oregon Liquor Control Commission.</p> 

<p>The 2013 law that legalized medical dispensaries requires all marijuana products sold in stores, including edibles and concentrates, to be tested for THC, the main psychoactive component of cannabis; CBD, a non-psychoactive component of cannabis that has anecdotal success with treating seizures and pain; four types of pesticides and mold and mildew.</p>

<p>“When a consumer comes to purchase a product they need to be assured that what is on the label is what is contained within that package,” Sackett said.</p>

<p>But as labs have sprouted, so have concerns about the limitations of the state’s testing requirements and consistency between labs.</p>

<p>Testing is not required for industrial metals, chemical solvents and the many other chemical components that make up cannabis. Many labs, including Cascadia, offer these tests for an additional cost. Different labs may also produce different results with the same samples.</p>

<p>“You can take a sample of marijuana to one lab, and it tells you that it is this level of THC, and this level of this, and this level of that. Take it to another one and you get a totally different report back,” said Tom Towslee, communications director of the liquor control commission. The commission is writing rules for the state’s recreational marijuana program and expects to announce the rules in early 2016.</p>

<p>Sackett is optimistic that concerns with lab testing practices will be addressed. He sits on a liquor control board subcommittee tasked with creating requirements for laboratories. 
</p>


		</div> <!-- /col -->
	</div> <!-- /row -->
</div> <!-- /container -->


