<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//player.vimeo.com/video/134747815"></iframe>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1 story replacer">
<p class="credit">Video by Kathryn Boyd-Batstone | Words by Nick Swyter | News21</p>

<p>Inside his one bedroom house on the outskirts of Portland, Tom Zakaras plays folk music on his guitar. He made a career of his music for 32 years until he suffered a stroke. Now, Zakaras is using medical marijuana during his recovery, as one of more than 71,000 cardholders in Oregon.</p>

<p>In 2005, while walking home from a gig,  Zakaras collapsed near the front door of his home. He woke to raindrops falling on his face and his dog laying on top of him.</p>

<p>“I stepped up with my right leg and that’s fine, the dog gets off. And I stepped on my left leg and I fall down again. So I get back up and I step on my left leg and I fall down again,” Zakaras said. “I had to learn to walk, I had to learn to use my left hand again to learn to play guitar again.”</p> 

<p>The stroke brought on seizures. He already suffered from depression and obesity. His pharmacy prepared packages of pills, 28 different medications in total, to take three times a day.</p>

<p>“When you take a look at the pile of pills and you realize that’s for you, you don’t want to take them anymore,” Zakaras said. “At that time I just started smoking more cannabis, and not just once in a while, but I really started indulging heavily.”</p>

<p>As a musician in the 70s, Zakaras used marijuana recreationally. After his stroke, he started taking fewer pills and more marijuana, experimenting with concentrates with more cannabidiol, a non-psychoactive component of the plant that has anecdotal success with treating seizures. His concentrates are free, because his former neighbor makes them for him, which is permitted under Oregon law.</p>

<p>“One day I just noticed, wow it has been a while, I haven't had a seizure in a year or more,” he said.</p> 

<p>What came next for Zakaras was learning how to use his left hand again to play guitar.</p> 

<p>“I put Roy Orbison videos on and he taught me to play guitar again,” he said, adding that cannabis helped him during that process. “It’s certainly not only because I use marijuana, but it’s a factor.”
</p>

		</div> <!-- /col -->
	</div> <!-- /row -->
</div> <!-- /container -->


