<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="//player.vimeo.com/video/134751896"></iframe>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-9 col-xs-offset-1 story replacer">
<p class="credit">Video by Kathryn Boyd-Batstone | Words by Nick Swyter | News21</p>

<p>On July 1, Stoney Girl Gardens, a cannabis seed company, handed out free packets of seeds to commemorate the day that Oregon legalized recreational marijuana.</p> 

<p>Even though possession of marijuana is now legal in the state, sales are banned until the Oregon Liquor Control Commission sets rules for the recreational market in 2016. By giving away seeds for free, the company worked around the sales ban and hosted one of the day’s largest parties.</p>

<p>“I’m really excited for the recreational market. It’s going to be the opportunity for every individual out here in Oregon to go out and start growing some cannabis in their backyard,” said company director Mike Mullins.</p>

<p>Stoney Girl Gardens grew up with the state’s marijuana program. Mullins and his wife Jenifer Valley started the company in 1999, a year after the state legalized medical marijuana. “In 1999 we were a little garden growing in one tiny garage and our focus was breeding,” said Valley, whose nickname ‘Stoney Girl’ inspired the name of the company.</p>

<p>Sixteen years later, the company has ventured beyond its initial goal of breeding seeds. They produce cannabis infused lotions, oils and edibles. Their office doubles as classroom space for patients taking lessons on growing their own plants.</p> 

<p>“We have recruited a lot of people to work with us. So instead of one tiny garage, it’s ten or twelve tiny garages, so its still small scale and has an artisan kind of quality, but there are more of us, and it’s all family,” said Valley.</p>

<p>The seedmakers expect more changes when recreational sales become legal. They are working toward controlling every step of their marijuana production, from seed to sale, by opening their first dispensary later this year.</p>

<p>“We have worked very diligently for the last 16 years in creating our branding and creating products that are dependable and consistent,” said Mullins. “The only way we are going to be able to maintain that product line through our stores is to actually create it ourselves.”</p>

</p>


		</div> <!-- /col -->
	</div> <!-- /row -->
</div> <!-- /container -->


