
<div class="container-fluid">
<div class="row tshirt-nav">


	<div class="col-xs-4 col-md-2 tshirt-item">
		<button type="button" id="intro" class="btn btn-link">Introduction</button>
	</div>
	<div class="col-xs-4 col-md-2 tshirt-item">
		<button type="button" id="seed" class="btn btn-link">Seed</button>
	</div>
	<div class="col-xs-4 col-md-2 tshirt-item">
		<button type="button" id="farm" class="btn btn-link">Farm</button>
	</div>
	<div class="col-xs-4 col-md-2 tshirt-item">
		<button type="button" id="lab" class="btn btn-link">Lab</button>
	</div>
	<div class="col-xs-4 col-md-2 tshirt-item">
		<button type="button" id="dispensary" class="btn btn-link">Dispensary</button>
	</div>
	<div class="col-xs-4 col-md-2 tshirt-item">
		<button type="button" id="patient" class="btn btn-link">Patient</button>
	</div>

</div>
</div>
