
{% include tshirt-nav.html %}

<div id="carousel-tshirt" class="carousel slide" data-ride="carousel">





  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">




    <div class="item active">

{% include t-intro.html %}


    </div>
    <div class="item">

{% include t-seed.html %}

    </div>
    <div class="item">

{% include t-farm.html %}

  </div>

    <div class="item">

{% include t-lab.html %}

    </div>
    
        <div class="item">

{% include t-dispensary.html %}

    </div>

    <div class="item">

{% include t-patient.html %}

    </div>



</div>
</div>

{% include boxenter.html %}


