<nav class="navbar navbar-inverse navbar-fixed-bottom tshirt-nav" id="navbar-carousel-bottom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-carousel-bottom" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-carousel-bottom">
      <ul class="nav navbar-nav">
        <li><button type="button" id="intro" class="btn btn-link">Introduction</li>
        <li><button type="button" id="seed" class="btn btn-link">Seed</li>
        <li><button type="button" id="farm" class="btn btn-link">Farm</li>
		<li><button type="button" id="lab" class="btn btn-link">Lab</li>
		<li><button type="button" id="dispensary" class="btn btn-link">Dispensary</li>
        <li><button type="button" id="patient" class="btn btn-link">Patient</li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

